<% if params[:contribution_for] == 'building_review' or params[:contribution_for] == 'unit_review' %>
	<h2>Write a review</h2>
	<hr />
	<div class="row">
		<div class="col-lg-6">
			<%= render partial: 'reviews/form' %>
		</div>
	</div>
<%elsif params[:contribution_for] == 'building_photos' or params[:contribution_for] == 'unit_photos' %>
	<% if user_signed_in? %>
		<%= render partial: 'uploads/form' %>
	<%else%>
		<div class="login-form" id="page-login">
			<h3>Please sign in / sign up to uplaod photos.</h3>
			<%= render partial: 'devise/sessions/new' %>
		</div>
	<%end%>
<%elsif params[:contribution_for] == 'building_amenities' or params[:building_id].present? %>
	<%= render partial: 'buildings/amenities_fields' %>
<%elsif params[:contribution_for] == 'unit_amenities' %>
	<%= render partial: 'units/amenities_fields' %>
<%elsif params[:contribution_for] == 'unit_price_history' %>
	<%= render partial: 'rental_price_histories/form' %>
<%end%>
