<% if params[:contribution_for] == 'building_review' or params[:contribution_for] == 'unit_review' %>
	<div class="tables">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
				    <div class="panel-heading"><b>Write a review</b></div>
				    <div class="panel-body">
						<%= render partial: 'reviews/form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
<%elsif params[:contribution_for] == 'building_photos' or params[:contribution_for] == 'unit_photos' %>
	<% if user_signed_in? %>
		<%= render partial: 'uploads/form' %>
	<%else%>
		<div class="login-form" id="page-login">
			<h3>Please sign in / sign up to upload photos.</h3>
			<%= render partial: 'devise/sessions/new' %>
		</div>
	<%end%>
<%elsif params[:contribution_for] == 'building_amenities' or params[:building_id].present? %>
	<%= render partial: 'buildings/amenities_fields' %>
<%elsif params[:contribution_for] == 'unit_amenities' %>
	<%= render partial: 'units/amenities_fields' %>
<%elsif params[:contribution_for] == 'unit_price_history' %>
	<%= render partial: 'rental_price_histories/form' %>
<%end%>
