#exportListings.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contirbuteMoreLabel", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', type: 'button'}
      
      .modal-body.no-padding
        = form_tag export_path, class: 'form-horizontal' do
          %fieldset
            .row
              .col-6.col-sm-6.col-md-6.col-lg-6
                %label Date From
                = text_field_tag :date_from, Date.today,  class: 'form-control datepicker validate', :autocomplete => :off

              .col-6.col-sm-6.col-md-6.col-lg-6
                %label Date To
                = text_field_tag :date_to, nil, class: 'form-control datepicker', :autocomplete => :off
            %br
            .row{style: "margin: 0px;"}
              .col-12.col-sm-12.col-md-12.col-lg-12
                %label File Formats
            
              - Listing::EXPORT_FORMATS.each do |file_format|
                .col-12.col-sm-12.col-md-12.col-lg-12
                  .radio.custom-radio
                    %label
                      = radio_button_tag :format, file_format, file_format == 'xlsx'
                      %span.fa.fa-circle
                      = ".#{file_format}"
                
          .row.mb-3.me-3
            .col-12.col-lg-12
              .form-group
                .float-end
                  = link_to 'Cancel', '#', class: 'btn btn-default', 'data-bs-dismiss' => 'modal'
                  = button_tag 'Export', class: 'btn btn-blue', controller: 'listings', action: 'export'