.col-lg-6.col-md-6
  - if flash[:error]
    .text-start
      .error.import-errors.well
        %a.close{'data-bs-dismiss' => 'alert', 'aria-label' => 'close'}
          &times;
        - flash[:error].each do |err_message|
          %p.text-danger= err_message

.col-xs-12.col-sm-12.col-md-6.col-lg-6
  .float-end
    .d-inline-flex
      - unless @type == 'past'
        %div.me-1= link_to 'Add New Listing', new_listing_path, class: 'btn btn-blue float-end'
        %div.me-1= link_to 'Import excel', '#importReviews', class: 'btn btn-success float-end', 'data-bs-toggle' => 'modal'
        %div.me-1= link_to 'Transfer', '#transferPastListings', class: 'btn btn-info float-end btn-round', 'data-bs-toggle' => 'modal'
      %div.me-1= link_to 'Export', '#exportListings', class: 'btn btn-default float-end', 'data-bs-toggle' => 'modal'
    
    - unless @type == 'past'
      = render 'reviews/import_reviews_form', import_path: import_listings_path
      = render 'listings/partials/trasfer_past_listings_form'
    
    = render 'listings/partials/export_form', export_path: @export_listings_path
      
%p

.row
  .col-lg-6.col-xs-12
    %ul.nav.nav-tabs.nav-justified{role: 'tablist'}
      %li.nav-item{class: "#{'active' if @type == 'current'}" }
        %a.nav-link.font-bold{href: listings_path} Current Listings
      %li.nav-item{class: "#{'active' if @type == 'past'}" }
        %a.nav-link.font-bold{href: past_listings_path} Past Listings

.row.mb-1.mt-4
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    .float-start
      .listing-actions{style: 'margin-left: 10px; display: none'}
        .d-inline-flex
          %div.me-1= render 'listings/partials/action_form', url: change_status_listings_path, form_id: 'active_on_action_form', submit_text: 'Active On', submit_btn_color: 'btn-green'
          %div.me-1= render 'listings/partials/action_form', url: change_status_listings_path, form_id: 'active_off_action_form', submit_text: 'Active Off', submit_btn_color: 'btn-gray'
          %div.me-1= render 'listings/partials/action_form', url: delete_all_listings_path, form_id: 'delete_action_form', submit_text: 'Delete', submit_btn_color: 'btn-danger'
          %div.me-1= render 'listings/partials/action_form', url: transfer_all_listings_path, form_id: 'transfer_all_action_form', submit_text: 'Transfer', submit_btn_color: 'btn-info'
  