.col-lg-6.col-md-6
  - if flash[:error]
    .text-left
      .error.import-errors.well
        %a.close{'data-dismiss' => 'alert', 'aria-label' => 'close'}
          &times;
        - flash[:error].each do |err_message|
          %p.text-danger= err_message

.col-xs-12.col-sm-12.col-md-6.col-lg-6
  .pull-right
    %ul.list-inline
      - unless @type == 'past'
        %li= link_to 'Add New Listing', new_listing_path, class: 'btn btn-blue pull-right'
        %li= link_to 'Import excel', '#importReviews', class: 'btn btn-success pull-right', 'data-toggle' => 'modal'
        %li= link_to 'Transfer', '#transferPastListings', class: 'btn btn-info pull-right btn-round', 'data-toggle' => 'modal'
      %li= link_to 'Export', '#exportListings', class: 'btn btn-default pull-right', 'data-toggle' => 'modal'
    - unless @type == 'past'
      = render 'reviews/import_reviews_form', import_path: import_listings_path
      = render 'listings/partials/trasfer_past_listings_form'
    = render 'listings/partials/export_form', export_path: @export_listings_path
      
%p

.row
  .col-lg-6.col-xs-12
    %h2
    .tabsWidget
      %ul.nav.nav-tabs.nav-justified{role: 'tablist'}
        %li{class: "#{'active' if @type == 'current'}" }
          %a{href: listings_path}
            %b Current Listings
        %li{class: "#{'active' if @type == 'past'}" }
          %a{href: past_listings_path}
            %b Past Listings
%br

.row
  .listing-actions{style: 'margin-left: 10px; display: none'}
    .col-lg-1
      = render 'listings/partials/action_form', url: change_status_listings_path, form_id: 'active_on_action_form', submit_text: 'Active On', submit_btn_color: 'btn-green'
    .col-lg-1
      = render 'listings/partials/action_form', url: change_status_listings_path, form_id: 'active_off_action_form', submit_text: 'Active Off', submit_btn_color: 'btn-gray'
    .col-lg-1
      = render 'listings/partials/action_form', url: delete_all_listings_path, form_id: 'delete_action_form', submit_text: 'Delete', submit_btn_color: 'btn-danger'
    .col-lg-1
      = render 'listings/partials/action_form', url: transfer_all_listings_path, form_id: 'transfer_all_action_form', submit_text: 'Transfer', submit_btn_color: 'btn-info'