- if !mobile?
  #showPastListing.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ListingModal', role: 'dialog'}
    .modal-dialog.modal-md
      .modal-content
        .modal-header{style: 'padding: 15px 15px 0px;'}
          %div.modal-title#ListingModal= listing_header_title(@rentals).html_safe
          = close_button
         
        .modal-body.no-padding
          = render 'buildings/show/listings', listings: @listings, type: @rentals
- else
  .modal-full.past-listing-modal{style: 'display: none; background: #fff;'}
    .row{style: 'position: relative;'}
      .col-lg-12
        .text-start.title-header{style: 'border-bottom: 1px solid #ddd;'}
          %h4.text-start{style: 'margin-top: 10px; margin-bottom: 10px;'}= listing_header_title(@rentals).html_safe

      .header.text-end.visible-xs{style: 'position: absolute; right: 15px; top: -1px;'}
        = link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeContact'
    
    = render 'buildings/show/listings', listings: @listings, type: @rentals

    :css
      .past-listing-modal .title-header{
        padding: 0px 4px;
      }
=javascript_include_tag 'load_more'