= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :id => 'sign_up_user', format: :json, remote: true }) do |f|
  .form-group
    %p.help-block.legalTerm 
      By continuing, you agree to our 
      %a.hyper-link{href: '/terms_of_service', target: 'new'} Terms of Service, Privacy Policy or Advertising Terms
  .form-group
    .btn-group-justified
      / <a href="<haml_silent></haml_silent>" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign Up with Facebook</a>
      / = render partial: 'layouts/shared/social_auth_buttons', locals: {resource: resource, btn_title: 'Continue with Facebook', button_type: 'fb'}
  .form-group
    .btn-group-justified
      / <a href="<haml_silent></haml_silent>" class="btn btn-lg btn-google" style="line-height: 26px;"><haml_silent></haml_silent> Sign Up with Google</a>
      = render partial: 'layouts/shared/social_auth_buttons', locals: {resource: resource, btn_title: 'Sign Up with Google', button_type: 'google'}
  
  .signOr OR
  
  .form-group
    = f.email_field :email, class: 'form-control', placeholder: 'Email', id: 'user_email_signup', autocomplete: 'off'
    %p.help-block
  .form-group
    = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password', id: 'signup_user_password'
    %p.help-block
    = f.hidden_field :time_zone, id: 'user_time_zone1', class: 'user_time_zone'
  .form-group.apt-captcha
    = recaptcha_tags
    %p.help-block
  
  .d-grid.col-12.mx-auto
    = f.submit 'Sign Up', class: 'btn btn-block btn-blue txt-color-white', data: { disable_with: 'Signing up ...' }
  
  %p.help-block.mt-3
    Already a transparentcity member?
    %a.modal-si0.hyper-link{href: '/users/sign_in'} Sign In

= javascript_include_tag 'set_timezone'