.col-xs-12.col-sm-12.col-md-6.col-lg-6
  %h3 What would you like to contribute ?
  .form-group
    .col-sm-10
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'building_review', true
          %span.fa.fa-circle
          Building Review
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'building_photos'
          %span.fa.fa-circle
          Building Photos
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'building_amenities'
          %span.fa.fa-circle
          Building Amenities
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'unit_review', params[:contribution_for]=='unit_review' ? true : false
          %span.fa.fa-circle
          Unit Review
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'unit_photos', params[:contribution_for]=='unit_photos' ? true : false
          %span.fa.fa-circle
          Unit Photos
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'unit_amenities', params[:contribution_for]=='unit_amenities' ? true : false
          %span.fa.fa-circle
          Unit Amenities
      .radio.custom-radio
        %label
          = radio_button_tag :contribute_to, 'unit_price_history', params[:contribution_for]=='unit_price_history' ? true : false
          %span.fa.fa-circle
          Rent Information