<div class="form-group">
    <div class="col-sm-10">
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'building_review', true %><span class="fa fa-circle"></span> Building Review
      	</label>
      </div>
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'building_photos' %><span class="fa fa-circle"></span> Building Photos
      	</label>
      </div>
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'building_amenities' %><span class="fa fa-circle"></span> Building Amenities
      	</label>
      </div>
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'unit_review', params[:contribution_for]=='unit_review' ? true : false %><span class="fa fa-circle"></span> Unit Review
      	</label>
      </div>
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'unit_photos', params[:contribution_for]=='unit_photos' ? true : false %> <span class="fa fa-circle"></span> Unit Photos
      	</label>
      </div>
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'unit_amenities', params[:contribution_for]=='unit_amenities' ? true : false %> <span class="fa fa-circle"></span> Unit Amenities
      	</label>
      </div>
      <div class="radio custom-radio">
      	<label>
      		<%= radio_button_tag :contribute_to, 'unit_price_history', params[:contribution_for]=='unit_price_history' ? true : false %> <span class="fa fa-circle"></span> Unit Price History
      	</label>
      </div>
    </div>
</div>