<div class="filter">
  <div class="clearfix"></div>
  <form action='/search' class="filterForm" style="display: none;">
    <div class="text-right visible-xs1 visible-sm1" style="padding: 4px; cursor: pointer;">
      <%= link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeFilter' %>
    </div>
  	<%= hidden_field_tag :search_term, params[:search_term] %>
  	<%= hidden_field_tag :neighborhoods, params[:neighborhoods] %>
    <%= hidden_field_tag :sort_by, params[:sort_by] || '0' %>
    
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 formItem">
        <div class="formField">
          <div class="volume">
            <div class="col-sm-12 col-md-12 col-lg-12">
            	<label><b>Amenities</b></label>
          		<% building_amenities.each_pair do |k, v| %>
              	<div class="checkbox custom-checkbox">
              		<label>
              			<input type="checkbox" name="filter[amenities][]" value="<%=v%>" id="<%=k%>" <%= amen_checked(v) %>> <span class="fa fa-check"></span> <%=v%>
              		</label>
              	</div>
              <%end%>                     
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 formItem">
        <div class="formField">
          <div class="volume">
            <div class="col-sm-12 col-md-12 col-lg-12">
            	<label><b>Bedrooms</b></label>
            	<% ['0','1','2','3','4'].map do |val| %>
            		<% if val == '0' %>
              		<div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value="<%=val%>" id="studio" <%= bed_checked('0') %>><span class="fa fa-check"></span> Studio</label></div>
              	<%else%>
              		<div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value="<%=val%>" id="<%=val%>beds" <%= bed_checked(val) %>><span class="fa fa-check"></span> <%= val == '4' ? '4+' : val %> Beds</label></div>
              	<%end%>
              <%end%>
              
            	<label><b>Building Type</b></label>
              <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[type][]" value="Rental Building" <%= type_checked('Rental Building') %>><span class="fa fa-check"></span> Rental</label></div>
              <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[type][]" value="Condo Building" <%= type_checked('Condo Building') %>><span class="fa fa-check"></span> Condo</label></div>
              <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[type][]" value="Coop Building" <%= type_checked('Coop Building') %>><span class="fa fa-check"></span> Coop</label></div>
           
            	<label><b>Rating</b></label>
            	<% 1.upto(5) do |val| %>
              	<div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[rating][]" value="<%=val%>" <%= rating_checked(val) %> ><span class="fa fa-check"></span> <%=val%> Star</label></div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="formField">
    	<div class="row">
    		<div class="text-center">
      		<%= link_to 'Reset', search_path(search_term: params[:search_term], neighborhoods: params[:neighborhoods]), class: 'btn btn-default btn-xlg' %>
      		<a href="#" class="applyFilter btn btn-green btn-xlg">Apply</a>
      	</div>
      	<%= submit_tag 'Submit', class: 'btn-submit-filter-form hidden' %>
    	</div>
    </div>
  </form>
</div>