- if browser.device.mobile?
  .visible-xs.header2
    - if show_filters?
      .row
        .col-xs-12
          %h1.font-14.font-bold{style: 'margin: 3px 0px;'}= split_view_header

      %section.sorted_by_option.row{style: "padding: 1px 0px;display: inline-block;width: 100%;background: #fff;margin: 0px 0px 3px 0px; display: #{custom_search? ? 'none' : 'block'}"}
        %section.col-xs-6{style: 'padding-left: 0px;padding-right: 1px;width: 53%;'}
          %label{style: 'margin-bottom: 1px; padding: 2px 0px;'}
            %div.counts= "#{@listings_count.to_i} Rentals |"
            %div.counts= "#{@buildings_count.to_i} Buildings"
        
        %section.col-xs-6{style: 'padding-left: 0px;padding-right: 0px;width: 47%;'}
          %section.tbl-cell.pull-left{style: 'width: 67px;padding: 3px 0px;'}
            %span.sorted-by{style: 'margin-bottom: 1px;'} Sorted By:
          %section.tbl-cell{style: 'display: table-cell;'}
            %label.select.sort-select{style: 'margin-bottom: 1px;'}
              = select_tag :sort, options_for_select(sort_options, params[:sort_by]), { data: {search_term: params[:search_term], neighborhoods: params[:neighborhoods] }, style: 'color: #428bca;border-color: transparent;height: 25px; padding: 0px 0px;' }
              %i.sort

  :css
    label .counts{
      display: inline;
    }
    .header2 {
      box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
      -webkit-box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
      -moz-box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
    }