<% if params[:searched_by].present? %>
  <div class="filter" style="display: none;">
    <form action="/<%=params[:searched_by]%>/<%=params[:search_term]%>" class="filterForm">
      <div class="text-end header d-block d-lg-none d-md-none" style="padding: 4px; cursor: pointer;">
        <%= link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeFilter' %>
      </div>
      <%= hidden_field_tag :sort_by, params[:sort_by] || '0' %>
      <%= hidden_field_tag :latitude, params[:latitude] if params[:latitude].present? %>
      <%= hidden_field_tag :longitude, params[:longitude] if params[:longitude].present? %>
      <%= hidden_field_tag :zoomlevel, params[:zoomlevel] || 14 if params[:search_term] == 'custom' %>
      <div id='filter-container'>
        <!-- Listing Price -->
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 formItem">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
              <div class="col-12 col-md-12 col-lg-12">
                <label class="font-bold">Listing Price</label>
                <!-- price slider -->
                <div class="slider-filter-container">
                  <div class="checkbox custom-checkbox"><label><input type="checkbox" class="listing_price_filter" name="filter[listings][price][]" id="listings_price_box" <%= listing_price_box_checked %> ><span class="fa fa-check"></span> </label></div>
                  <div class="slider priceSlider">
                    <div class="sliderTooltip">
                      <div class="stArrow"></div>
                      <div class="stLabel"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>
          
          <!-- Listing Bedrooms -->
          <div class="col-12 col-md-12 col-lg-12 formItem mt-3" style="padding-right: 0px;">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
            <div class="col-md-12 col-lg-12">
              <label class="font-bold">Listing Bedrooms</label>
              <% Listing::BEDROOMS.map do |beds| %>
                <% val, text = beds[0], beds[1] %>
                <div class="ck-button">
                  <label>
                    <input type="checkbox" class="listing_bed_filter" name="filter[listings][listing_bedrooms][]" value="<%=val%>" id="listings_<%=val%>beds" <%= listing_bed_checked(val) %> > <span><%=text%></span>
                  </label>
                </div>
              <%end%>
            </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>
          <!-- Popular Amenities -->
          <div class="col-6 col-md-6 col-lg-6 formItem mt-3">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
                <div class="col-md-12 col-lg-12">
                  <label class="font-bold">Popular Amenities</label>
                  <% BuildingAmenities.col1_popular_building_amenities.each_pair do |k, v| %>
                    <div class="checkbox custom-checkbox">
                      <label>
                        <input type="checkbox" name="filter[amenities][]" class='amenity' value="<%=k.to_s%>" id="<%=k%>" <%= amen_checked(k.to_s) %> <%=amen_locked?(k.to_s)%> > <span class="fa fa-check"></span> <%= v == 'No Fee Building' ? '<b>No Fee Building</b>'.html_safe : v %>
                      </label>
                    </div>
                  <%end%>                  
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>

          <div class="col-6 col-md-6 col-lg-6 formItem">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
                <div class="col-md-12 col-lg-12">
                  <label class="font-bold invisible">Popular Amenities</label>
                  <% BuildingAmenities.col2_popular_building_amenities.each_pair do |k, v| %>
                    <div class="checkbox custom-checkbox <%= v == 'Courtyard' ? 'invisible' : '' %>">
                      <label>
                        <input type="checkbox" name="filter[amenities][]" class='amenity' value="<%=k.to_s%>" id="<%=k%>" <%= amen_checked(k.to_s) %> <%=amen_locked?(k.to_s)%>> <span class="fa fa-check"></span> <%= v %>
                      </label>
                    </div>
                  <%end%>                         
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>
          
          <div class="divider mb-3 mt-2"></div>

          <div class="col-6 col-md-6 col-lg-6 formItem">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
                <div class="col-md-12 col-lg-12">
                  <label class="font-bold">Other Amenities</label>
                  <% BuildingAmenities.other_building_amenities.each_pair do |k, v| %>
                    <div class="checkbox custom-checkbox">
                      <label>
                        <input type="checkbox" name="filter[amenities][]" class='amenity' value="<%=k.to_s%>" id="<%=k%>" <%= amen_checked(k.to_s) %> <%=amen_locked?(k.to_s)%>> <span class="fa fa-check"></span> <%= v == 'No Fee Building' ? '<b>No Fee Building</b>'.html_safe : v %>
                      </label>
                    </div>
                  <%end%>
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>

          <!-- Listing Amenities -->
          <div class="col-6 col-md-6 col-lg-6 formItem">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
                <div class="col-md-12 col-lg-12">
                  <label class="font-bold">Listing Amenities</label>
                  <% Listing::AMENITIES.each_pair do |k, v| %>
                    <div class="checkbox custom-checkbox">
                      <label>
                        <input type="checkbox" name="filter[listings][amenities][]" class='amenity' value="<%=k.to_s%>" id="<%=k%>" <%= listings_amen_checked(k.to_s) %> <%=amen_locked?(k.to_s)%>> <span class="fa fa-check"></span> <%= v %>
                      </label>
                    </div>
                  <%end%>                         
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>

          <!-- Bedrooms -->
          <div class="col-6 col-md-6 col-lg-6 formItem mt-3">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
                <div class="col-md-12 col-lg-12">
                  <label class="font-bold">Building Bedrooms</label>
                  <% Building::BEDROOMS.map do |beds| %>
                    <% val, text = beds[0], beds[1] %>
                    <div class="checkbox custom-checkbox">
                      <label><input type="checkbox" class="building_bed_filter" name="filter[bedrooms][]" value="<%=val%>" id="beds_<%=val%>" <%= bed_checked(val) %> <%=bed_locked?(val)%>><span class="fa fa-check"></span> <%=text%></label>
                    </div>
                  <%end%>
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>

          <div class="col-6 col-md-4 col-lg-4 formItem mt-3">
            <!-- <div class="formField"> -->
              <!-- <div class="volume"> -->
                <div class="col-md-12 col-lg-12">
                  <!-- prices_options: in buildings_helper -->
                  <label class="font-bold">Building Price Range</label>
                  <% prices_options.map do |obj| %>
                    <div class="checkbox custom-checkbox"><label><input type="checkbox" class="building_price_filter" name="filter[price][]" value="<%=obj[1]%>" id="<%=obj[1]%>prices" <%= price_checked(obj[1])%> <%=price_locked?(obj[1])%>><span class="fa fa-check"></span><%=obj[0]%></label></div>
                  <%end%>
                </div>
              </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>

        <div class="formField filter-action">
          <div class="row">
            <%= submit_tag 'Submit', class: 'btn-submit-filter-form d-none', name: nil %>
          </div>
        </div>
        <%= hidden_field_tag :searched_by, params[:searched_by] if params[:searched_by].present? %>
        <div id="priceFieldsContainer">
          <% if listings_filters && listings_filters[:min_price].present? %>
            <%= hidden_field_tag :min_price, listings_filters[:min_price], name: 'filter[listings][min_price]' %>
            <%= hidden_field_tag :max_price, listings_filters[:max_price], name: 'filter[listings][max_price]' %>
          <%end%>
        </div>
      </div>
    </form>

    <div class="filter-action-btns" style="position: relative;">
      <div class="filter-action-btns2 filter-action text-center">
        <%= link_to 'Cancel', 'javascript:;', class: 'closeFilter font-bold font-14' unless mobile? %>
        <%= link_to 'Reset','javascript:;', class: 'btn btn-default btn-round btn-xlg clearFilter font-bold font-14' %>
        <a href="#" class="applyFilter btn btn-green btn-xlg btn-round txt-color-white font-bold font-14" style="background: #59BB44;">Apply</a>
      </div>
    </div>
  </div>
<%end%>