.visible-xs.filter-btn-container
  - if show_filters?
    %section
      .btn-filter
        %button.btn.btn-o.btn-primary.btn-filter.handleFilter
          %span.dropdown-label
            %span.fa.fa-filter
             #{'Filter'}
            %span.filter-counts
             
      .btn-filter
        = link_to "Guides (#{@neighborhood_links_count})", 'javascript:;', class: "btn btn-o btn-primary btn-filter handleGuides", style: 'width: 100%;'

    %section.sorted_by_option.row{style: "padding-top: 6px;display: inline-block;width: 100%;background: #fff;margin: 0px; display: #{custom_search? ? 'none' : 'block'}"}
      %section.col-xs-6
        %label{style: 'margin-bottom: 1px; padding: 2px;'}
          =link_to "#{"#{ @buildings.present? ? @buildings.length : 0 }"} Buildings", '#', style: 'color: #428bca;'
      %section.col-xs-6{style: 'padding-left: 0px;'}
        
        %section.tbl-cell.pull-left{style: 'width: 64px;padding: 3px 0px;'}
          %span.sorted-by{style: 'margin-bottom: 1px;'} Sorted By:
        
        %section.tbl-cell{style: 'display: table-cell;'}
          %label.select.sort-select{style: 'margin-bottom: 1px;'}
            = select_tag :sort, options_for_select(sort_options, params[:sort_by]), { data: {search_term: params[:search_term], neighborhoods: params[:neighborhoods] }, style: 'color: #428bca;border-color: transparent;height: 25px; padding: 0px 0px;' }
            %i.sort  