%a.navHandler{href: "javascript:void(0)"}
  %span.fa.fa-bars
#header
  .logoContainer
    .logo.hidden-xs
      %a{href: "/"}= image_tag 'logo_white.png', alt: 'logo'
    #search-row{class: "search #{search_bar(:hidden)}"}
      = render partial: 'layouts/shared/search_form'
    .pull-right.btn-hoods.visible-xs
      %button{class: "btn btn-green dropdown-toggle-neighborhoods #{params[:neighborhoods].present? ? 'active' : ''}", "data-toggle" => "dropdown1"}
        %span.dropdown-label= 'Hood'
         
        %span.caret
    .pull-right.headerLinks.hidden-xs
      - if !user_signed_in?
        - if params[:controller] == "users/sessions"
          = link_to 'Sign Up', '/users/sign_up', class: 'btn btn-default'
        - elsif params[:controller] == "users/registrations"
          = link_to 'Sign In', '/users/sign_in', class: 'btn btn-default'
        - else
          = link_to 'Sign Up', '/users/sign_up', class: 'btn btn-default'
          = link_to 'Sign In', '/users/sign_in', class: 'btn btn-default'
      - else
        .hidden-xs.hidden-sm{style: "display: inline-block;"}
          = render partial: 'layouts/shared/user_profile'
      = link_to '<span class="fa fa-plus"></span>'.html_safe+' Write Review', contribute_buildings_path, class: 'btn btn-green hidden-xs'
    .pull-right.headerLinks.hidden
      = link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-green'
  .visible-xs{style: "position: fixed; bottom: 10px;"}
    - if params[:action] == 'search' or @show_map_btn
      %a.mapHandler.btn.btn-green{href: "javascript:void(0);"}
        %span.icon-map
        Map
      %a.listHandler.btn.btn-green{href: "javascript:void(0);"}
        %span.fa.fa-list
        List