<a href="javascript:void(0)" class="navHandler"><span class="fa fa-bars"></span></a>

<div id="header">
  <div class="logoContainer">
    <div class="logo hidden-xs">
      <a href="/"><%=image_tag 'logo_white.png', alt: 'logo' %></a>
    </div>
      
    <div class="search <%= search_bar(:hidden) %>">
      <%= render partial: 'layouts/shared/search_form' %>
    </div>

    <div class="pull-right btn-hoods visible-xs">
      <button data-toggle="dropdown1" class="btn btn-green dropdown-toggle-neighborhoods <%=params[:neighborhoods].present? ? 'active' : ''%>">
        <span class="dropdown-label"><%= 'Hood' %></span> &nbsp;<span class="caret"></span>
      </button>
    </div>
    
    <div class="pull-right headerLinks hidden-xs">
      <% if !user_signed_in? %>
        <%if params[:controller] == "users/sessions"%>
          <%= link_to 'Sign Up', '/users/sign_up', class: 'btn btn-default' %>
        <%elsif params[:controller] == "users/registrations"%>
          <%= link_to 'Sign In', '/users/sign_in', class: 'btn btn-default' %>
        <%else%>
          <%= link_to 'Sign Up', '/users/sign_up', class: 'btn btn-default' %>
          <%= link_to 'Sign In', '/users/sign_in', class: 'btn btn-default' %>
        <%end%>
      <%else%>
        <div class="hidden-xs hidden-sm" style="display: inline-block;">
          <%=render partial: 'layouts/shared/user_profile' %>
        </div>
      <%end%>
      <%#=link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-primary' %>
      <%=link_to '<span class="fa fa-plus"></span>'.html_safe+' Write Review', contribute_buildings_path, class: 'btn btn-green hidden-xs' %>
    </div>

    <div class="pull-right headerLinks hidden">
      <%=link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-green' %>
    </div>
  </div>
  
  <div class="visible-xs" style="position: fixed; bottom: 10px;">
    <% if user_signed_in? %>
      <% if params[:action] == 'search' %>
        <a href="javascript:void(0);" class="mapHandler btn btn-green"><span class="icon-map"></span> Map</a>
        <a href="javascript:void(0);" class="listHandler btn btn-green"><span class="fa fa-list"></span> List</a>
      <%elsif (params[:controller] == 'buildings' and params[:action] == 'show') or (params[:controller] == 'units' and params[:action] == 'show') %>
        <a href="javascript:void(0);" class="mapHandlerShow btn btn-green"><span class="icon-map"></span> Map</a>
        <a href="javascript:void(0);" class="listHandlerShow btn btn-green"><span class="fa fa-list"></span> List</a>
      <%end%>
    <%else%>
      <% if params[:action] == 'search' %>
        <a href="javascript:void(0);" class="mapHandler btn btn-green"><span class="icon-map"></span> Map</a>
        <a href="javascript:void(0);" class="listHandler btn btn-green"><span class="fa fa-list"></span> List</a>
      <%elsif (params[:controller] == 'buildings' and params[:action] == 'show') or (params[:controller] == 'units' and params[:action] == 'show') %>
        <a href="javascript:void(0)" class="mapHandlerShow btn btn-green"><span class="icon-map"></span> Map</a>
        <a href="javascript:void(0)" class="listHandlerShow btn btn-green"><span class="fa fa-list"></span> List</a>
      <%end%>
    <%end%>
  </div>
</div>