#leftSide{class: "#{contribute_left_side(params)} #{home_page? ? 'home' : ''}"}
  %nav.leftNav.scrollable
    %ul
      %li.logo.visible-xs.text-center
        %a{href: '/'}= image_tag 'transparentcity-logo-white-gray.png', alt: alt_text
      
      - if current_user.blank?
        %li
          %a{href: '/about'}
            %span.navLabel About us
        %li.hasSub
          %a{href: 'javascript:;'}
            %span.navLabel Advertise
            %span.fa.fa-angle-left.arrowRight
          = render 'layouts/shared/advertise_items'
        %li
          %a{href: '/blog'}
            %span.navLabel Blog
        %li.btn_contribute
          %a{href: contribute_buildings_path}
            %span.navLabel Write a review

        - if controller_name == 'registrations'
          %li
            %a.left-side-zindex.auth{href: '/users/sign_in'}
              %span.navLabel Sign In
        
        - elsif controller_name == 'sessions'
          %li
            %a.left-side-zindex.auth{href: '/users/sign_up'}
              %span.navLabel Sign Up
        - else
          %li
            %a.left-side-zindex.auth{href: '/users/sign_in'}
              %span.navLabel Sign In
          %li
            %a.left-side-zindex.auth{href: '/users/sign_up'}
              %span.navLabel Sign Up
      
      - elsif current_user.present?
        %li.btn_contribute
          %a{href: saved_buildings_user_path(current_user)}
            %span.navLabel Saved

        %li.btn_contribute
          %a{href: contribute_buildings_path}
            %span.navLabel Write a review

        %li
          %a{href: '/about'}
            %span.navLabel About us
        %li.hasSub
          %a{href: 'javascript:;'}
            %span.navLabel Advertise
            %span.fa.fa-angle-left.arrowRight
          = render 'layouts/shared/advertise_items'
          
        %li.hasSub
          %a{href: 'javascript:;'}
            %span.navLabel Tools
            %span.fa.fa-angle-left.arrowRight
          
          %ul
            %li
              %a{href: agenttools_user_path(current_user, type: 'featured')}
                %span.navLabel Agent Tools
            %li
              %a{href: managertools_user_path(current_user, type: 'featured')}
                %span.navLabel  Manager Tools

        %li.btn_contribute
          %a{href: edit_user_path(current_user)}
            %span.navLabel Settings

        %li.btn_contribute
          %a{href: destroy_user_session_path, 'data-method' => 'delete' }
            %span.navLabel Sign Out

        - if current_user.admin?
          %li.hasSub
            %a{href: 'javascript:;'}
              %span.navLabel Admin
              %span.fa.fa-angle-left.arrowRight
            
            %ul
              %li
                %a{href: buildings_path}
                  %span.navLabel Buildings
              %li
                %a{href: units_path}
                  %span.navLabel Units
              %li
                %a{href: listings_path}
                  %span.navLabel Listings
              %li
                %a{href: users_path}
                  %span.navLabel Users
              %li
                %a{href: '/documents'}
                  %span.navLabel Documents
              %li
                %a{href: reviews_path}
                  %span.navLabel Reviews
              %li
                %a{href: neighborhood_links_path}
                  %span.navLabel Guides
              %li
                %a{href: management_companies_path}
                  %span.navLabel Management companies
              %li
                %a{href: '/price_ranges'}
                  %span.navLabel Price Range
              %li
                %a{href: featured_comps_path}
                  %span.navLabel Featured Comps
              %li
                %a{href: featured_buildings_path}
                  %span.navLabel Featured buildings
              %li
                %a{href: featured_agents_path}
                  %span.navLabel Featured agents
