<div id="leftSide" class="visible-xs1">
  <nav class="leftNav scrollable">
    <div class="search">
        <%= render partial: 'layouts/shared/search_form' %>
        <div class="clearfix"></div>
    </div>
    <% if user_signed_in? %>
      <ul>
        <li><a href="/buildings"><span class="navIcon fa fa-building"></span><span class="navLabel">Buildings</span></a></li>
        <li><a href="/units"><span class="navIcon icon-home"></span><span class="navLabel">Units</span></a></li>
        <li><a href="<%=contribute_buildings_path%>"><span class="navIcon icon-plus"></span><span class="navLabel">Add</span></a></li>
        <li class="hasSub">
          <a href="#"><span class="navIcon icon-link"></span><span class="navLabel">Pages</span><span class="fa fa-angle-left arrowRight"></span></a>
          <ul>
            <li><a href="<%= edit_user_path(current_user) %>"><span class="icon-settings"></span>Settings</a></li>
            <li><a href="<%= user_path(current_user) %>"><span class="icon-user"></span>Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to '<span class="icon-power"></span>Logout'.html_safe, destroy_user_session_path, :method => :delete %> </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </nav>
  <% if user_signed_in? %>
    <div class="leftUserWraper dropup hidden">
      <a href="#" class="avatarAction dropdown-toggle" data-toggle="dropdown">
        <img class="avatar" src="assets/avatar-1.png" alt="avatar"><span class="counter">5</span>
        <div class="userBottom pull-left">
            <span class="bottomUserName">John Smith</span> <span class="fa fa-angle-up pull-right arrowUp"></span>
        </div>
        <div class="clearfix"></div>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
        <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
        <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="icon-power"></span>Logout</a></li>
      </ul>
    </div>
  <%end%>
</div>