<div id="leftSide">
  <nav class="leftNav scrollable">
    <div class="search">
        <%= render partial: 'layouts/shared/search_form' %>
        <div class="clearfix"></div>
    </div>
    
    <ul>
      <li><a href="<%=contribute_buildings_path%>"><span class="navIcon icon-plus"></span><span class="navLabel">Write a review</span></a></li>
      <% if current_user.blank? %>
        <li><a href="#" class="left-side-zindex" data-toggle="modal" data-target="#signin"><span class="navLabel">Sign In</span></a></li>
        <li><a href="#" class="left-side-zindex" data-toggle="modal" data-target="#signup"><span class="navLabel">Sign Up</span></a></li>
      <%end%>
      <%if current_user and current_user.has_role?(:admin) %>
        <li><a href="/buildings"><span class="navIcon fa fa-building"></span><span class="navLabel">Buildings</span></a></li>
        <li><a href="/units"><span class="navIcon icon-home"></span><span class="navLabel">Units</span></a></li>
      <%end%>
    </ul>
    
  </nav>
  <% if user_signed_in? %>
    <div class="leftUserWraper dropup">
      <a href="#" class="avatarAction dropdown-toggle" data-toggle="dropdown">
        <%= image_tag current_user.avatar, class: 'avatar', alt: 'avatar' %>
        <div class="userBottom pull-left">
            <span class="bottomUserName"><%= current_user.user_name.capitalize %></span> <span class="fa fa-angle-up pull-right arrowUp"></span>
        </div>
        <div class="clearfix"></div>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="<%= edit_user_path(current_user) %>"><span class="icon-settings"></span>Settings</a></li>
        <li><a href="<%= user_path(current_user) %>"><span class="icon-user"></span>Profile</a></li>
        <li class="divider"></li>
        <li><%= link_to '<span class="icon-power"></span>Logout'.html_safe, destroy_user_session_path, :method => :delete %> </li>
      </ul>
    </div>
  <%end%>
</div>