<div class="infoW">
	<%= link_to building_path(building), style: 'color: #333;' do %>
    <div class="propImg" data-buildingid="<%=building.id%>">
      <%= image_tag image , alt: 'Image', style: 'width: 230 !important; height: 137px;' if image.present? %>
    </div>
    <div class="paWrapper">
      <div class="propTitle"><%= building.building_name_or_address %></div>
      <div class="propAddress"><%= building.street_address %> <%= building.zipcode %></div>
    </div>
	<%end%>
	<div><%= render partial: 'buildings/bedroom_types_and_prices', locals: { building: building } %></div>
  <div class="propRating">
  	<% if rating_cache.present? %>
	  	<% cache_avg = rating_cache.first.avg %>
	  	<%# cache_avg = rating_cache.first.avg %>
	  	<% decimal_part = number_with_precision(cache_avg.round(2), precision: 2) %>
	  	<% decimal_part = decimal_part.split('.')[1].to_f/100%>
	  	<% unless cache_avg.nan? %>
	  		<% cache_avg = cache_avg + 1 if decimal_part >= 0.76 %>
		  	<ul class="cardRating list-inline">
		  		<% half = true %>
		  		<% 1.upto(5) do |num| %>
		  			<% if num <= cache_avg.to_i %>
		  				<li><%= image_tag 'star-on.png' %></li>
		  			<%elsif decimal_part >= 0.30 and decimal_part <= 0.75 and half %>
		  				<li><%= image_tag 'star-half.png' %></li>
		  				<% half = false %>
		  			<%else%>
		  				<li><%= image_tag 'star-off.png' %></li>
		  			<%end%>
		  		<%end%>
		  		<% if building.votes.present? %>
		  			<li style="font-size: 11px;"><span class="icon-pipe"></span>
	        	<%#= recomended_per.nan? ? '| --% Recommended' :  "| #{recomended_per.to_i}% Recommended" %>
	        		<%= recommended_percent(building).html_safe %> 
	        	</li>
	        <%end%>
		  	</ul>
		  <%end%>
	  <%else%>
	  	<ul class="cardRating list-inline">
		  	<% 1.upto(5) do |num| %>
	  			<li><%= image_tag 'star-off.png' %></li>
	  		<%end%>
	  		<li style="font-size: 11px;">
	  			<span class="icon-pipe"></span>
        	<%= recomended_per.nan? ? '| --% Recommended' :  "| #{recomended_per.to_i}% Recommended" %>
        </li>
	  	</ul>
  	<%end%>
	</div>
  <%#= render partial: 'home/property_information', locals: { building: building } %>
  <!-- <div class="clearfix"></div> -->
</div>