<div class="infoW">
	<%= link_to building_path(building), style: 'color: #333;' do %>
	    <div class="propImg">
	        <%= image_tag image , alt: 'Image'%>
	    </div>
	    <div class="paWrapper">
	        <div class="propTitle"><%= building.building_name_or_address %></div>
	        <div class="propAddress"><%= building.street_address %> <%= building.zipcode %></div>
	    </div>
	<%end%>
  <div class="propRating">
  	<% rating_cache = building.rating_cache %>
  	<% if rating_cache.present? %>
	  	<% total_rates = rating_cache.first.avg if rating_cache.present? %>
	  	<% decimal_part = rating_cache.first.avg.modulo(1) %>
	  	<ul class="cardRating list-inline">
	  		<% half = true %>
	  		<% 1.upto(5) do |num| %>
	  			<% if num <= total_rates.to_i %>
	  				<li><%= image_tag 'star-on.png' %></li>
	  			<%elsif decimal_part > 0.32 and decimal_part < 1.0 and half %>
	  				<li><%= image_tag 'star-half.png' %></li>
	  				<% half = false %>
	  			<%else%>
	  				<li><%= image_tag 'star-off.png' %></li>
	  			<%end%>
	  		<%end%>
	  	</ul>
	  <%else%>
	  	<ul class="cardRating list-inline">
		  	<% 1.upto(5) do |num| %>
	  			<li><%= image_tag 'star-off.png' %></li>
	  		<%end%>
	  	</ul>
  	<%end%>
  	<%# rating_for not working with info window %>
		<%#= rating_for building, 'building', disable_after_rate: true, readonly: true, cancel: false %>
	</div>
  <ul class="propFeat">
		<li>Building reviews: <%= building.reviews.count %></li>
		<li>Unit reviews: <%=building.unit_reviews_count%></li>
	</ul> <br />
	
	<ul class="propFeat">
	    <li><%= "Photos: #{building.photos}" %></li>
	    <li><%="Rent Information: #{building.unit_rent_summary_count}"%></li>
	</ul>
	
    <div class="clearfix"></div>
</div>