#header-mob.split-view-header{class: "sm-#{action_name} sm-#{action_name}_#{controller_name} #{mob_header_bg_color_class_helper}"}
  .row{style: 'margin-right: 0px;'}
    .col-2
      %a.navHandler{href: 'javascript:void(0)', 'aria-label'=> 'Nav Handler'}
        %span.fa.fa-bars
    
    %div{class: "col-#{header_center_col}", style: 'padding-right: 1px; padding-left: 2px;'}
      - if show_and_search_page_header?
        .split-view-seach{class: "#{search_bar(:hidden)}"}
          - unless mobile?
            = render 'home/search_form'
          - else
            .apt-search.other#apt-search-form
              = icon_search_helper(other_class: 'search-placeholder-input')
              = search_placeholder_input_helper
      - else
        .home-logo.osLight{style: 'text-align: center;margin-top: -10px;'}
          %a{href: '/'}= image_tag 'transparentcity-logo-black-blue.png', alt: alt_text, width: '146', height: '40', style: 'margin-left: 40px;'
   
    %div{class: "col-#{header_right_col}"}
      .row{style: 'margin-right: -1px;'}
        - unless hide_hood_dropdown?
          .hood.col-xs-6
            .btn-hoods{class: current_view}
              %button.btn.btn-primary.dropdown-toggle-neighborhoods.btn-round{class: "#{params[:neighborhoods].present? ? 'active' : ''}", 'data-bs-toggle' => 'dropdown1'}
                %span.dropdown-label Hood
                %span.fa.fa-caret-down

        - if show_filters?
          .col-xs-6.h-filter
            .btn-filter{style: 'margin-left: 3px;'}
              %button.btn.btn-primary.btn-filter.handleFilter.btn-round
                %span.dropdown-label
                  %span.fa.fa-filter
                  Filter
                  %span.filter-counts

- if mobile?
  %div{style: 'position: fixed; bottom: 10px;left: 50%;transform: translate(-50%, 0%);z-index: 99;'}
    - if action_name == 'search' || @show_map_btn
      %a.mapHandler.btn.btn-round{href: 'javascript:void(0);', style: custom_search? ? 'display: none;' : ''}
        %span.fa.fa-map-o
        Map
      %a.listHandler.btn.btn-round{href: 'javascript:void(0);', style: custom_search? ? 'display: block;' : ''}
        %span.fa.fa-list
        List