<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <ul class="neighborhoods-list">
    <% area = 'MANHATTAN' %>
    <b id="lower_manhattan">Lower Manhattan (<span><%=@lower_manhattan_count%></span>)</b>
    <% lower_manhattan_sub_borough.each do |borough| %>
      <li data-parent="lower_manhattan"><%= search_by_neighborhood_link(borough, area) if borough != 'Greenwich Village'%>
        <% if borough == 'West Village' %>
          <ul>
            <li data-parent="lower_manhattan"><%= search_by_neighborhood_link('Greenwich Village', area) %></li>
          </ul>
        <%end%>
      </li>
    <%end%>
    <b id="midtown">Midtown (<span><%=@midtown_count%></span>)</b>
    <li data-parent="midtown"><%= search_by_neighborhood_link('Chelsea', area) %></li>
    <li data-parent="midtown"><%= search_by_neighborhood_link('Gramercy Park', area) %></li>
    <li data-parent="midtown"><%= search_by_neighborhood_link("Hell's Kitchen", area) %></li>
  </ul>
</div>

<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <ul class="neighborhoods-list">
    <li data-parent="midtown"><%= search_by_neighborhood_link('Kips Bay', area) %></li>
    <li data-parent="midtown"><%= search_by_neighborhood_link('Midtown East', area) %> </a>
      <ul>
        <li data-parent="midtown"><%= search_by_neighborhood_link('Sutton Place', area) %></li>
      </ul>
    </li>
    <li data-parent="midtown"><%= search_by_neighborhood_link('Murray Hill', area) %></li>
    <li data-parent="midtown"><%= search_by_neighborhood_link('Roosevelt Island', area) %></li>
    
    <b id="uptown_manhattan">Uptown Manhattan (<span><%=@uptown_count%></span>)</b>
    <li data-parent="uptown_manhattan"><%= search_by_neighborhood_link('Morningside Heights', area) %></li>
    <li data-parent="uptown_manhattan">
      <%= search_by_neighborhood_link('Upper East Side', area) %></a>
      <ul>
        <li data-parent="uptown_manhattan"><%= search_by_neighborhood_link('Carnegie Hill', area) %></li>
        <li data-parent="uptown_manhattan"><%= search_by_neighborhood_link('Lenox Hill', area) %></li>
        <li data-parent="uptown_manhattan"><%= search_by_neighborhood_link('Yorkville', area) %></li>
      </ul>
    </li>
   
    <li data-parent="uptown_manhattan"><%= search_by_neighborhood_link('Upper West Side', area) %>
      <ul>
        <li data-parent="uptown_manhattan"><%= search_by_neighborhood_link('Lincoln Square', area) %></li>
      </ul>
    </li>
  </ul>
</div>

<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <ul class="neighborhoods-list">
    <b id="upper_manhattan">Upper Manhattan (<span><%=@upper_manhattan_count%></span>)</b>
    <li data-parent="upper_manhattan"><%= search_by_neighborhood_link('East Harlem', area) %></li>
    <li data-parent="upper_manhattan"><%= search_by_neighborhood_link('Hudson Heights', area) %></li>
    <li data-parent="upper_manhattan"><%= search_by_neighborhood_link('Washington Heights', area) %></li>
    
    <b id="brooklyn"><%= area = 'Brooklyn' %> (<span><%=@brooklyn_count%></span>)</b>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Brooklyn Heights', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Bushwick', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Clinton Hill', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Downtown Brooklyn', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Dumbo', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Fort Greene', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Gravesend', area) %></li>
    <li data-parent="brooklyn"><%= search_by_neighborhood_link('Greenpoint', area) %></li>
  </ul>
</div>

<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <ul class="neighborhoods-list">
    <li data-parent="brooklyn"><a href="#">Sheepshead Bay</a></li>
    <li data-parent="brooklyn"><a href="#">Williamsburg</a></li>
    
    <b id="queens"><%= area = 'Queens' %> (<span><%=@queens_count%></span>)</b>
    <% queens_sub_borough.each do |borough| %>
      <li data-parent="queens"><%= search_by_neighborhood_link(borough, area) %></li>
    <%end%>

    <b id="bronx"><%= area = 'Bronx' %> (Coming Soon)</b>
    <li data-parent="bronx"><%= search_by_neighborhood_link('East Bronx', area) %></a></li>
    <li data-parent="bronx"><%= search_by_neighborhood_link('University Heights', area) %></a></li>
  </ul>
</div>