.row
  .col-12.col-lg-3
    .pop-list
      - area = 'MANHATTAN'
      %b#lower_manhattan
        = search_by_neighborhood_link('Lower Manhattan', area)
      .child-borough-container
        - NYCBorough.lower_manhattan_sub_borough.each do |borough|
          - if borough != 'West Village'
            .parent{'data-parent' => 'lower_manhattan'}
              = search_by_neighborhood_link(borough, area)
              - if borough == 'Greenwich Village'
                %ul
                  %li{'data-parent' => 'lower_manhattan'}= search_by_neighborhood_link('West Village', area)
      %b#midtown= search_by_neighborhood_link('Midtown', area)
      .child-borough-container
        - ['Chelsea', 'Flatiron District', 'Gramercy Park', "Hell's Kitchen", 'Kips Bay'].each do |nb|
          .parent{'data-parent' => 'midtown'}= search_by_neighborhood_link(nb, area)

  .col-12.col-md-3.col-lg-3
    .pop-list
      .child-borough-container
        .parent{'data-parent' => 'midtown'}
          = search_by_neighborhood_link('Midtown East', area)
          %ul
            %li{'data-parent' => 'midtown'}= search_by_neighborhood_link('Sutton Place', area)
        .parent{'data-parent' => 'midtown'}= search_by_neighborhood_link('Midtown West', area)
        .parent{'data-parent' => 'midtown'}= search_by_neighborhood_link('Murray Hill', area)
        .parent{'data-parent' => 'midtown'}= search_by_neighborhood_link('Roosevelt Island', area)
      %b#uptown_manhattan
        %a{href: '#'}
          Uptown Manhattan (
          %span>= @uptown_count
          )
      .child-borough-container
        .parent{'data-parent' => 'uptown_manhattan'}
          = search_by_neighborhood_link('Upper East Side', area)
          %ul
            %li{'data-parent' => 'uptown_manhattan'}= search_by_neighborhood_link('Carnegie Hill', area)
            %li{'data-parent' => 'uptown_manhattan'}= search_by_neighborhood_link('Lenox Hill', area)
            %li{'data-parent' => 'uptown_manhattan'}= search_by_neighborhood_link('Yorkville', area)
        .parent{'data-parent' => 'uptown_manhattan'}
          = search_by_neighborhood_link('Upper West Side', area)
          %ul
            %li{'data-parent' => 'uptown_manhattan'}= search_by_neighborhood_link('Lincoln Square', area)
            %li{'data-parent' => 'uptown_manhattan'}= search_by_neighborhood_link('Manhattan Valley', area)
      
      %b#upper_manhattan= search_by_neighborhood_link('Upper Manhattan', area)
      .child-borough-container
        .parent{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('East Harlem', area)
        .parent{'data-parent' => 'upper_manhattan'}
          = search_by_neighborhood_link('Harlem', area)
          %ul
            %li{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('South Harlem', area)

  .col-12.col-md-3.col-lg-3
    .pop-list
      .child-borough-container
        .parent{'data-parent' => 'upper_manhattan'}
          %ul
            %li{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('Central Harlem', area)
            %li{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('Hamilton Heights', area)
        .parent{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('Inwood', area)
        .parent{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('Morningside Heights', area)
        .parent{'data-parent' => 'upper_manhattan'}
          = search_by_neighborhood_link('Washington Heights', area)
          %ul
            %li{'data-parent' => 'upper_manhattan'}= search_by_neighborhood_link('Hudson Heights', area)
        
        %b#brooklyn
          - area = 'Brooklyn'
          = link_to "Brooklyn (#{@brooklyn_count})", '/no-fee-apartments-nyc-city/brooklyn-ny'
        
        - ['Bedford-Stuyvesant','Boerum Hill','Brooklyn Heights', 'Bushwick','Clinton Hill','Crown Heights','Downtown Brooklyn','Dumbo','Fort Greene', 'Greenpoint'].each do |nb|
          .parent{'data-parent' => 'brooklyn'}= search_by_neighborhood_link(nb, area)
        
  .col-12.col-md-3.col-lg-3
    .pop-list
      .child-borough-container
        .parent{'data-parent' => 'brooklyn'}= search_by_neighborhood_link('Park Slope', area)
        .parent{'data-parent' => 'brooklyn'}= search_by_neighborhood_link('Sheepshead Bay', area)
        .parent{'data-parent' => 'brooklyn'}= search_by_neighborhood_link('Williamsburg', area)
      
      - area = 'Queens'
      %b#queens= link_to "Queens (#{@queens_count})", '/no-fee-apartments-nyc-city/queens-ny'
      .child-borough-container
        - NYCBorough.queens_sub_borough.each do |borough|
          .parent{'data-parent' => 'queens'}= search_by_neighborhood_link(borough, area)
      %b#bronx
        - area = 'Bronx'
        = link_to "Bronx (#{@bronx_count})", '/no-fee-apartments-nyc-city/bronx-ny'
      .child-borough-container
        .parent{'data-parent' => 'bronx'}= search_by_neighborhood_link('East Bronx', area)
        .parent{'data-parent' => 'bronx'}= search_by_neighborhood_link('Morris Heights', area)
        .parent{'data-parent' => 'bronx'}= search_by_neighborhood_link('Riverdale', area)