.col-xs-12.col-sm-6.col-md-3.col-lg-3
  %ul.pop-list
    - area = 'MANHATTAN'
    %b#lower_manhattan
      = search_by_neighborhood_link('Lower Manhattan', area)
    .child-borough-container
      - lower_manhattan_sub_borough.each do |borough|
        - if borough != 'West Village'
          %li.parent{"data-parent" => "lower_manhattan"}
            = search_by_neighborhood_link(borough, area)
            - if borough == 'Greenwich Village'
              %ul
                %li{"data-parent" => "lower_manhattan"}= search_by_neighborhood_link('West Village', area)
    %b#midtown= search_by_neighborhood_link('Midtown', area)
    .child-borough-container
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Chelsea', area)
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Flatiron District', area)
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Gramercy Park', area)
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link("Hell's Kitchen", area)
.col-xs-12.col-sm-6.col-md-3.col-lg-3
  %ul.pop-list
    .child-borough-container
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Kips Bay', area)
      %li.parent{"data-parent" => "midtown"}
        = search_by_neighborhood_link('Midtown East', area)
        %ul
          %li{"data-parent" => "midtown"}= search_by_neighborhood_link('Sutton Place', area)
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Midtown West', area)
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Murray Hill', area)
      %li.parent{"data-parent" => "midtown"}= search_by_neighborhood_link('Roosevelt Island', area)
    %b#uptown_manhattan
      Uptown Manhattan (
      %span>= @uptown_count
      )
    .child-borough-container
      %li.parent{"data-parent" => "uptown_manhattan"}
        = search_by_neighborhood_link('Upper East Side', area)
        %ul
          %li{"data-parent" => "uptown_manhattan"}= search_by_neighborhood_link('Carnegie Hill', area)
          %li{"data-parent" => "uptown_manhattan"}= search_by_neighborhood_link('Lenox Hill', area)
          %li{"data-parent" => "uptown_manhattan"}= search_by_neighborhood_link('Yorkville', area)
      %li.parent{"data-parent" => "uptown_manhattan"}
        = search_by_neighborhood_link('Upper West Side', area)
        %ul
          %li{"data-parent" => "uptown_manhattan"}= search_by_neighborhood_link('Lincoln Square', area)
          %li{"data-parent" => "uptown_manhattan"}= search_by_neighborhood_link('Manhattan Valley', area)
    
    %b#upper_manhattan= search_by_neighborhood_link('Upper Manhattan', area)
    .child-borough-container
      %li.parent{"data-parent" => "upper_manhattan"}= search_by_neighborhood_link('East Harlem', area)

.col-xs-12.col-sm-6.col-md-3.col-lg-3
  %ul.pop-list
    .child-borough-container
      %li.parent{"data-parent" => "upper_manhattan"}
        = search_by_neighborhood_link('Harlem', area)
        %ul
          %li{"data-parent" => "upper_manhattan"}= search_by_neighborhood_link('South Harlem', area)
          %li{"data-parent" => "upper_manhattan"}= search_by_neighborhood_link('Central Harlem', area)
          %li{"data-parent" => "upper_manhattan"}= search_by_neighborhood_link('Hamilton Heights', area)
      %li.parent{"data-parent" => "upper_manhattan"}= search_by_neighborhood_link('Morningside Heights', area)
      %li.parent{"data-parent" => "upper_manhattan"}
        = search_by_neighborhood_link('Washington Heights', area)
        %ul
          %li.parent{"data-parent" => "upper_manhattan"}= search_by_neighborhood_link('Hudson Heights', area)
      
      %b#brooklyn
        - area = 'Brooklyn'
        = link_to "Brooklyn (#{@brooklyn_count})", '/no-fee-apartments-nyc-city/brooklyn-ny'
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Brooklyn Heights', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Bushwick', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Clinton Hill', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Downtown Brooklyn', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Dumbo', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Fort Greene', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Greenpoint', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Park Slope', area)
.col-xs-12.col-sm-6.col-md-3.col-lg-3
  %ul.pop-list
    .chile-borough-container
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Sheepshead Bay', area)
      %li.parent{"data-parent" => "brooklyn"}= search_by_neighborhood_link('Williamsburg', area)
    
    - area = 'Queens'
    %b#queens= link_to "Queens (#{@queens_count})", '/no-fee-apartments-nyc-city/queens-ny'
    .child-borough-container
      - queens_sub_borough.each do |borough|
        %li.parent{"data-parent" => "queens"}= search_by_neighborhood_link(borough, area)
    %b#bronx
      - area = 'Bronx'
      = link_to "Bronx (#{@bronx_count})", '/no-fee-apartments-nyc-city/bronx-ny'
    .child-borough-container{style: ""}
      %li.parent{"data-parent" => "bronx"}= search_by_neighborhood_link('East Bronx', area)
      %li.parent{"data-parent" => "bronx"}= search_by_neighborhood_link('Morris Heights', area)
      %li.parent{"data-parent" => "bronx"}= search_by_neighborhood_link('Riverdale', area)