.searchContainer.pull-left.split-view-seach
  %span.fa.fa-times-circle.fa-2x.clearSearchText.visible-xs.visible-sm
  = render partial: 'home/search_form'
- unless @pop_neighborhoods.blank? and browser.device.mobile?
  .pull-left.neighborhoods-dropdown.hidden-xs{style: "margin-top: 8px;"}
    .btn-group
      %button#lr2.btn.btn-o.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", style: "min-width: 121px;"}
        %span.dropdown-label= params[:searched_by] == 'neighborhoods' ? @searched_neighborhoods : 'Neighborhoods'
         
        %span.caret
      .dropdown-menu.dropdown-select.dropdown-menu-right1{"area-labelledby" => "lr2"}
        .row
          = render partial: 'layouts/shared/neighborhoods_list'
  - if show_filters?
    .pull-right.hidden-xs
      .btn-filter
        %button{class: "btn sc-lg btn-o btn-primary dropdown-toggle handleFilter #{params[:filter].present? ? 'active' : ''}", "data-toggle" => "dropdown"}
          %span.dropdown-label
            %span.fa.fa-filter
             #{'Filter'}
            %span.filter-counts
           
      .pull-right.btn-sort
        %button{class: "btn sc-lg btn-o btn-primary dropdown-toggle #{params[:sort_by].present? ? 'active' : ''}", "data-toggle" => "dropdown", style: 'padding: 10px 3px !important;'}
          %span.dropdown-label
            %span.fa.fa-sort
             #{params[:sort_by].present? ? sort_string : 'Recently Updated'}
           
        = render partial: 'layouts/shared/sort_list'