<span class="searchIcon icon-magnifier"></span>
<%= text_field_tag 'apt-search-txt-searchpage', params['apt-search-txt'], placeholder: 'Neighborhood, Zip Code, Address, Building name' %>
<div class="results" id="apt-search-results"></div>

<%= form_tag "/search", method: :get, id: "apt-search-form", class: 'apt-search hide' do %>
  <%= text_field_tag 'apt-search-txt', params['apt-search-txt'] %>
  <%= hidden_field_tag 'term', nil %>
  <%= hidden_field_tag 'neighborhoods', nil %>
  <%#= hidden_field_tag 'by_zipcode', nil %>
  <%#= hidden_field_tag 'by_address', nil %>
  <%#= hidden_field_tag 'by_building_name', nil %>
  <%= submit_tag 'Search', class: 'btn btn-primary in_header' %>
<%end%>