<div class="searchContainer pull-left">
	<span class="searchIcon icon-magnifier"></span>
	<span class="fa fa-times-circle fa-2x clearSearchText visible-xs visible-sm visible-md"></span>
	<%=render partial: 'home/search_form' %>
</div>

<% if @manhattan_neighborhoods.present? %>
	<div class="pull-left neighborhoods-dropdown hidden-xs" style="margin-top: 8px;">
	  <div class="btn-group">
	    <button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle" style="min-width: 121px;">
	      <span class="dropdown-label"><%= params[:neighborhoods].present? ? params[:neighborhoods] : 'Neighborhoods'  %></span> &nbsp;<span class="caret"></span>
	    </button>
	    <div class="dropdown-menu dropdown-select">
	    	<div class="row">
	    		<% ['MANHATTAN', 'BROOKLYN','QUEENS'].each do |area| %>
		    		<div class="col-xs-3 col-md-3 col-lg-3">
		          <h2 class="osLight h-r"><%=area%></h2>
		          <ul class="blog-r-nav text-left">
		        		<% @manhattan_neighborhoods[area].sort.each do |nb| %>
		            	<li><a href="<%=search_link(nb, area)%>"><%= nb %> (<%= Building.number_of_buildings(nb) %>)</a></li>
		            <%end%>
		          </ul>
		        </div>
		      <%end%>

	         <div class="col-xs-3 col-md-3 col-lg-3">
	          <h2 class="osLight h-r">BRONX (Coming Soon)</h2>
	          <ul class="blog-r-nav text-left">
	        		<% @manhattan_neighborhoods['BRONX'].sort.each do |nb| %>
	            	<li><a href="javascript:void(0);"><%= nb %></a></li>
	            <%end%>
	          </ul>
	        </div><!-- end BRONX -->
	    	</div>
	    </div>
	  </div>
	</div>
<%end%>

<% if params[:neighborhoods].present? %>
	<div class="pull-right">
		<div style="margin-top: 8px;margin-right: 18px;" class="pull-right">
	 		<button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle handleFilter">
	      <span class="dropdown-label"><span class="fa fa-filter"></span> &nbsp;<%= 'Filter' %></span> &nbsp; 
	    </button>
	  </div>
		<!-- <a href="#" class="handleFilter btn btn-default btn-sm"><span class="fa fa-filter"></span> Filter</a> &nbsp; -->
		<div style="margin-top: 8px;margin-right: 18px;" class="pull-right">
		 	<button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle">
	      <span class="dropdown-label"><span class="fa fa-sort"></span> &nbsp;<%= params[:sort_by].present? ? sort_string : 'Sort'  %></span> &nbsp; 
	    </button>
		    
	    <div class="dropdown-menu dropdown-select userMenu" role='menu'>
	    	<ul class=sortMenu>
	      	<li class="<%=active('0')%>"><a href="<%=sort_url(0)%>">Default</a></li>
	      	<li class="<%=active('1')%>"><a href="<%=sort_url(1)%>">Rating (high to low)</a></li>
	      	<li class="<%=active('2')%>"><a href="<%=sort_url(2)%>">Rating (low to high)</a></li>
	      	<li class="<%=active('3')%>"><a href="<%=sort_url(3)%>">Reviews (high to low)</a></li>
	      	<li class="<%=active('4')%>"><a href="<%=sort_url(4)%>">A - Z</a></li>
	      	<li class="<%=active('5')%>"><a href="<%=sort_url(5)%>">Z - A</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
 
	<div class="filter">
    <div class="clearfix"></div>
    <form action='/search' class="filterForm" style="display: none;">
    	<%= hidden_field_tag :neighborhoods, params[:neighborhoods] %>
      <%= hidden_field_tag :search_term, params[:search_term] %>
      <%= hidden_field_tag :sort_by, params[:sort_by] if params[:sort_by].present? %>
      
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 formItem">
          <div class="formField">
              <div class="volume">
                <div class="col-sm-6">
                	<label><b>Amenities</b></label>
              		<% building_amenities.each_pair do |k, v| %>
                  	<div class="checkbox custom-checkbox"><label><%= check_box_tag "filter[amenities][]", "#{k}", false, id: "#{k}" %><span class="fa fa-check"></span> <%=v%></label></div>
                  <%end%>                     
                </div>
              </div>
          </div>
          
          <div class="formField">
            <div class="volume">
              <div class="col-sm-4">
              	<label><b>Bedrooms</b></label>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value='0' id="studio"><span class="fa fa-check"></span> Studio</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value='1' id="1bed"><span class="fa fa-check"></span> 1 Bed</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value='3' id="2beds"><span class="fa fa-check"></span> 2 Beds</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value='3' id="3beds"><span class="fa fa-check"></span> 3 Beds</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[bedrooms][]" value='4' id="4plusbeds"><span class="fa fa-check"></span> 4+ Beds</label></div>
              
              	<label><b>Building Type</b></label>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[type][]" value="Rental Building"><span class="fa fa-check"></span> Rental</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[type][]" value="Condo Building"><span class="fa fa-check"></span> Condo</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[type][]" value="Coop Building"><span class="fa fa-check"></span> Coop</label></div>
             
              	<label><b>Rating</b></label>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[rating][]" value="1"><span class="fa fa-check"></span> 1 Star</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[rating][]" value="2"><span class="fa fa-check"></span> 2 Star</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[rating][]" value="3"><span class="fa fa-check"></span> 3 Star</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[rating][]" value="4"><span class="fa fa-check"></span> 4 Star</label></div>
                <div class="checkbox custom-checkbox"><label><input type="checkbox" name="filter[rating][]" value="5"><span class="fa fa-check"></span> 5 Star</label></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="formField">
      	<div class="row">
      		<div class="pull-right">
	      		<a href="#" class="clearFilter btn btn-default btn-xlg">Reset</a>
	      		<a href="#" class="applyFilter btn btn-green btn-xlg">Apply</a>
	      	</div>
	      	<%= submit_tag 'Submit', class: 'btn-submit-filter-form hidden' %>
      	</div>
      </div>
    </form>
	</div>
<%end%>

<style type="text/css">
	.ui-autocomplete{
		-webkit-box-shadow: 0 0px 0px transparent;
     box-shadow: 0 0px 0px transparent; 
     border-bottom: 0px solid transparent;
	}
</style>