<div class="searchContainer pull-left split-view-seach">
	<!-- <span class="searchIcon icon-magnifier"></span> -->
	<span class="fa fa-times-circle fa-2x clearSearchText visible-xs visible-sm"></span>
	<%=render partial: 'home/search_form' %>
</div>

<% unless @manhattan_neighborhoods.blank? and browser.device.mobile? %>
	<div class="pull-left neighborhoods-dropdown hidden-xs" style="margin-top: 8px;">
	  <div class="btn-group">
	    <button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle" style="min-width: 121px;" id='lr2'>
	      <span class="dropdown-label"><%= params[:searched_by] == 'neighborhoods' ? @searched_neighborhoods : 'Neighborhoods'  %></span> &nbsp;<span class="caret"></span>
	    </button>
	    
	    <div class="dropdown-menu dropdown-select dropdown-menu-right1" area-labelledby='lr2'>
	    	<div class="row">
	    		<% ['MANHATTAN', 'BROOKLYN','QUEENS'].each do |area| %>
		    		<div class="col-xs-3 col-md-3 col-lg-3">
		          <h2 class="osLight h-r"><%=area%></h2>
		          <ul class="blog-r-nav text-left">
		        		<% Neighborhood.all.where(boroughs: area).order(:name).each do |nb| %>
		            	<li><%= search_by_neighborhood_link(nb, area) %></li>
		            <%end%>
		          </ul>
		        </div>
		      <%end%>

	         <div class="col-xs-3 col-md-3 col-lg-3">
	          <h2 class="osLight h-r">BRONX (Coming Soon)</h2>
	          <ul class="blog-r-nav text-left">
	        		<% @manhattan_neighborhoods['BRONX'].sort.each do |nb| %>
	            	<li><a href="#"><%= nb %></a></li>
	            <%end%>
	          </ul>
	        </div><!-- end BRONX -->
	    	</div>
	    </div>
	  </div>
	</div>


	<% if params[:searched_by] == 'neighborhoods' or params[:searched_by] == 'zipcode' %>
		<div class="pull-right hidden-xs">
			<div class="btn-filter">
		 		<button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle handleFilter <%=params[:filter].present? ? 'active' : ''%>">
		      <span class="dropdown-label"><span class="fa fa-filter"></span> &nbsp;<%= 'Filter' %> <span class="filter-counts"></span></span> &nbsp;
		    </button>
		  </div>
			<!-- <a href="#" class="handleFilter btn btn-default btn-sm"><span class="fa fa-filter"></span> Filter</a> &nbsp; -->
			<div class="pull-right btn-sort">
			 	<button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle <%=params[:sort_by].present? ? 'active' : ''%>">
		      <span class="dropdown-label"><span class="fa fa-sort"></span> &nbsp;<%= params[:sort_by].present? ? sort_string : 'Default sort'  %></span> &nbsp; 
		    </button>
		    <%= render partial: 'layouts/shared/sort_list' %>
		  </div>
		</div>
	<%end%>
<%end%>

<style type="text/css">
	.ui-autocomplete{
		-webkit-box-shadow: 0 0px 0px transparent;
     box-shadow: 0 0px 0px transparent; 
     border-bottom: 0px solid transparent;
	}
</style>