<div class="searchContainer pull-left">
	<span class="searchIcon icon-magnifier"></span>
	<span class="fa fa-times-circle fa-2x clearSearchText visible-xs visible-sm visible-md"></span>
	<div class="search-elem-input">
		<%= form_tag "/search", method: :get, id: "apt-search-form", class: 'apt-search apt-search-shared', role: 'form' do %>
		  <%=render partial: 'home/search_form' %>
		<%end%>
	</div>
</div>

<% if @manhattan_neighborhoods.present? %>
	<div class="pull-left neighborhoods-dropdown hidden-xs" style="margin-top: 9px;">
	  <div class="btn-group">
	    <button data-toggle="dropdown" class="btn btn-o btn-gray dropdown-toggle" style="min-width: 121px;">
	      <span class="dropdown-label"><%= params[:neighborhoods].present? ? params[:neighborhoods] : 'Neighborhoods'  %></span> &nbsp;<span class="caret"></span>
	    </button>
	    <div class="dropdown-menu dropdown-select">
	    	<div class="row">
	    		<% ['MANHATTAN', 'BROOKLYN','QUEENS'].each do |area| %>
		    		<div class="col-xs-3 col-md-3 col-lg-3">
		          <h2 class="osLight h-r">MANHATTAN</h2>
		          <ul class="blog-r-nav text-left">
		        		<% @manhattan_neighborhoods[area].sort.each do |nb| %>
		            	<li><a href="<%=search_link(nb, area)%>"><%= nb %></a></li>
		            <%end%>
		          </ul>
		        </div>
		      <%end%>

	         <div class="col-xs-3 col-md-3 col-lg-3">
	          <h2 class="osLight h-r">BRONX (Coming Soon)</h2>
	          <ul class="blog-r-nav text-left">
	        		<% @manhattan_neighborhoods['BRONX'].sort.each do |nb| %>
	            	<li><a href="javascript:void(0);"><%= nb %></a></li>
	            <%end%>
	          </ul>
	        </div><!-- end BRONX -->
	    	</div>
	    </div>
	  </div>
	</div>
<%end%>

<style type="text/css">
	.ui-autocomplete{
		-webkit-box-shadow: 0 0px 0px transparent;
     box-shadow: 0 0px 0px transparent; 
     border-bottom: 0px solid transparent;
	}
</style>