.searchContainer.float-start.split-view-seach{class: mobile? ? 'mobile': ''}
  = render 'home/search_form'

- unless @pop_neighborhoods.blank? && mobile?
  .float-start.neighborhoods-dropdown.hidden-xs{style: 'margin-top: 3px;margin-left: 8px;'}
    .btn-group.btn-dp-toggle.dropdown
      %button#lr2.btn.btn-o.btn-primary.dropdown-toggle.btn-round{'data-bs-toggle' => 'dropdown', style: 'min-width: 121px;', type: 'button', 'aria-expanded' => 'false'}
        %span.dropdown-label= params[:searched_by] == 'neighborhoods' ? @searched_neighborhoods : 'Neighborhoods'
         
      .dropdown-menu.dropdown-select.dropdown-menu-right1{'area-labelledby' => 'lr2'}
        .row
          = render 'layouts/shared/neighborhoods_list'
  
  - if show_filters?
    .lg-action-buttons.hidden-xs
      .btn-sort.btn-dp-toggle.float-end.dropdown
        %button.no-caret#sortMenu{class: "btn sc-lg btn-o btn-primary btn-round dropdown-toggle #{params[:sort_by].present? ? 'active' : ''}", 'data-bs-toggle' => 'dropdown', style: 'padding: 10px 3px !important;'}
          %span.dropdown-label
            %span.fa.fa-sort
             #{params[:sort_by].present? ? sort_string : 'Recently Updated'}
           
        = render 'layouts/shared/sort_list'

      .btn-filter.btn-dp-toggle.float-end
        %button.no-caret{class: "btn sc-lg btn-o btn-primary btn-round dropdown-toggle handleFilter #{params[:filter].present? ? 'active' : ''}", 'data-bs-toggle' => 'dropdown'}
          %span.dropdown-label
            %span.fa.fa-filter 
            Filter
            %span.filter-counts