<span class="searchIcon icon-magnifier"></span>
<%= text_field_tag 'apt-search-txt-searchpage', params['apt-search-txt'], placeholder: 'Neighborhood, Zip Code, Address, Building name' %>
<div class="results" id="apt-search-results"></div>

<%= form_tag "/search", method: :get, id: "apt-search-form", class: 'apt-search apt-searchpage-form hide' do %>
  <%= text_field_tag 'apt-search-txt', params['apt-search-txt'], placeholder: 'Neighborhood, Zip Code, Address, Building name' %>
  <%= hidden_field_tag 'term', nil %>
  <%= hidden_field_tag 'neighborhoods', nil %>

  <%= submit_tag 'Search', class: 'btn btn-primary hide' %>
<%end%>