.searchContainer.float-start.split-view-seach{class: mobile? ? 'mobile': ''}
  = render 'home/search_form'

- unless @pop_neighborhoods.blank? && mobile?
  .float-start.neighborhoods-dropdown.ms-3{style: 'margin-top: 3px;'}
    .dropdown
      %button.btn.btn-o.btn-primary.dropdown-toggle.btn-round#neighborhoodsList{'data-bs-toggle' => 'dropdown', style: 'min-width: 121px;', type: 'button', 'aria-expanded' => 'false'}
        %span.dropdown-label
          = params[:searched_by] == 'neighborhoods' ? @searched_neighborhoods : 'Neighborhoods'
         
      .dropdown-menu.dropdown-select{'area-labelledby' => 'neighborhoodsList', role: 'menu' }
        #pop-nyc-neighborhoods-list
          / = render 'layouts/shared/neighborhoods_list'
  
  - if show_filters?
    .btn-filter.btn-dp-toggle.float-end.me-2.mt-1
      %button.no-caret{class: "btn sc-lg btn-o btn-primary btn-round handleFilter #{params[:filter].present? ? 'active' : ''}"}
        %span.dropdown-label
          %span.fa.fa-filter 
          Filter
          %span.filter-counts

    .lg-action-buttons.mt-1
      .btn-sort.btn-dp-toggle.float-end.dropdown.me-2
        %button.no-caret#sortMenu{class: "btn sc-lg btn-o btn-primary btn-round dropdown-toggle #{params[:sort_by].present? ? 'active' : ''}", 'data-bs-toggle' => 'dropdown', style: 'padding: 10px 3px !important;'}
          %span.dropdown-label
            %span.fa.fa-sort
             #{params[:sort_by].present? ? sort_string : 'Recently Updated'}
           
        = render 'layouts/shared/sort_list'

      