<div class="dropdown-menu dropdown-select userMenu sc-lg" role='menu'>
	<ul class="sortMenu">
		<% if params[:sort_by].present? and params[:sort_by] != '0' %>
  		<li class="<%=active('0')%>"><a href="javascript:void(0)" data-sortIndex="0" rel='sort' class="sort-item">Recently updated</a></li>
  	<%end%>
    <!-- <li class="<%#=active('6')%>"><a href="javascript:void(0)" data-sortIndex="6" rel='sort' class="sort-item">Recently updated</a></li> -->
    <li class="<%=active('4')%> <%= 'active' if params[:sort_by] == '0' %>">
      <a href="javascript:void(0)" data-sortIndex="4" rel='sort' class="sort-item">A - Z</a>
    </li>
    <li class="<%=active('5')%>"><a href="javascript:void(0)" data-sortIndex="5" rel='sort' class="sort-item">Z - A</a></li>
    <li class="<%=active('3')%>"><a href="javascript:void(0)" data-sortIndex="3" rel='sort' class="sort-item">Reviews (high to low)</a></li>
  	<li class="<%=active('1')%>"><a href="javascript:void(0)" data-sortIndex="1" rel='sort' class="sort-item">Rating (high to low)</a></li>
  	<li class="<%=active('2')%>"><a href="javascript:void(0)" data-sortIndex="2" rel='sort' class="sort-item">Rating (low to high)</a></li>
  </ul>
</div>