.row.mt-3
	.col-lg-6.col-xs-12
		%ul.nav.nav-tabs.nav-justified.tab-inline{role: 'tablist', style: "margin-left: #{'14px' unless mobile?}" }
			%li.nav-item
				%a.nav-link.font-14.font-bolder{href: featured_url, class: @type == 'featured' ? 'active hyper-link' : '', 'aria-current'=>"page"}= title
			%li.nav-item
				%a.nav-link.font-14.font-bolder{href: billing_url, class: @type == 'billing' ? 'active hyper-link' : '', 'aria-current'=>"page"} Billing

.tab-content.mt-5
	- if @type == 'featured'
		.tab-pane.fade.in.active
			- unless mobile?
				.row
					.col-lg-6
						.float-start
							%h4= @type == 'featured' ? title : 'Billing'

					.col-lg-6
						.float-end
							- unless title == 'Featured Listings'
								= add_new_link
							- else
								= render 'featured_listings/add_new_form'
								
			- else
				.row
					.col-xs-12
						- unless title == 'Featured Listings'
							= add_new_link
						- else
							= render 'featured_listings/add_new_form'
				
				%br
				
				.row
					.col-xs-12
						%h4= @type == 'featured' ? title : 'Billing'
				
			= render partial_file_path, featured_objects: featured_objects
			.text-center
				= render 'layouts/shared/add_pagination', objects: featured_objects
    
	- else
		.tab-pane.fade.in.active
			%h2
			= render 'billings/saved_cards', add_new_card_url: add_new_card_url
			
			%h2 Billing Transactions

			= render 'billings/billings'
			
			.text-center
				= render 'layouts/shared/add_pagination', objects: @billings