<div class="headerUserWraper">
  <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><%= image_tag current_user.profile_image, alt: 'avatar', class: 'avatar', style: 'width:30px;height:30px;' %></a>
  <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
      <%= image_tag current_user.profile_image, class: "avatar headerAvatar pull-left", alt: 'Avatar'%>
      <div class="userTop pull-left">
          <span class="headerUserName"><%= current_user.present? ? current_user.user_name.capitalize : '' %> </span> <span class="fa fa-angle-down"></span>
      </div>
      <div class="clearfix"></div>
  </a>
  <div class="dropdown-menu pull-right userMenu" role="menu">
    <div class="mobAvatar">
        <%= image_tag current_user.profile_image, alt: 'avatar', class: 'avatar mobAvatarImg' %>
        <div class="mobAvatarName"><%= current_user.present? ? current_user.user_name : '' %></div>
    </div>
    <ul>
      <li><a href="<%= edit_user_path(current_user) %>"><span class="icon-settings"></span>Settings</a></li>
      <li><a href="<%= user_path(current_user) %>"><span class="icon-user"></span>Profile</a></li>
      <li class="divider"></li>
      <li><%= link_to '<span class="icon-power"></span>Logout'.html_safe, destroy_user_session_path, :method => :delete %> </li>
    </ul>
  </div>
</div>