<%= render 'layouts/home/header' %>
<% unless home_page? %>
	<% unless screen_class == 'screen-sm' %>
  	<div id="search-row" class="search <%=search_bar(:hidden) %>" style="margin-top: 60px;">
  		<%= render 'layouts/shared/search_form' %>
  	</div>
  <%end%>
<%end%>

<div class="closeLeftSide"></div>
<div id="wrapper" class="<%=wrapper_classes%>">
  <div class="content <%= controller_name + action_name %>">
    <%= yield %>
  </div>
</div>