.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .table-overflow
    %table#sortable1.table
      %thead
        %tr
          %th Building Name
          %th Building Address
          %th Rating
          %th Reviews
          %th Photos
          %th Website
          %th Disconnect
      %tbody.table
        - @manage_buildings.each do |building|
          %tr
            %td
              %span.propName
                %b= link_to(building_name_or_address(building), building_path(building))
            %td= link_to building.street_address, building_path(building)
            %td.star-sm= rating_for building, 'building', disabled_after_rate: true, readonly: true
            %td= link_to "Reviews(#{building.reviews_count})", building_reviews_path(building_id: building.id)
            %td= building.uploads.count if building.uploads.present?
            %td.text-center
              = link_to globe_icon_helper, building.web_url, target: '_blank', rel: rel if building.web_url.present?
            %td.text-center= link_to 'Disconnect', disconnect_building_building_path(building), class: 'text-danger', remote: true, data: {confirm: 'Are you sure you want to discconect this building?'}