<div class="tables">
  <% if current_user.present? %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-right">
          <%= link_to "Add New Management", new_management_company_path, class: 'btn btn-blue' %>
        </div>
      </div>
    </div>
    <h2></h2>
  <%end%>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-overflow">
        <table class="table" id="sortable">
          <thead>
            <tr>
              <th>Management Name (<%= @management_companies.count %>)</th>
              <th>Website</th>
              <th>Buildings</th>
              <th width='12%'>Rating</th>
              <th>Reviews</th>
              <th>Creation Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="table">
            <% @management_companies.each do |company| %>
              <tr>
                <td><span class="propName"><b><%= link_to company.name, no_fee_company_path(id: company) %> </td>
                <td class="text-center"><%= link_to '<span class="fa fa-globe"></span>'.html_safe, company.website, target: '_blank' if company.website.present? %></td>
                <td class="text-center"><%= link_to company.buildings.count, managed_buildings_management_company_path(company), class: 'hyper-link' if company.buildings.present? %></td>
                <td class="star-sm">
                  <% @stars = company.get_average_stars %>
                  <%= render 'layouts/shared/custom_rating' %>
                </td>
                <td><%= company.aggregate_reviews %></td>
                
                <td><%= company.created_at.strftime("%Y-%m-%d") %></td>
                
                <% if current_user && current_user.has_role?(:admin) %>
                    <td><%= link_to "edit", edit_management_company_path(company) %></td>
                    <td><%= link_to "Delete", management_company_path(company), method: :delete, data: {confirm: "Are you sure you want to delete this management?"}, class: 'text-danger' %></td>
                <%end%>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="text-center" >
  <%#= will_paginate @buildings, renderer: BootstrapPagination::Rails %>
</div>