<% content_for :page_title do%><%= "#{@management_company.name}" if @management_company.name.present? %> <%end %>

<!-- <div id="street_view_btn" class="hidden-xs">
  <input type="button" id="toggleStreetView" value="Street View" class="btn btn-info"></input>
</div> -->
<div id="mapViewSearch" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
<div id="pano"></div>

<div id="content" class="mob-max">
  
  <div class="singleTop">
    <div class="summary">
		  <div class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		      <div class="summaryItem" style="margin-bottom: 0px;">
	          <h1 class="pageTitle"><%= @management_company.name %> </h1>
	          <div class="property_information" style="padding: 0px 2px;">
	            <div><%= link_to 'Website', @management_company.website, class: 'hyper-link', target: '_blank' %></div>
		          <div style="display: inline-block;">
		            <%= render 'layouts/shared/custom_rating' %>
	              <div class="favLink">
	              	<span class="icon-pipe"></span>
	                <%= !@management_company.recommended_percent.present? or @management_company.recommended_percent.nan? ? "| <span class='fa fa-thumbs-up recommended'></span> --%".html_safe :  "| <span class='fa fa-thumbs-up recommended'></span> #{@management_company.recommended_percent.to_i}%".html_safe %>
	              </div>
		          </div>
		        </div>
	          <div class="clearfix"></div>
		      </div>
		    </div>
		  </div>
		</div>
  </div>
  
  <div class="tabsContainer" id="reviewsContainer">
    <ul class="nav nav-tabs nav-justified" role="tablist">
    	<li class="active"><a href="#building_managed" role="tab" data-toggle="tab"><%= 'BUILDINGS MANAGED'%> (<%= @manage_buildings.count %>)</a></li>

      <li><a href="#buildings_reviews_tab" role="tab" data-toggle="tab"><%= "BUILDING REVIEWS (#{ @management_company.aggregate_reviews })"%></a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane fade" id="buildings_reviews_tab" style="overflow-y: scroll;height: 500px;">
        <div class="comments objects-container" style="padding: 0px 14px 34px 20px;">
          <% if @reviews.present? %>
            <%# @reviews.each do |review| %>
              <%#= render partial: 'reviews/reviews', locals: { review: review, reviewable: review.reviewable } %>
              <%= render partial: @reviews %>
            <%# end %>
          <%end%>
        </div>
        <div class="load-more-container text-center">
    			<!-- hide our loading gif image so that we show it when making ajax call via jquery -->
					<%= image_tag 'loader.gif', style: 'display:none;', class: 'loading-gif' %>
					<%= link_to 'Show More ...', load_more_reviews_path(id: @management_company.id), class: 'load-more', style: 'padding: 6px 27px;border: 1px solid #ddd;' %>
				</div>
      </div>

      <div class="tab-pane fade  in active" id="building_managed">
        <!-- <div class="singleTop" style="padding-bottom: 0px;"> -->
          <div class="row" id="load-more-buildings">
            <%= render partial: 'home/search_results', locals: { buildings: @manage_buildings } %>
          </div>

          <div class="pages-container">
            <%= will_paginate @manage_buildings, renderer: BootstrapPagination::Rails %>
          </div>
        	<%# @manage_buildings.each do |building| %>
        		<%# @building = building %>
        		<!-- <div style="border-bottom: 6px solid #f3f3f3; padding: 6px 0px 0px;"> -->
	        		<%#= render partial: 'buildings/building_images_slider' %>
	        		<!-- <a href="<%#= building_path(building) %>"> -->
		          	<%#= render partial: 'buildings/building_summary' %>
		          <!-- </a> -->
	          <!-- </div> -->
	         <%#end%>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<%= render partial: 'home/map_script' %>


