- content_for :page_title do
  = "#{@management_company.name}" if @management_company.name.present?

- content_for :neighborhoods_modal do
  = render 'layouts/shared/pop_neighborhoods_list'

= render 'buildings/partials/map_data_field'

#mapViewSearch.mob-min
  .mapPlaceholder
    %span.fa.fa-spin.fa-spinner
    Loading map...

#pano

#content.mob-max
  .singleTop
    .summary{style: 'padding: 20px 20px 0 20px;'}
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .summaryItem{style: 'margin-bottom: 0px;'}
            %h1.pageTitle.fon-16= @management_company.try(:name)
            .property_information{style: 'padding: 0px 2px;'}
              %p
              %div= link_to 'Website', @management_company.try(:website), class: 'hyper-link', target: '_blank'
              %div{style: 'display: inline-block;'}
            .clearfix
  
  #reviewsContainer.tabsContainer
    = hidden_field_tag :total_reviews, @total_reviews
    %ul.nav.nav-tabs.nav-justified{role: 'tablist'}
      %li.active
        %a{'data-toggle' => 'tab', href: '#building_managed', role: 'tab'}
          = 'BUILDINGS MANAGED'
          (#{@buildings_count})
      %li
        %a{'data-toggle' => 'tab', href: '#buildings_reviews_tab', role: 'tab'}= "BUILDING REVIEWS (#{ @total_reviews })"
    
    .tab-content.split-view
      #buildings_reviews_tab.tab-pane.fade{style: 'overflow-y: scroll; height: 500px;'}
        .comments.objects-container{style: 'padding: 15px 14px 0px 20px;'}
          - if @reviews.present?
            = render :partial => 'reviews/review', :collection => @reviews, :as => :review, cache: true
        .load-more-container.text-center{style: 'margin-bottom: 20px;'}
          / hide our loading gif image so that we show it when making ajax call via jquery
          = image_tag 'loader.gif', style: 'display:none;', class: 'loading-gif'
          = link_to 'Show More ...', load_more_reviews_path(id: @management_company.id), class: 'load-more', style: 'padding: 6px 27px;border: 1px solid #ddd;' if @total_reviews > 10
        
        = render 'layouts/home/footer'
      #building_managed.tab-pane.fade.in.active.no-padding
        .resultsList.searched-properties{class: controller_name}
          #load-more-buildings.row= render partial: 'buildings/building', :collection => @all_buildings, :as => :object
        
        .pages-container{style: 'padding: 15px'}= render 'layouts/shared/add_pagination', objects: @manage_buildings

        = render 'layouts/home/footer'

:javascript
  $(function(){ new app.apartments; })