<% content_for :page_title do%><%= "#{@management_company.name}-" if @management_company.name.present? %> <%="#{@management_company.name}" %><%end %>

<div id="street_view_btn" class="hidden-xs">
  <input type="button" id="toggleStreetView" value="Street View" class="btn btn-info"></input>
</div>
<div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
<div id="pano"></div>

<div id="content" class="mob-max">
  
  <div class="singleTop">
    <div class="summary">
		  <div class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		      <div class="summaryItem">
	          <h1 class="pageTitle"><%= @management_company.name %> </h1>
	          <!-- <div class="address"><span class="icon-location-pin"></span> <%#= @building.street_address %>, <%#= @building.zipcode %></div> -->
	          
	          <div class="property_information" style="padding: 0px 5px;">
	            <div><%= link_to 'Website', @management_company.website, class: 'hyper-link', target: '_blank' %></div>
	          </div>

	          <div style="display: inline-block;">
	            <ul class="rating star-sm">
	              <% half = true %>
					  		<% 1.upto(5) do |num| %>
					  			<% if num <= @total_rates.to_i %>
					  				<li><%= image_tag 'star-on.png' %></li>
					  			<%elsif @decimal_part >= 0.30 and @decimal_part <= 0.75 and half %>
					  				<li><%= image_tag 'star-half.png' %></li>
					  				<% half = false %>
					  			<%else%>
					  				<li><%= image_tag 'star-off.png' %></li>
					  			<%end%>
					  		<%end%>
	            </ul>

	            <%# if @building.votes.present? %>
	              <div class="favLink"><span class="icon-pipe"></span>
	                <%= @management_company.recommended_percent.nan? ? '| --% recommended' :  "| #{@management_company.recommended_percent.to_i}% Recommended" %>
	              </div>
	            <%#end%>
	          </div>
	          <div class="clearfix"></div>
		      </div>
		    </div>
		  </div>
		</div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="tabsContainer" id="reviewsContainer">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#buildings" role="tab" data-toggle="tab"><%= "BUILDING REVIEWS (#{ @management_company.aggregate_reviews })"%></a></li>
      <li><a href="#building_managed" role="tab" data-toggle="tab"><%= 'BUILDING MANAGED'%> (<%= @manage_buildings.count %>)</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane fade in active" id="buildings">
        <div class="comments">
        	<% @manage_buildings.each do |building| %>
	          <% if building.reviews.present? %>
	            <% building.reviews.includes(:user, :uploads).order('created_at desc').each do |review| %>
	              <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: building } %>
	            <% end %>
	          <%end%>
	         <%end%>
        </div>
      </div>

      <div class="tab-pane fade" id="building_managed">
        <div class="singleTop" style="padding-bottom: 0px;">
        	<% @manage_buildings.each do |building| %>
        		<% @building = building %>
        		<div style="border-bottom: 3px solid #f3f3f3; padding: 6px 0px 0px;">
	        		<%= render partial: 'buildings/building_images_slider' %>
		          <%= render partial: 'buildings/building_summary' %>
	          </div>
	         <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


