%h2
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #filterrific_results{style: "margin-top: 10px;"}
      .table-overflow
        %table.table.table-striped#sortable
          %thead
            %tr
              %th Comp ID(#{@featured_comps.count})
              %th Building
              %th{width: "8%"} Management
              %th{width: "12%"} Website
              %th{width: "30%"} Featured On
              %th Start Date
              %th End Date
              %th
              %th
              %th Active
          
          %tbody.table
            - @featured_comps.each do |comp|
              %tr
                %td=link_to comp.id, edit_featured_comp_path(comp)
                %td=link_to comp.building.building_name_or_address, building_path(comp.building)
                %td=link_to comp.building.management_company.try(:name), '#'
                %td= link_to '<span class="fa fa-globe"></span>'.html_safe, comp.building.web_url, target: '_blank' if comp.building.web_url.present?
                %td= link_to comp.buildings.count,featured_comp_path(comp) , class: 'hyper-link'
                %td= comp.start_date
                %td= comp.end_date
                %td= link_to 'edit', edit_featured_comp_path(comp)
                %td= link_to 'Delete', featured_comp_path(comp), method: :delete, data: {confirm: "Are you sure you want to delete this comp?"}, class: 'text-danger'
                %td
                  %input.apple-switch.sb-sm.featured_comps{type: 'checkbox', checked: comp.active, style: 'margin: 0px;', data: { compid: comp.id } }