<div class="modal fade" id="flagDescription<%=review.id%>" role="dialog" aria-labelledby="flagDescriptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="contirbuteMoreLabel">Please write the problem with the review.</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for ReviewFlag.new, html: { class: 'form-horizontal', id: "review_flag_#{review.id}"} do |f| %>
          <fieldset>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <%= f.text_area :flag_description, placeholder: 'Please write the problem...', rows: '3', cols: '5', class: 'form-control', id: "review_flag_flag_description#{review.id}" %>
                <%= f.hidden_field 'review_id', value: review.id, id: "review_flag_review_id#{review.id}" %> 
                <%= f.hidden_field 'user_id', value: current_user.id, id: "review_flag_user_id#{review.id}" %>
              </div>
            </div>

            <h2></h2>

            <div class="form-group">
              <div class="pull-right">
                <%= f.submit 'Submit', class: 'btn btn-blue btn-sm', data: { disabled_with: 'Submitting...' } %>
              </div>
            </div>
          </fieldset>
        <%end%>
      </div>
    </div>
  </div>
</div>
