%div{style: 'padding: 8px 10px;'}
	.row
		.col-lg-12.col-xs-12.offset-4
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-4
					%p.font-21 Featured Listing
			%br
			.row
				.col-xs-6.col-sm-6.col-md-8.col-lg-4
					%b.font-16.hyper-link Amenities
			%br
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-4
					= form_for @featured_listing do |f|
						.row
							.col-lg-6.col-xs-12.col-sm-12.col-md-6
								.checkbox.custom-checkbox{style: 'margin-top: 0px;'}
									%label
										= check_box_tag 'featured_listing[amenities][no_fee]', 'No Fee', checked: true
										%span.fa.fa-check
										No Fee

								- BuildingAmenities.listing_amenities.each do |key, value|
									- saved_value = @listing_amenities[key.to_s]
									.checkbox.custom-checkbox
										%label
											= check_box_tag "featured_listing[amenities][#{key}]", value, saved_value.present?
											%span.fa.fa-check
											= value
								= hidden_field_tag :next_step, :add_photos
						%br

						.row
							.col-sm-12.col-lg-12
								%div{class: action_links_alignment_class}
									= previous_link(next_prev_step_url(@featured_listing, step: 'create'))
									= submit_link(f, title: next_text)

						%br
						%br
- if browser.device.iphone? || browser.safari?
	:css
		.checkbox.custom-checkbox{
			line-height: 15px;
			margin-bottom: 0px;
		}
