- @imageable = featured_listing
.row
	.col-lg-12.col-lg-offset-3
		%p.font-bold.font-16{style: 'margin: 8px;'} Add Photos
.row
	.col-lg-12.col-xs-12.col-lg-offset-3
		%p{style: 'margin: 0px 8px;'} First image will be Featured
		= render 'uploads/form_fields', show_done: false

- if @imageable.uploads_count > 0
	.row
		.col-lg-6.col-xs-12.col-lg-offset-3
			.row.photo-grid-container#featured-listing-image
				= render 'uploads/image_gallery', uploads: @imageable.uploads

%br

.row
	.col-lg-6.col-lg-offset-3
		.pull-left
			= link_to 'Cancel', @imageable.featured_by_manager? ? frbotools_user_path(current_user, type: 'featured') : featured_listings_path, class: 'font-18 pl-28 pr-28'
		
		.pull-right
			= link_to '<- Back', next_prev_step_url(@imageable, step: 'add_amenities'), class: 'btn btn-default font-18 pl-28 pr-28'
			= link_to 'Next ->', next_prev_step_url(@imageable, step: 'payment'), class: 'btn btn-primary btn-done font-18 pl-28 pr-28'

%br