- @show_path = object_show_path(featured_listing)
.card.search-view-card{class: "#{@border_class} #{home_page? ? 'home' : ''}", 'data-bid' => featured_listing.id, id: "card-#{featured_listing.id}", 'data-proptype' => featured_listing.class.name}
  = link_to @show_path do
    .figure{style: 'position: relative;', id: "figure#{featured_listing.id}"}
      .shimmer
        
    .building-detail-card{ data: { show_url: @show_path } }
      %h2.name-or-add= featured_listing.address_with_unit
      .cardAddress
        = map_marker_icon_helper
        = featured_listing.city_state_zip
  
  = link_to @show_path, style: 'color: #000' do
    %div.font-14{style: 'padding: 0px 0px 0px 11px; height: 22px; white-space: nowrap;'}
      %div.pbt= "#{featured_listing.apartment_type} in #{featured_listing.neighborhood}" if featured_listing.apartment_type.present?
      %div.pbt= "#{rent_with_currency(featured_listing)} | #{featured_listing.bed} Bed #{featured_listing.bath} Bath"

  .clearfix
  = link_to @show_path, style: 'color: #000' do
    %br
    %p
    .cta_buttons{id: "cta-links#{featured_listing.id}"}
      
.clearfix