%h2
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #filterrific_results{style: 'margin-top: 10px;'}
      .table-overflow
        %table.table.table-striped#sortable1{style: browser.device.mobile? ? 'width: 80em; max-width: 100%;' : ''}
          %thead
            %tr
              %th{width: tbl_cell_width('10%', '8%')} Feature ID(#{featured_listings.count})
              %th{width: tbl_cell_width('16%', '16%')} Address
              %th{width: tbl_cell_width('18%', '8%')} Unit
              %th{width: tbl_cell_width('12%')} Neighborhood
              %th{width: tbl_cell_width('12%')} Photos
              %th{width: tbl_cell_width('15%')} Start Date
              %th{width: tbl_cell_width('15%')} End Date
              %th{width: tbl_cell_width('6%')} Edit
              %th{width: tbl_cell_width('6%')} Delete
              %th{width: tbl_cell_width('6%')} Renew
              %th{width: tbl_cell_width('6%')} Active
          
          %tbody.table
            - featured_listings.each do |listing|
              %tr
                %td= listing.id
                %td
                  - if listing.address.present?
                    =link_to listing.full_address, object_show_path(listing)
                %td= listing.unit
                %td
                  - nb = listing.try(:neighborhood)
                  - if Building::CITIES.include?(nb)
                    = link_to nb, "/no-fee-apartments-nyc-city/#{nb.downcase}-ny", target: '_blank'
                  - else
                    = neighborhood_link(nb)
                %td= listing.uploads_count
                %td= start_date(listing)
                %td= end_date(listing)
                - unless params[:type] == 'featured'
                  %td
                    = link_to 'edit', edit_featured_listing_path(listing, featured_by: @featured_by) unless listing.featured_by_manager?
                  %td
                    = link_to 'Delete', featured_listing_path(listing), method: :delete, data: { confirm: 'Are you sure you want to delete this featured listing?' }, class: 'text-danger' unless listing.featured_by_manager?
                  %td=renew_switch_button(listing, disabled: true)
                  %td=active_switch_button(listing)
                - else
                  - if current_user == listing.user
                    %td= link_to 'Edit', next_prev_step_url(listing, step: 'create')
                    %td
                      = link_to 'Delete', featured_listing_path(listing), method: :delete, data: {confirm: 'Are you sure you want to delete this featured listing?'}, class: 'text-danger' if listing.draft?
                    %td=renew_switch_button(listing, disabled: true)
                    %td=active_switch_button(listing, fbby: 'manager', showbillingurl: true)
