- neighborhood = featured_listing.try(:neighborhood)		  
- if featured_listing.apartment_type.present? || neighborhood.present?
	%div.pbt
		= "#{featured_listing.apartment_type} in" if featured_listing.apartment_type.present?
		= link_to neighborhood, borough_search_link(neighborhood), class: 'hyper-link' if neighborhood.present?

%div.pbt= "Available #{date_available(featured_listing)}"

%div.pbt= "For Rent By #{featured_listing.name_with_last_initial}."

.clearfix
.clearfix