.section-container
	- if show_summary
		%div{ style: 'position: relative;margin-bottom: 20px;' }
			.summary
				.row
					.col-lg-12.col-md-12
						.add--assets{class: current_user&.admin? ? 'admin' : ''}
							.row
								.col-lg-3.col-xs-5.col-md-5
								.col-sm-3.col-lg-9.col-xs-7.col-md-7
									.text-end=seel_all_link(@featured_listing, @uploaded_images_count, 'see-all')
				.row
					.col-xs-11.col-sm-8.col-md-8.col-lg-9
						%p.pageTitle.font-bold.font-24{style: 'width: 100%; margin: 10px 0px 0px;'}
							= rent_with_currency(@featured_listing)
					
					.col-xs-1.col-sm-4.col-md-4.col-lg-3
				
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.property_information
							.address{style: 'margin-left: -1px;'}= listing_address(@featured_listing)
							= render 'featured_listings/property_detail', featured_listing: @featured_listing
						%br
						= featured_listing_contact_owner_button(@featured_listing, size_class: 'btn-block btn-round')

	.clearfix
	- if @video_tours_count > 0
		.amenities.show-section#video-tours
			%h3="3D / Video Tour (#{@video_tours_count})"
			= launch_tour_link(@featured_listing)

	.clearfix
	- if @featured_listing.description.present?
		.show-section
			%h3 Description
			%p= simple_format(@featured_listing.description)
	
	.clearfix
	.show-section
		%h3 Amenities
		.row
			- @featured_listing.amenities.each_pair do |key, value|
				.col-xs-6.col-sm-6.col-md-4.col-lg-4.amItem.font-14
					%span= image_tag "amenities_icons/#{key}.png", width: '16', height: '16', alt: value
					= value
	
	- unless screen_class == 'screen-lg'
		.show-section.show-map-handler{style: 'height: 200px; width: 100%; margin-bottom: 20px;margin-top: 20px;'}
			%br
			#mob-map{style: 'height: 100%; width: 100%;'}
				.mapPlaceholder
					%span.fa.fa-spin.fa-spinner 
					Loading map...
		

	.clearfix
	
	#subways.show-section=render 'buildings/show/subways'

	.clearfix
	= render 'layouts/shared/nearby_neighborhoods', nearby_nbs: @nearby_nbs
	