- if current_user.has_role? :admin

  .pull-right= render 'layouts/shared/filterrific_form'
  
  %h2

  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      #filterrific_results{style: 'margin-top: 10px;'}
        .table-overflow
          %table.table.table-striped#sortable
            %thead
              %tr
                %th{width: '6%'} Feature ID
                %th{width: '8%'} Owner Name
                %th{width: '18%'} Account Email
                %th{width: '12%'} Listing Email
                %th{width: '12%'} Address Unit
                %th{width: '12%'} Neighborhood
                %th{width: '6%'} #{@featured_listings.sum(:uploads_count)} Photos
                %th{width: '15%'} Start Date
                %th{width: '15%'} End Date
                %th{width: '6%'} Delete
                %th{width: '6%'} Renew
                %th{width: '6%'} Active
            
            %tbody.table
              - @featured_listings.each do |listing|
                %tr
                  %td= listing.id
                  %td= listing.owner_full_name
                  %td= listing.user.email
                  %td= listing.try(:email)
                  %td= link_to listing.full_address_with_unit, object_show_path(listing)
                  %td= link_to listing.try(:neighborhood), '#'
                  %td= listing.uploads_count
                  %td= start_date(listing)
                  %td= end_date(listing)
                  %td= link_to 'Delete', featured_listing_path(listing), method: :delete, data: { confirm: 'Are you sure you want to delete this featured listing?'}, class: 'text-danger'
                  %td
                    %input.apple-switch.sb-sm.featured-listing.renew.disabled{type: 'checkbox', checked: listing.renew, style: 'margin: 0px;', 'data-field' => 'renew', 'data-fbid' => listing.id, disabled: true }
                  %td
                    %input.apple-switch.sb-sm.featured-listing{type: 'checkbox', checked: listing.active, style: 'margin: 0px;', data: { fbid: listing.id } }

  .text-center= will_paginate @featured_listings, renderer: BootstrapPagination::Rails

  :css
    #sortable_filter{
      display: none;
    }