<div style='margin: 8px;'>
  <div class="row">
    <div class="col-lg-12">
      <div class="media">
        <div class="media-left">
          <div class="media-body">
            <h1 class="pageTitle"><%= link_to @tourable.building_name_or_address, object_show_path(@tourable) %></h1> 
            <div class="address text-muted">
              <%= link_to object_show_path(@tourable) do %>
                <%= building_street_address @tourable %> <br />
                <%= @tourable.neighborhood %>
              <%end%> 
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <h2></h2>
  <div class="row">
    <div class="col-lg-12">
      <% VideoTour::CATEGORIES.each do |category| %>
        <% index = 0 %>
        <% video_tours = @video_tours.where(category: category[1]) %>
        <h4 class="font-bold">
          <%= cat = category[0] %> 
          <%= append_tour_link(@tourable, cat, last_tour: video_tours.last )%>
        </h4>
        <div id="<%=category[1]%>-form" class="category-forms-container">
          <% if video_tours.present? %>
            <% video_tours.each do |tour| %>
              <%= render 'form_fields', object: @tourable, video_tour: tour, category: category, index: tour.sort %>
            <%end%>
          <%else%>
            <%= render 'form_fields', object: @tourable, video_tour: @video_tour, category: category, index: index %>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
</div>

<style type="text/css">
  .category-forms-container{
    background: #fafafa;
    padding: 8px;
    margin-bottom: 22px;
  }
  .video-preview{
    width: 100%;
    height: 80px;
    border: 1px solid #e1e0e0;
  }
  .vertically-middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
</style>