%div{style: "padding: 10px; color: ##{cat_color};"}
	- VideoTour::CATEGORIES.each do |category|
		- video_tours = @video_tours[category[1]]
		- if video_tours.present?
			%p.font-16.font-bold=category[0]
			.row
				- video_tours.each do |video|
					- url = video.url
					.col-lg-6.image-gallery
						%p.font-14=video.try(:description)
						%a.propWidget-1.tour-fbox{'data-caption' => video.try(:description), 'data-fancybox' => 'gallery', href: 'javascript:;', 'data-type' => 'iframe', 'data-src' => "#{url}?#{auto_play(url)}"}
							%div{style: "position:absolute;z-index:500;height:#{@vd_height}px;width:100%;"}
							%iframe{src: url, style: "width: 100%;height: #{@vd_height}px;border:none;", frameborder: '0', allowfullscreen: true}

- if @building_tours.present? && @building_tours.length >= 3
	.row
		.col-lg-12
			%table.table
				%tr
					%td.text-center= link_to 'Show More Videos...', show_tour_path(building_id: @building.id), remote: true, class: 'font-14'