.row
  .col-lg-12
    %h1.pageTitle= link_to @building.building_name_or_address, building_path(@building)
    .address.text-muted
      = link_to building_path(@building) do
        = building_street_address @building
        %br/
        = @building.neighborhood
    
%hr/
%div{class: "row #{current_user && current_user.has_role?(:admin) ? 'photo-grid-container' : ''}"}
  - VideoTour::CATEGORIES.each do |category|
    - @video_tours.where(category: category).each_with_index do |tour, index|
      - url = tour.url
      .photo-grid-item.image-gallery{'data-object-id' => "#{tour.id}", 'data-sort-id' => index}
        %a.propWidget-1{caption: "#{date_uploaded(upload)}", 'data-fancybox' => 'gallery', 'data-role' => 'slider', href: "#{url}"}
          = image_tag url, alt: 'Image', class: 'img-thumbnail'
        / = link_to '<span class="fa fa-trash" />'.html_safe, upload_path(upload), method: :delete, remote: true, class: 'btn btn-danger btn-xs pull-right1 delete_image'
        / = link_to '<span class="fa fa-edit" />'.html_safe, edit_upload_path(upload, upload_type: 'image'), remote: true, class: 'btn btn-primary btn-xs pull-right1 edit_image'
        / = link_to '<span class="fa fa-repeat" />'.html_safe, rotate_upload_path(upload), class: 'btn btn-warning btn-xs rotate'
/ jquery click function in zapp.js
.loading.hidden Loading…

:javascript
  $('.photo-grid-container').sortablePhotos({
      selector: '> .photo-grid-item',
      sortable: true,
    });