<p class="font-21">User Details</b>
<%= form_for @user, class: 'form-horizontal' do |f| %>
  <div class="form-group mb-3">
    <label>Email</label>
     <%= f.text_field :email, class: 'form-control', readonly: true%>
  </div>

  <div class="form-group mb-3">
    <label>Name</label>
     <%= f.text_field :name, value: @user.logged_in_user_name, class: 'form-control'%>
  </div>
    
  <div class="form-group mb-3">
    <label>phone</label>
    <%= f.text_field :phone, class: 'form-control'%>
  </div>

  <div class="form-group mb-3">
    <label>Image</label>
    <%= f.file_field :avatar, class: 'form-control'%>
  </div>
    
  <div class="form-group">
    <div class="col-sm-12">
      <div class="float-end">
        <%= f.submit 'Save', class: "btn btn-blue" %>
      </div>
    </div>
  </div>  
<% end %>