<div class="row">
	<% @buildings.each do |building| %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="properties">
      <div class="card">
        <%= link_to building_path(building) do %>
          <div class="figure" style="position: relative;">
            <%= image_tag single_image(building), alt: 'image' %>
            <div class="figCaption fill-heart">
              <span class="fa fa-heart"> <%= building.favorites.count%></span>
            </div>
          </div>
          <h2><%= building.building_name_or_address %></h2>
          <div class="cardAddress"><span class="icon-pointer"></span> <%= building.street_address %>, <%= building.zipcode %></div>
          <%= render partial: 'home/building_detail', locals: {building: building} %>
        <%end%>

        <div style="padding: 8px;">
          <%= check_availability_link(building) %>
        </div>
      </div>
    </div>
	<%end%>
</div>

<%= will_paginate @buildings, renderer: BootstrapPagination::Rails %>
	    