- if @user.present?
	= render 'layouts/shared/tools_widget', title: 'Featured Agents', featured_url: agenttools_user_path(current_user, type: 'featured'), billing_url: agenttools_user_path(current_user, type: 'billing')
      
	.tab-content
		- if @type == 'featured'
			.tab-pane.fade.in.active
				.row
					.col-lg-6
						.pull-left
							%h4= @type == 'featured' ? 'Featured Agents' : 'Billing'
					.col-lg-6
						.pull-right
							= link_to 'Add New Featured Agent', new_manager_featured_agent_user_path(current_user, type: 'featured'), class: 'btn btn-primary'

					= render 'featured_agents/agents'
					
					.text-center= will_paginate @featured_agents, renderer: BootstrapPagination::Rails
      
		-else
			.tab-pane.fade.in.active
				%h2
				= render 'billings/saved_cards', add_new_card_url: new_manager_featured_agent_user_path(current_user, type: 'add_new_card')
				
				%h2 Billing Transactions

				= render 'billings/billings'
				
				.text-center= will_paginate @billings, renderer: BootstrapPagination::Rails
