<div class="tables">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2><%= @user.name %></h2>
    </div>
  </div>
  <h2></h2>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-overflow">
        <table class="table">
          <thead>
            <tr>
              <th>PROPERTY</th>
              <th width="20%">TITLE</th>
              <th width="20%">PROS</th>
              <th width="20%">CONS</th>
              <th width="20%">OTHER ADVICE</th>
            </tr>
          </thead>
          <tbody class="table">
            <% if @user.reviews.present? %>
              <% @user.reviews.each do |review| %>
                <tr>
                  <td>
                    <%= link_to_property_show(review.reviewable) %>
                  </td>
                  <td><%= review.review_title %></td>
                  <td><%= simple_format(review.pros) %></td>
                  <td><%= simple_format(review.cons) %></td>
                  <td><%= simple_format(review.other_advice) %></td>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>