<div class="tables">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
		<%= render 'form' %>
	</div>

  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <% if @buildings.present? %>
      <h3 style="margin-top: 0px;"><%= @manage_buildings.present? ? 'Connected' : 'Listed' %> Properties (<%= @buildings.count %>)</h3>
		 <%= render 'listed_properties' %>
    <%else%>
      <h3 style="margin-top: 0px;">Listed Properties(0)</h3>
      <%= link_to 'Add a property', new_building_path, class: 'btn btn-blue' %>
    <%end%>
  </div>
</div>
</div>
