<% if current_user.has_role?(:admin) %>
  <div class="tables">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-overflow">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Phone</th>
                <th>Listed properties</th>
                <th>Creation date</th>
                <th>Last login</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= link_to user.email, user_path(user) %></td>
                  <td><%= "#{user.mobile}" %></td>
                  <td><%= "#{user.phone}" %></td>
                  <td><%= user.buildings.present? ? user.buildings.count : '' %></td>
                  <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
                  <td><%= user.last_sign_in_at.strftime("%Y-%m-%d") if user.last_sign_in_at.present? %></td>
                  <td><%=link_to 'Contribution', contribution_user_path(id: user.id) %></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%end%>




