- if @user.present?
	.tables
		.row
			.col-lg-12
				.pull-left
					.btn-group
						=link_to 'Featured buildings', managertools_user_path(current_user, type: 'featured'), class: "btn #{params[:type] == 'featured' ? 'btn btn-primary' : 'btn-default'}"
						=link_to 'Billing', 					 managertools_user_path(current_user, type: 'billing') , class: "btn #{params[:type] == 'billing' ? 'btn btn-primary' : 'btn-default'}"
		%h2

		.row
			.col-lg-6
				.pull-left
					%h4="#{current_user.name}'s Featured Buildings"
			.col-lg-6
				.pull-right
					=link_to 'Add New Featured Buildings', new_manager_featured_building_user_path(current_user, type: 'featured'), class: 'btn btn-primary'
					
					- if @filterrific.present?
						%p
						= form_for_filterrific @filterrific do |f|
							.form-field
								= f.text_field :search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Search'

		- if params[:type] == 'featured'
			=render 'featured_buildings/buildings'
			.text-center
				= will_paginate @featured_buildings, renderer: BootstrapPagination::Rails
		-else
			=render 'billings/billings'