- if @user.present?
	.row
		.col-lg-6.col-xs-12
			%h2
			.tabsWidget
				%ul.nav.nav-tabs.nav-justified{role: 'tablist'}
					%li{class: @type == 'featured' ? 'active' : ''}
						%a{href: managertools_user_path(current_user, type: 'featured')}
							%b Featured Buildings 
					%li{class: @type == 'billing' ? 'active' : ''}
						%a{href: managertools_user_path(current_user, type: 'billing')}
							%b Billing
      
	.tab-content
		- if @type == 'featured'
			.tab-pane.fade.in.active
				.row
					.col-lg-6
						.pull-left
							%h4=@type == 'featured' ? "#{current_user.name}'s Featured Buildings" : "#{current_user.name}'s Billing"
					.col-lg-6
						.pull-right
							=link_to 'Add New Featured Building', new_manager_featured_building_user_path(current_user, type: 'featured'), class: 'btn btn-primary'
							
							- if @filterrific.present?
								%p
								= render 'layouts/shared/filterrific_form'

					=render 'featured_buildings/buildings'
					.text-center
						= will_paginate @featured_buildings, renderer: BootstrapPagination::Rails
      
		-else
			.tab-pane.fade.in.active
				%h2
				= render 'billings/saved_cards', add_new_card_url: new_manager_featured_building_user_path(current_user, type: 'add_new_card')
				
				%h2 Billing Transactions

				= render 'billings/billings'
				
				.text-center= will_paginate @billings, renderer: BootstrapPagination::Rails
