- if @management_company.present? and params[:controller] == 'management_companies'
  %div{style: "padding: 0px 0px 0px 11px;height: 23px;"}
    = "#{building.building_type} in" if building.building_type.present?
    = link_to building.neighborhood_name, borough_search_link(building.neighbohoods), class: 'hyper-link' if building.neighbohoods.present?
%div{style: "padding: 0px 0px 0px 11px;height: 23px;color: #333;"}
  = render partial: 'buildings/bedroom_types_and_prices', locals: { building: building }
%ul.cardRating
  .pull-left{style: "margin-right: 10px;", class: @similar_properties.present? ? 'star-xs' : 'star-sm' }
    = rating_for building, 'building', disable_after_rate: true,readonly: true, cancel: false
  %div
    = recommended_percent(building).html_safe
  .clearfix
.clearfix