 <!-- set data-ride=carousal if need to auto slide images -->
 <div id="carouselFull<%=building.id%>" class="carousel slide" data-ride="carousel1">
    <% if building.image_uploads.count > 1 %>
        <div class="carousal-image-counts">
            <span class="img-num">1</span> /
            <span class="img-count"><%= building.image_uploads.count %></span>
        </div>
    <%end%>
    <div class="carousel-inner">
        <div class="bg-size-cover item active" style='background-image: url("<%=building.image_uploads.first.image.url%>");'>
            
        </div>
    </div>
        
    <% if building.image_uploads.count > 1 %>
        <a class="left carousel-control" href="#carouselFull<%=building.id%>" role="button" data-slide="prev" data-buildingid="<%=building.id%>"><span class="fa fa-angle-left fa-2x"></span></a>
        <a class="right carousel-control" href="#carouselFull<%=building.id%>" role="button" data-slide="next" data-buildingid="<%=building.id%>"><span class="fa fa-angle-right fa-2x"></span></a>
    <%end%>
</div>

<style type="text/css">
    .carousal-image-counts{
        position: absolute;
        color: #fff;
        background-color: rgba(0,0,0,.6);
        padding: .25rem;
        z-index: 10;
        right: 0;
        font-size: 1.3rem !important;
        min-width: 3.5rem;
        height: auto;
        padding: .125rem .125rem .25rem;
        font-weight: bold;
    }
</style>