 <!-- set data-ride=carousal if need to auto slide images -->
 <div id="carouselFull<%=building.id%>" class="carousel slide" data-ride="carousel1">
    <% if building.image_uploads.count > 1 %>
        <div class="carousal-image-counts">
            <span class="img-num">1</span> /
            <span class="img-count"><%= building.image_uploads.count %></span>
        </div>
    <%end%>
    <div class="carousel-inner">
        <div class="bg-size-cover item active" style='background-image: url("<%=building.image_uploads.first.image.url%>");'>
            
        </div>
    </div>
        
    <% if building.image_uploads.count > 1 %>
        <a class="left carousel-control hidden-xs1" href="#carouselFull<%=building.id%>" role="button" data-slide="prev" data-buildingid="<%=building.id%>"><span class="fa fa-angle-left fa-2x"></span></a>
        <a class="right carousel-control hidden-xs1" href="#carouselFull<%=building.id%>" role="button" data-slide="next" data-buildingid="<%=building.id%>"><span class="fa fa-angle-right fa-2x"></span></a>
    <%end%>
</div>