- if images_count.to_i > 0
  - resource = object.class.to_s.tableize
  .item
    .clearfix{ style: 'width:100%;' }
      = link_to show_path, style: 'cursor: pointer;' do
        = featured_badge_helper if @similar_properties.present? || object.featured?
        
        .lightslider-slides-counts.round
          %span.current 1
          %span.total="/ #{images_count}"

        = tour_icon_helper if show_tour_icon?(object) && object.video_tours.any?

      %ul.gallery.list-unstyled{ id: "image-gallery#{object.id}", style: 'height: 270px;', data: { objectid: object.id, view_type: 'split', path: show_path, resource: resource } }
        %li
          %a{href: show_path, style: 'cursor: pointer;'}
            .h-lg.bg-size-cover.bg-pos-center{ style: "background-image: url(#{first_image.uploaded_img_url(:original)});", data: { imageid: first_image.id } }

        - if images_count > 1
          - 1.upto(images_count - 1) do |count|
            %li{data: { listindex: count } }
- else
  %a{ href: show_path, style: 'cursor: pointer;' }
    = featured_badge_helper if @similar_properties.present? || object.featured?
    .bg-size-cover.h-lg.bg-pos-center{style: "background-image: url(#{image_url('no-photo.jpg') })"}