- if images_count > 0
  - resource = object.class.to_s.tableize
  .item
    .clearfix{ style: 'width:100%;' }
      = link_to show_path, style: 'cursor: pointer;' do
        - if @similar_properties.present? or object.featured?
          %h4.comp.featured.round
            %span.icon-badge.font-14
        
        %h4.lightslider-slides-counts.round
          %span.current 1
          %span.total="/ #{images_count}"

        - if object.kind_of?(Building) && object.video_tours.any?
          .video-tour-icon
            %span.fa.fa-video-camera

      %ul.gallery.list-unstyled{ id: "image-gallery#{object.id}", style: 'height: 270px;', data: { objectid: "#{object.id}", view_type: 'split', path: show_path, resource: resource } }
        %li
          = link_to show_path, style: 'cursor: pointer;' do
            .h-lg.bg-size-cover.bg-pos-30{style: "background-image: url(#{first_image.uploaded_img_url});", data: { imageid: "#{first_image.id}" } }

        - if images_count > 1
          - 1.upto(images_count-1) do |count|
            %li{data: { listindex: "#{count}" } }
- else
  %a{ href: show_path, style: 'cursor: pointer;' }
    - if @similar_properties.present? || object.featured?
      %h4.comp.featured.round
        %span.icon-badge.font-14
    .bg-size-cover.h-lg.bg-pos-center{style: "background-image: url(#{image_url('no-photo.jpg') })"}