- if @uploads.present?
  .item
    .clearfix{ style: "width:100%;" }
      %h4.lightslider-slides-counts
        %span.current 1
        %span.total="/ #{images_count = @uploads.count}"

      %ul.gallery.list-unstyled{ id: "image-gallery#{building.id}", style: "height: 165px;", data: { buildingid: "#{building.id}" } }
        %li
          %a{href: "#{@uploads.first.image.url}", data: { fancybox: "gallery", caption: "#{date_uploaded(@uploads.first)}" } }
            .bg-size-cover{ style: "background-image: url(#{@uploads.first.uploaded_img_url});", data: { imageid: "#{@uploads.first.id}" } }

        - if images_count > 1
          - 1.upto(images_count-1) do |count|
            %li{data: { listindex: "#{count}" } }
                   