<% buildings.includes(:building_average).each do |building| %>
  <% @uploads = building.image_uploads %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card search-view-card">
      <%= link_to building_path(building) do %>
        <div class="figure" style="position: relative;">
          <%#= link_to building_path(building) do %>
          <!-- removing from management company show page because using building only to show market on map -->
            <%if @uploads.present? %>
              <div>
                <%#= render partial: 'home/carousal', locals: { building: building } %>
                <%= cache("#{building.id}_#{@uploads.count}") do %>
                  <%= render partial: 'home/lightslider', locals: { building: building } %>
                <%end%>
              </div>
            <%else%>
              <div style="background-image: url(<%= image_url('no-photo.png') %>)" class="bg-size-cover"></div>
            <%end%>
          <%end%>
        </div>

        <%= link_to building_path(building) do %>
          <div id="building_details<%=building.id%>" class="building-detail-card">
              
          </div>
        <%end%>
        <div style="float: right;margin-top: -43px;">
          <%= render partial: 'buildings/favourite', locals: { building: building } %>
        </div>
        <%= link_to building_path(building) do %>
          <%= render partial: 'home/building_detail', locals: {building: building} %>
        <%end%>
      <%#end%>
      
      <div style="padding: 8px;">
        <%= check_availability_link(building) %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<%end%>