#mapViewSearch{class: custom_search? ? 'max' : nil}
  .mapPlaceholder
    %span.fa.fa-spin.fa-spinner
    Loading map...

#content.searched-properties{class: (custom_search? and browser.device.mobile?) ? 'invisible' : nil}
  .tabsWidget.tabsWidgetSearch
    - unless browser.device.mobile?
      %ul.nav.nav-tabs.nav-justified{role: "tablist"}
        %li.active
          %a{"data-toggle" => "tab", href: "#buildings", role: "tab"}
            %b
              BUILDINGS #{"(#{ @buildings.present? ? @buildings.length : 0 })"}
        %li
          %a{"data-toggle" => "tab", href: "#resourceLinks", role: "tab"}
            %b
              NEIGHBORHOOD GUIDES #{"(#{@neighborhood_links.count})" if @neighborhood_links.present?}
      
    .tab-content.tab-scroll11{style: "background-color: #f3f3f3;"}
      - unless browser.device.mobile?
        #resourceLinks.tab-pane.fade
          = render partial: 'neighborhood_links/resource_links'
      
      #buildings.tab-pane.fade.in.active
        - if @per_page_buildings.present?
          .resultsList
            #load-more-buildings.row
              = render partial: 'search_results', locals: { buildings: @all_building }
          - if @buildings.blank? and @per_page_buildings.total_pages == @per_page_buildings.current_page
            .text-center{style: "padding:4px;"}
              %p No results matched your search.
              %p Though we can't guarentee you will find what you are looking for, we can however guarentee that if you do find an apartment through transparentcity.co, you will save thousands of dollars on broker fees!
              %p Please adjust your filter parameters.
          %br/
          .pages-container
            = will_paginate @per_page_buildings, renderer: BootstrapPagination::Rails
        - else
          .text-center{style: "padding: 12px 4px;"}
            %h3 No results matched your search.
            %p Though we can't guarentee you will find what you are looking for, we can however guarentee that if you do find an apartment through transparentcity.co, you will save thousands of dollars on broker fees!
            %p Please adjust your filter parameters.
.clearfix