- mobile = browser.device.mobile?
#mapViewSearch{style: "#{'width: 45%;' unless mobile}", class: custom_search? ? 'max' : nil}
  .mapPlaceholder
    %span.fa.fa-spin.fa-spinner
    Loading map...

#content.searched-properties{style: "#{'width: 55%;' unless mobile}", class: (custom_search? && mobile) ? 'invisible' : nil}
  .tabsWidget.tabsWidgetSearch{style: "#{@buildings.blank? ? 'height: 60vh' : ''}"}
    - unless mobile
      %ul.nav.nav-tabs1.nav-justified.hidden-xs{role: 'tablist'}
        %li.active
          .text-center{style: 'padding: 8px 0px;'}
            %b{style: spv_count_header_style}= "#{@listings_count.to_i} Rentals | #{@buildings_count.to_i} Buildings"
      
    .tab-content.tab-scroll11{style: 'background-color: #f3f3f3;'}
      #buildings.tab-pane.fade.in.active
        - if @per_page_buildings.present?
          .resultsList
            #load-more-buildings.row
              - @taken_agent = false
              = render partial: 'buildings/building', :collection => @all_buildings, :as => :building
          
          - if @all_buildings.blank? && @per_page_buildings.total_pages == @per_page_buildings.current_page
            .text-center{style: 'padding: 12px 4px;'}= no_search_result_text
          
          .pages-container{style: 'padding: 15px'}= render 'layouts/shared/add_pagination', objects: @per_page_buildings
        - else
          .text-center{style: 'padding: 12px 4px;'}= no_search_result_text

    =content_tag 'div', '', id: 'filter-params', data: { filterParams: @filter_params.as_json }

    %section.spv-pop-search{style: 'padding: 0px 16px;'}
      = render 'layouts/home/popular_searches', bg_col: '#fff'
  
    = render 'layouts/home/footer'
.clearfix