#mapViewSearch{class: custom_search? ? 'max' : nil}
  .mapPlaceholder
    %span.fa.fa-spin.fa-spinner
    Loading map...

#content.searched-properties{class: (custom_search? and browser.device.mobile?) ? 'invisible' : nil}
  .tabsWidget.tabsWidgetSearch{style: "#{@buildings.blank? ? 'height: 60vh' : ''}"}
    - unless browser.device.mobile?
      %ul.nav.nav-tabs.nav-justified{role: "tablist"}
        %li.active
          %a{"data-toggle" => "tab", href: "#buildings", role: "tab"}
            %b
              BUILDINGS 
              ="(#{ @buildings.present? ? @buildings.length : 0 })"
        %li
          %a{"data-toggle" => "tab", href: "#resourceLinks", role: "tab"}
            %b
              NEIGHBORHOOD GUIDES #{"(#{@neighborhood_links_count})"}
      
    .tab-content.tab-scroll11{style: "background-color: #f3f3f3;"}
      - unless browser.device.mobile?
        #resourceLinks.tab-pane.fade
          - if @neighborhood_links_count.to_i > 0
            %ul.propList
              = render :partial => 'neighborhood_links/neighborhood_link', :collection => @neighborhood_links, :as => :neighborhood_link, cache: true 
      
      #buildings.tab-pane.fade.in.active
        - if @per_page_buildings.present?
          .resultsList
            #load-more-buildings.row
              = render partial: 'buildings/building', :collection => @all_buildings, :as => :building # , cache: true
          
          - if @buildings.blank? and @per_page_buildings.total_pages == @per_page_buildings.current_page
            .text-center{style: "padding: 12px 4px;"}
              = no_search_result_text
          %br/
          .pages-container
            = will_paginate @per_page_buildings, renderer: BootstrapPagination::Rails
        - else
          .text-center{style: "padding: 12px 4px;"}
            = no_search_result_text

  = render 'layouts/home/footer'
.clearfix