#mapViewSearch{style: "#{'width: 45%;' unless mobile?}", class: custom_search? ? 'max' : nil}
  .mapPlaceholder
    %span.fa.fa-spin.fa-spinner
    Loading map...

#content.searched-properties{style: "#{'width: 55%;float: right;' unless mobile?}", class: (custom_search? && mobile?) ? 'invisible' : nil}
  .tabsWidget.tabsWidgetSearch{style: "#{@buildings.blank? ? 'height: 60vh' : ''}"}
    - unless mobile?
      .search-cards-header{style: 'padding: 8px 0px;width: 100%;margin: 0;'}
        .text-center
          %h1.font-21.font-bold{style: 'margin: 2px;'}= split_view_header
          %p.font-21{style: spv_count_header_style}= "#{@listings_count.to_i} Rentals | #{@buildings_count.to_i} Buildings"
      
    .tab-content{style: 'background-color: #f3f3f3;'}
      #buildings.tab-pane.fade.in.active
        .resultsList
          .row#load-more-buildings
            = render partial: 'buildings/building', :collection => @all_buildings, :as => :object
        
        - if @buildings.present?
          - if @all_buildings.blank? && @buildings.total_pages == @buildings.current_page
            .text-center{style: 'padding: 12px 4px;'}= no_search_result_text
          
          .pages-container{style: 'padding: 15px'}= pagy_bootstrap_nav(@pagy).html_safe
        - else
          .text-center{style: 'padding: 12px 4px;'}= no_search_result_text

    = content_tag 'div', '', id: 'filter-params', data: { filterParams: @filter_params.as_json, sortedby: params[:sort_by].as_json }

    %section.spv-pop-search{style: 'padding: 0px 16px;'}
      / lazy load content
  
    = render 'layouts/home/footer'
.clearfix