<% @buildings.each do |building| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="figure" style="position: relative;">
        <%= link_to building_path(building) do %>
        <!-- removing from management company show page because using building only to show market on map -->
          <%if building.image_uploads.present? %>
            <%#= image_tag building.image_uploads.first.image.url, alt: building.image_uploads.first.image_file_name, height: '150' %>
            <div class="hidden-xs1">
              <%#= render partial: 'home/carousal', locals: { building: building } %>
              <%= render partial: 'home/lightslider', locals: { building: building } %>
            </div>
            <!-- <div class="visible-xs">
              <%#= render partial: 'layouts/shared/image_carousal', locals: { building: building } %>
            </div> -->
          <%else%>
            <%#= image_tag 'no-photo.png', alt: 'No image', height: '200'%>
            <div style="background-image: url(<%= image_url('no-photo.png') %>)" class="bg-size-cover"></div>
          <%end%>
        <%end%>
        
        <!-- <div class="figCaption">
          <div>$1,550,000</div>
          <span class="icon-eye"> 200</span>
          <span class="icon-heart"> 54</span>
          <span class="icon-bubble"> 13</span>
        </div> -->
        <!-- <div class="figView"><span class="icon-eye"></span></div> -->
        <!-- <div class="figType">FOR SALE</div> -->
      </div>

      <%= link_to building_path(building) do %>
        
        <div id="building_details<%=building.id%>" class="building-detail-card">
         
        </div>
        
        <% if @management_company.present? %>
          <div style="padding: 0px 0px 0px 11px;height: 23px;">
            <% if building.building_type.present? or building.neighbohoods.present? %>
              <%= "#{building.building_type} in" if building.building_type.present? %> 
              <%= link_to building.neighborhood_name, "/search?search_term=#{building.neighborhood_search_string}&neighborhoods=#{building.neighbohoods}", class: 'hyper-link' if building.neighbohoods.present?%>
            <%end%>
          </div>
        <%end%>

        <ul class="cardRating">
          <div class="pull-left star-sm" style="margin-right: 10px;">
            <%= rating_for building, 'building', disable_after_rate: true,readonly: true, cancel: false %>
          </div>
          <div> 
            <%= recommended_percent(building).html_safe %> 
          </div> 
          
          <div class="clearfix"></div>         
          
        </ul>
        <%#= render partial: 'home/property_information', locals: { building: building } %>
        <div class="clearfix"></div>
      <%end%>
      <div style="padding: 8px;">
        <% if building.web_url.present? %>
          <%= link_to 'Available Apartment Listings'.html_safe, building.web_url, target: '_blank' , class: 'btn btn-block btn-primary' %>
        <%else%>
          <%= link_to 'Available Listings'.html_safe, '#', class: 'btn btn-block btn-primary invisible' %>
        <%end%>
      </div>
      <!-- <ul class="cardFeat">
        <li><span>Building Reviews:</span></li>
        <li><span>Unit Reviews:</span></li>
        <li><span>Photos:</span> <%#=link_to "#{building.uploads.count}", building_uploads_path(building_id: building.id), 'data-no-turbolink' => false, style: 'color: #333;' %></li>
        <li><a href='#'>Rent Information:</a> <%#= building.rent_information %></li>
      </ul> -->
    </div>
    <div class="clearfix"></div>
  </div>
<%end%>