<div id="mapViewSearch">
  <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
</div>

<div id="content" class="searched-properties">
  <div class="tabsWidget tabsWidgetSearch">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="<%#=params[:page].present? ?  'active' : '' %> active"><a href="#buildings" role="tab" data-toggle="tab"><b>BUILDINGS <%= "(#{ @buildings.count })" if @buildings.present? %></b></a></li>

      <li class="<%#=params[:page].blank? ?  'active' : '' %>">
        <a href="#resourceLinks" role="tab" data-toggle="tab"><b>NEIGHBORHOOD GUIDES <%= "(#{@neighborhood_links.count})" if @neighborhood_links.present? %></b></a>
      </li>
    </ul>
    
    <div class="tab-content tab-scroll11" style="background-color: #f3f3f3;">
      <div class="tab-pane fade <%#=params[:page].blank? ?  'in active' : '' %>" id="resourceLinks">
        <%= render partial: 'neighborhood_links/resource_links' %>
      </div>

      <div class="tab-pane fade in active<%#=params[:page].present? ?  'in active' : '' %>" id="buildings">
        <%if @buildings.present? %>
          <% @buildings = @buildings.paginate(:page => params[:page], :per_page => 20) %>
          <div class="resultsList">
            <div class="row" id="load-more-buildings">
              <%= render partial: 'search_results' %>
            </div>
          </div>
          
          <% if @buildings.total_pages == @buildings.current_page%>
            <div style="padding:4px;" class="text-center"> No Property found?  <a href="/buildings/contribute?results=no-matches-found" style="color: #0075c9;"><b>Add Your Building</b></a></div>
          <%end%>
          
          <br />
          
          <div class="pages-container">
            <%= will_paginate @buildings, renderer: BootstrapPagination::Rails %>
          </div>
        <%else%>
         <div style="padding:4px;" class="text-center"> No Property found?  <a href="/buildings/contribute?results=no-matches-found" style="color: #0075c9;"><b>Add Your Building</b></a></div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
