- content_for :page_title do
  = @tab_title_text

#home-content-wrapper
  .row{style: 'margin-right: 0px;'}
    .col-lg-12.col-md-12.col-xs-12{style: 'padding-left: 0px;padding-right: 0px;'}
      #hero-container
        - unless browser.device.mobile?
          = image_tag 'hero.jpg', style: 'width: 100%;height: 100%;'
        -else
          = image_tag 'hero-mobile.jpg', style: 'width: 100%;height: 100%;'
        
        .search-panel
          .home-about-nyc-apt
            %h1 No Fee Apartments For Rent In NYC
            %h2 Helping You Find Your NYC Home
          .home-search-form
          = render 'home/search_form'
          .home-quick-links
            %ul.list-inline
              - home_quick_links.each do |nb|
                %li=link_to quick_link_name(nb), nb[:url]
  
  .home-wrapper{style: 'background: #FBFBFF;'}
    .home-content{style: 'padding: 0px 16px;'}
      %h2.osLight1.text-center{style: 'font-weight: bolder; color: #000;'} No Fee Apartments That May Interest You
      .row
        #featured-buildings-section
          - unless browser.device.mobile?
            - 1.upto(4) do
              .col-lg-3= render 'home/partials/placeholder_cards'
          - else
            .col-sm-12.col-xs-12= render 'home/partials/placeholder_cards'

  #home-popular_neighborhoods

  #home-popular_searches

  .home-wrapper{style: 'background: #fff;'}
    .home-content
      .row.pb40
        .col-lg-1.col-sm-12
        .col-lg-10.col-sm-12
          %h2{style: 'font-weight: bolder;text-align: left;'} What We Do
          %p Transparentcity standardizes and aggregates information from websites of NYC landlords and property management companies, all of whom apartments can be rented directly from without working through a broker.
          = link_to 'Learn More <span class="fa fa-arrow-right"></span>'.html_safe, '/about', style: 'font-size: 18px;font-weight: bolder;color: #2b78e4;'
        .col-lg-1.col-sm-12
  
  .home-wrapper{style: 'background: #FBFBFF;'}
    .home-content
      .row.pb40
        .col-lg-1.col-sm-12
        .col-lg-10.col-sm-12
          %h2{style: 'font-weight: bolder;text-align: left;'} Help Your Fellow NYC Renters
          %p We aim to include as many photos, reviews, and tidbits about the NYC rental experience as we can from the community—because home means more than just walls and a roof.
          = link_to 'Write Review <span class="fa fa-arrow-right"></span>'.html_safe, contribute_buildings_path, style: 'font-size: 18px;font-weight: bolder;color: #2b78e4;'
        .col-lg-1.col-sm-12
      %br

=javascript_include_tag 'home/sections'

:javascript
  window.onload = function() {
    apt_home.loadFeaturedBuildings();
  }
  