<div id="hero-container">
  <%= render 'layouts/home/slider'%>
  <%= render 'layouts/home/header'%>
  <%#= render 'layouts/home/caption' %>
  <div class="search-panel">
  	<div class="align-center home-about-nyc-apt">
  		<h1>No Fee Rentals & Reviews</h1>
  		<h2>Discover the apartments, buildings and neighborhoods that are right for you.</h2>
  	</div>
    <%= render 'layouts/home/search_panel' %>
  </div>
</div>
<div class="highlight">
  <!-- <div class="h-title osLight">transparentcity</div> -->
  <div class="h-text osLight">
  	<p>Transparentcity is a NYC directory of weblinks to no fee buildings, amenities, photos and reviews to help renters save thousands of $$$ by linking you directly to management companies.</p>

    <p>If you live in the city, create a more transparent New York City housing community by writing your review.</p>
    <div class="buttonsWrapper">
      <a href="/users/sign_up" class="btn btn-default btn-xlg btn-lg border-green">Sign up</a>
       <%=link_to 'Write Review', contribute_buildings_path, class: 'btn btn-green btn-xlg btn-lg border-green' %>
    </div>
  </div>
</div>

<!-- Content -->
<%= render 'layouts/home/popular_neighborhoods' %>
<%#= render 'layouts/home/content' %>
<%= render 'layouts/home/footer' %>
<%#= render partial: 'home/tos' %>