<div id="hero-container">
  <%= render 'layouts/home/slider'%>
  <%= render 'layouts/home/header'%>
  <%#= render 'layouts/home/caption' %>
  <div class="search-panel">
  	<div class="align-center home-about-nyc-apt">
  		<!-- <h1>No Fee Rentals & Reviews</h1> -->
  		<!-- <h2>Discover the apartments, buildings and neighborhoods that are right for you.</h2> -->
      <h1>no fees. no brokers. just rentals & reviews.</h1>
      <h2>transparentcity is the largest directory of links to no-fee, no-broker buildings in NYC.</h2>
  	</div>
    <%= render 'layouts/home/search_panel' %>
  </div>
</div>
<div class="highlight">
  <!-- <div class="h-title osLight">transparentcity</div> -->
  <div class="h-text osLight">
  	<p>We include as many photos, reviews, and tidbits about amenities as we can—because home means more than just walls and a roof.</p>

    <p>No guesswork, gimmicks, or middlemen. Find your next home without going broke, or write a review to help a fellow renter.</p>
    <div class="buttonsWrapper">
      <a href="/users/sign_up" class="btn btn-default btn-xlg btn-lg border-green">Sign up</a>
       <%=link_to 'Write Review', contribute_buildings_path, class: 'btn btn-green btn-xlg btn-lg border-green' %>
    </div>
  </div>
</div>

<%= render 'layouts/home/popular_neighborhoods' %>
<%#= render 'layouts/home/content' %>
<%= render 'layouts/home/footer' %>
<%#= render partial: 'home/tos' %>