<div id="hero-container">
  <%= render 'layouts/home/slider' %>
  <%= render 'layouts/home/header' %>
  <%#= render 'layouts/home/caption' %>
  <div class="search-panel">
  	<div class="align-center home-about-nyc-apt">
  		<h1>Learn About Your NYC Apartment</h1>
  		<h2>Reviews, Photos, Pricing Provided by Current, Former, Prospective Residents</h2>
  	</div>
    <%= render 'layouts/home/search_panel' %>
  </div>
</div>
<div class="highlight">
  <div class="h-title osLight">transparentcity</div>
  <div class="h-text osLight">We are the premier destination for crowd-sourced apartment reviews, photos and pricing info in New York City, provided by former, current and other prospective residents.</div>
</div>

<!-- Content -->
<%= render 'layouts/home/popular_neighborhoods' %>
<%#= render 'layouts/home/content' %>
<%= render 'layouts/home/footer' %>
<%#= render partial: 'home/tos' %>