<div id="hero-container">
  <%= render 'layouts/home/slider'%>
  <%= render 'layouts/home/header'%>
  <%#= render 'layouts/home/caption' %>
  <div class="search-panel">
  	<div class="align-center home-about-nyc-apt">
  		<h1>Rent Smarter</h1>
  		<h2>Discover the apartments, buildings and neighborhoods that are right for you.</h2>
  	</div>
    <%= render 'layouts/home/search_panel' %>
  </div>
</div>
<div class="highlight">
  <!-- <div class="h-title osLight">transparentcity</div> -->
  <div class="h-text osLight">
  	<p>Sign up to learn more about NYC apartments, buildings and neighborhoods.  Write your review and be automatically entered into raffle drawings.</p>
    <div class="buttonsWrapper">
      <a href="/users/sign_up" class="btn btn-success btn-o btn-xlg btn-lg txt-color-white">Sign up</a>
       <%=link_to 'Write Review', contribute_buildings_path, class: 'btn btn-success btn-xlg btn-lg' %>
    </div>
  </div>
</div>

<!-- Content -->
<%= render 'layouts/home/popular_neighborhoods' %>
<%#= render 'layouts/home/content' %>
<%= render 'layouts/home/footer' %>
<%#= render partial: 'home/tos' %>