<div id="hero-container">
    <%= render 'layouts/home/slider' %>
    <%= render 'layouts/home/header' %>
    <%#= render 'layouts/home/caption' %>
    <div class="search-panel">
      <%= render 'layouts/home/search_panel' %>
    </div>
  </div>
  <div class="highlight">
    <div class="h-title osLight">Transparentcity</div>
    <div class="h-text osLight">Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</div>
  </div>

  <!-- Content -->
  <%= render 'layouts/home/content' %>
  <%= render 'layouts/home/footer' %>