- content_for :page_title do
  = @tab_title_text

#home-content-wrapper
  = render 'home/partials/hero_container'
  .home-wrapper{style: 'background: #FBFBFF;'}
    .home-content.featured-section
      %h2.section-header.text-center No Fee Apartments That May Interest You

      #featured-buildings-section
        .row.pb20
          - unless mobile?
            - 1.upto(4) do
              .col-lg-3= render 'home/partials/placeholder_cards'
          
          - else
            .col-sm-12.col-xs-12= render 'home/partials/placeholder_cards'

  #home-popular_neighborhoods
    / = render 'layouts/home/popular_neighborhoods'

  #home-popular_searches= render 'layouts/home/popular_searches', bg_col: '#FBFBFF', other_classes: ''

  .home-wrapper{style: 'background: #fff;'}
    .home-content
      .row.pb40
        .col-lg-1.col-sm-12
        .col-lg-10.col-sm-12
          %h2.section-header.text-left What We Do
          %p Transparentcity standardizes and aggregates information from websites of NYC landlords and property management companies, all of whom apartments can be rented directly from without working through a broker.
          = link_to 'About <span class="fa fa-arrow-right"></span>'.html_safe, '/about', title: 'About transparentcity.co', class: 'about'
        .col-lg-1.col-sm-12
  
  .home-wrapper{style: 'background: #FBFBFF;'}
    .home-content
      .row.pb40
        .col-lg-1.col-sm-12
        .col-lg-10.col-sm-12
          %h2.section-header.text-left Help Your Fellow NYC Renters
          %p We aim to include as many photos, reviews, and tidbits about the NYC rental experience as we can from the community—because home means more than just walls and a roof.
          = link_to 'Write Review <span class="fa fa-arrow-right"></span>'.html_safe, contribute_buildings_path, class: 'write-review'
        .col-lg-1.col-sm-12
      %br
  