.contact-links
	%div{style: "padding: #{size_class.present? ? '2px 3px 2px 6px;' : '6px 8px 8px 11px;'}"}
		%p.pb-8
			= "<span> #{building.prices} | </span>".html_safe if building.prices.present?
			%span=building.show_bed_ranges.join(', ') 
			= 'Bed' if building.bedroom_types?

		= check_availability_link(building, size_class)

	- active_listings = building.listings.active
	%div{style: "padding: #{size_class.present? ? '0px 6px 0px 0px;' : '0px 10px 0px 0px;'}", class: "#{'hidden' unless building.email.present? and building.active_email}" }
		- unless params[:action] == 'show' and params[:controller] == 'buildings'
			%p.font-xs.pb-8
				=link_to "#{active_listings.count} Active Listings", show_more_listings_path(building_id: building.id, listing_type: 'active'), remote: true, class: 'hyper-link' if active_listings.present?
    
		- if building.email.present? and building.active_email
			= link_to '<b>Contact Leasing</b>'.html_safe, 'javascript:;', class: "btn btn-primary btn-o #{size_class}", style: "padding: #{size_class.present? ? '8px 2px;' : '10px 6px;'}", onclick: "showLeasingContactPopup(#{building.id})"