= form_for @contact, html: { class: 'smart-form' } do |f|
  %fieldset
    .form-group
      = f.email_field :email, class: "form-control validate", placeholder: 'Email'
    .form-group
      = f.number_field :phone, class: "form-control validate", placeholder: 'Phone'
      = f.hidden_field :building_id, value: @building.id if @building.present?
      = f.hidden_field :user_id, value: current_user.id if current_user.present?
    .form-group
      = f.text_area :comment, value: "I'm interested in availabilities at #{@building.building_name_or_address}", class: "form-control validate", rows: 5
  %footer
    = f.submit 'Send', class: 'btn btn-green'