= form_for @contact, html: { class: 'smart-form pm-contact-form' } do |f|
  %fieldset
    .form-group
      / = f.text_field :email, class: 'form-control validate', placeholder: 'Email*', pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", title: 'Invalid email address'
      = f.text_field :email, class: 'form-control validate', placeholder: 'Email*', pattern: "[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}", required: true, title: 'Email Format should be xyz@abc.com'
    .form-group
      = f.text_field :phone, class: 'form-control phone_number', placeholder: 'Phone', id: 'uintTextBoxPhone', maxlength: '10'
      = f.hidden_field :building_id, value: @building.id if @building.present?
      = f.hidden_field :user_id, value: current_user.id if current_user.present?
    .form-group
      = f.text_area :comment, value: "I'm interested in availabilities at #{@building.building_name_or_address}.", class: "form-control validate", rows: 5, style: 'color: #777777;'
  
    = f.submit 'Send Message', class: 'btn btn-primary btn-block font-bolder', style: 'font-size: 18px;'
    
  %fieldset{style: 'color: #333;'}
    %p.font-18 Contact Info
    - if @building.management_company.present?
      %div=@building.management_company.name
  
    Phone: 
    =link_to "#{number_to_phone(@building.phone, area_code: true)}", "tel:#{@building.phone}", class: 'hyper-link'

    - if @min_save_amount.to_f > 0
      %div.margin-top-20
        You can save 
        %span{style: 'color: #03A63C'}= number_to_currency(@min_save_amount, precision: 0)
        in broker fees by renting directly from this property manager. 
  %br
  %br
= javascript_include_tag 'mask'