<div class="tables">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="media">
        <div class="media-left">
          <div class="media-body" style="padding-left: 12px;">
            <h1 class="pageTitle"><%= link_to_building_show @building %></h1>
            <div class="address text-muted">
              <%= link_to building_path(@building) do %>
                <%= building_street_address @building %> <br />
                <%= @building.neighborhood %>
              <%end%>
              <% if @building.kind_of? Unit %>
               <%= link_to_unit_show @building  %> 
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <%= form_for @building do |f| %>
      <%= hidden_field_tag 'contribution', params[:contribution] %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="col-sm-6">
          <h3>Building Information</h3>
          <br />
          <div class="checkbox custom-checkbox">
            <label>
              <%= f.check_box :amenities, { name: 'building[amenities][]'}, 'no_fee', '' %>
              <span class="fa fa-check"></span> 
              No Fee Building
            </label>
          </div>
          
          <% Building.building_amenities.each do |key, value| %>
            <div class="checkbox custom-checkbox">
              <label>
                <%= f.check_box :amenities, { name: 'building[amenities][]', id: "building_amenities_#{key}"}, key.to_s, '' %>
                <span class="fa fa-check"></span> 
                <%= value %>
              </label>
            </div>
            
            <% if value == 'Elevator' %>
              <div>
                <% if @building.sorted_amenities.include?('elevator') %>
                  <%= f.number_field :elevator, class: 'form-control' %>
                <%else%>
                  <%= f.number_field :elevator, class: 'form-control d-none', placeholder: '#Elevators' %>
                <%end%>
              </div>
            <%end%>

            <%if value == 'Deposit Free'%>
              <div>
                <% if @building.sorted_amenities.include?('deposit_free') %>
                  <%= f.text_field :deposit_free_company, class: 'form-control' %>
                <%else%>
                  <%= f.text_field :deposit_free_company, class: 'form-control d-none', placeholder: 'Company name that offers service' %>
                <%end%>
              </div>
            <%end%>
          <%end%>
        </div>
      
      <br />

      <div class="form-group">
        <div class="col-sm-12">
          <div class="pull-right">
            <%= link_to 'Cancel', building_path(@building), class: 'btn btn-default'%>
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>  
    <%end%>
  </div>
</div>