<div class="tables">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="media">
        <div class="media-left">
          <div class="media-body" style="padding-left: 12px;">
            <h1 class="pageTitle"><%= link_to_building_show @building %></h1>
            <div class="address text-muted">
              <%= link_to building_path(@building) do %>
                <%= building_street_address @building %> <br />
                <%= @building.neighborhood %>
              <%end%>
              <% if @building.kind_of? Unit %>
               <%= link_to_unit_show @building  %> 
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <%= form_for @building do |f| %>
      <%= hidden_field_tag 'contribution', params[:contribution] %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="col-sm-6">
          <h3>Building Information</h3>
          <br />
          <div class="checkbox custom-checkbox"><label><%= f.check_box :no_fee %> <span class="fa fa-check"></span> <%= 'No Fee Building' %></label></div>
          <% BuildingAmenities.building_edit_amenities.each do |key, value| %>
            <% if value == 'Elevator' %>
              <div class="checkbox custom-checkbox"><label><%= check_box_tag :elevator,'yes', @building.elevator ? true : false %> <span class="fa fa-check"></span> <%= value %></label></div>
              <div>
                <% if @building.elevator %>
                  <%= f.number_field :elevator, class: 'form-control' %>
                <%else%>
                  <%= f.number_field :elevator, class: 'form-control hide', placeholder: '#Elevators' %>
                <%end%>
              </div>
            <%elsif value == 'Deposit Free'%>
               <div class="checkbox custom-checkbox"><label><%= f.check_box :deposit_free%> <span class="fa fa-check"></span> <%= value %></label></div>
              <div>
                <% if @building.deposit_free %>
                  <%= f.text_field :deposit_free_company, class: 'form-control' %>
                <%else%>
                  <%= f.text_field :deposit_free_company, class: 'form-control hide', placeholder: 'Company name that offers service' %>
                <%end%>
              </div>
            <%else%>
              <div class="checkbox custom-checkbox"><label><%= f.check_box key %> <span class="fa fa-check"></span> <%= value %></label></div>
            <%end%>
          <%end%>
        </div>
      <br />
      <div class="form-group">
        <div class="col-sm-12">
          <div class="pull-right">
            <%= link_to 'Cancel', building_path(@building), class: 'btn btn-default'%>
            <%= f.submit 'Submit', class: "btn btn-primary" %>
          </div>
        </div>
      </div>  
    <%end%>
  </div>
</div>