<div class="tables">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="media">
        <div class="media-left">
          <div class="media-body">
            <h1 class="pageTitle"><%= link_to_building_show @building %></h1>
            <div class="address text-muted">
              <%= link_to building_path(@building) do %>
                <%= building_street_address @building %> <br />
                <%= @building.neighborhood %>
              <%end%>
              <% if @building.kind_of? Unit %>
               <%= link_to_unit_show @building  %> 
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <%= form_for @building do |f| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="col-sm-6">
          <h3>Building Information</h3>
          <div class="checkbox custom-checkbox"><label><%= f.check_box :courtyard %> <span class="fa fa-check"></span> Courtyard</label></div>
          <%= hidden_field_tag 'contribution', params[:contribution] %>
           <div class="checkbox custom-checkbox"><label><%= f.check_box :pets_allowed_cats %> <span class="fa fa-check"></span> Cats Allowed </label></div>

          <div class="checkbox custom-checkbox"><label><%= f.check_box :pets_allowed_dogs %> <span class="fa fa-check"></span> Dogs Allowed </label></div>
          <div class="checkbox custom-checkbox"><label><%= f.check_box :doorman %> <span class="fa fa-check"></span> Doorman</label></div>

          <div class="checkbox custom-checkbox">
            
              <label>
                <%= check_box_tag :elevator,'yes', @building.elevator ? true : false %>
                <span class="fa fa-check"></span> Elevator
              </label>
              <div>
                <% if @building.elevator %>
                  <%= f.number_field :elevator, class: 'form-control' %>
                <%else%>
                  <%= f.number_field :elevator, class: 'form-control hide', placeholder: '#Elevators' %>
                <%end%>

              </div>
          </div>

          <div class="checkbox custom-checkbox"><label><%= f.check_box :garage %> <span class="fa fa-check"></span> Garage</label></div>
           <div class="checkbox custom-checkbox"><label><%= f.check_box :gym %> <span class="fa fa-check"></span> Gym</label></div>
          <div class="checkbox custom-checkbox"><label><%= f.check_box :laundry_facility %> <span class="fa fa-check"></span> Laundry in Building</label></div>

          <div class="checkbox custom-checkbox"><label><%= f.check_box :live_in_super %> <span class="fa fa-check"></span> Live in super</label></div>
          <div class="checkbox custom-checkbox"><label><%= f.check_box :management_company_run %> <span class="fa fa-check"></span> Management Company Run</label></div>
          <div class="checkbox custom-checkbox"><label><%= f.check_box :parking %> <span class="fa fa-check"></span> Parking</label></div>

          <div class="checkbox custom-checkbox"><label><%= f.check_box :roof_deck %> <span class="fa fa-check"></span> Roof Deck</label></div>

          <div class="checkbox custom-checkbox"><label><%= f.check_box :walk_up %> <span class="fa fa-check"></span> Walk up</label></div>

          <div class="checkbox custom-checkbox"><label><%= f.check_box :swimming_pool %> <span class="fa fa-check"></span> Swimming Pool</label></div>
         
      </div>
      <br />
      <div class="form-group">
        <div class="col-sm-12">
          <div class="pull-right">
            <%= link_to 'Cancel', building_path(@building), class: 'btn btn-default'%>
            <%= f.submit 'Submit', class: "btn btn-primary" %>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>