<div class="summary">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="summaryItem">
          <h1 class="pageTitle"><%= @building.building_name_or_address %> 
            <% if current_user and current_user.has_role?(:admin) %>
              <%= link_to 'Edit', edit_building_path(@building), class: 'btn btn-o btn-default btn-xs pull-right' %>
              <%= link_to 'Disconnect', disconnect_building_building_path(@building), class: 'pull-right btn btn-danger btn-o btn-xs', data: {confirm: 'Are you sure you want to discconect this building?'} if @manage_buildings.present? %>
            <%end%>
            <%= render partial: 'buildings/favourite', locals: { building: @building } %>
          </h1>
          <%= render partial: 'property_info', locals: { object: @building } %>
      </div>
    </div>
  </div>
</div>
