%a.card{href: building_path(building), style: 'margin-bottom: 0px;'}
  .figure
    - if building.image_uploads.present?
      = image_tag building.image_uploads.first.image, alt: 'Image', style: 'width: 229px !important; height: 137px;'
    - else
      = image_tag 'prop/1-1.png', alt: "image"
  %h2= building.building_name_or_address
  .cardAddress
    %span.fa.fa.map-marker
    = building.street_address
    = building.zipcode
  %ul.cardFeat.star-sm
    = rating_for building, 'building', disable_after_rate: true, readonly: true
  .clearfix

%div
  = check_availability_link(building, 'btn-xs btn-block')