<div id="new_building_fields">
	<div class="col-sm-12">
    <div class="form-group">
      <label><b>Add Building</b></label><br />
    	<label>Name</label>
      <%= text_field_tag 'building[building_name]', nil, class: 'form-control', placeholder: 'Name'%>
    </div>
  </div>
  <div class="col-sm-6">
     <div class="form-group">
      <label>Address*</label>
      <%= text_field_tag 'building[building_street_address]', nil, class: 'form-control validate', required: 'required' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>City*</label>
      <%= text_field_tag 'building[city]', nil, class: 'form-control validate',required: 'required'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>State*</label>
      <%= text_field_tag 'building[state]', nil, class: 'form-control validate',required: 'required'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>Zipcode*</label>
      <%= text_field_tag 'building[zipcode]', nil, class: 'form-control validate', required: 'required'%>
    </div>
  </div>
  <!-- <div class="col-sm-4">
     <div class="form-group">
      <label>Floors</label>
      <%#= text_field_tag 'building[floors]', nil, class: 'form-control'%>
    </div>
  </div>
  <div class="col-sm-4">
     <div class="form-group">
      <label>Built in year</label>
      <%#= text_field_tag 'building[built_in]', nil, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-4">
     <div class="form-group">
      <label>Number of units</label>
      <%#= text_field_tag 'building[number_of_units]', nil, class: 'form-control' %>
    </div>
  </div> -->
</div>