<div class="summary">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="summaryItem">
          <h1 class="pageTitle">
            <%= @building.building_name_or_address %> 
            <% if user_signed_in? %>
              <%= link_to "Edit", edit_building_path(@building), class: 'btn btn-o btn-default btn-xs pull-right' %>
            <%end%>
          </h1>
          <div class="address"><span class="icon-location-pin"></span> <%= @building.street_address %>, <%= @building.zipcode %></div>
          
          <div class="stats1 property_information" style="padding: 0px 5px;">
            <div><%= "#{@building.building_type} in" if @building.building_type.present? %> <%= @building.neighbohoods %></div>
            <span><%= "#{@building.no_of_units} Units" if @building.no_of_units.present? and @building.no_of_units > 0 %></span>
            <span><%= " | #{@building.floors} Floors" if @building.floors.present? %></span>
            <span><%= " | Built in #{@building.built_in}" if @building.built_in.present? %></span>
          </div>

          <ul class="rating">
            <%= rating_for @building, 'building', disable_after_rate: true, readonly: true %>
          </ul>
          <!-- <div class="favLink">(<%#=@building.reviews.count%>)</div> -->
          <% if @building.votes.present? %>
            <div class="favLink"><span class="icon-pipe"></span>
              <%= @building.recommended_percent.nan? ? '| --% recommended' :  "| #{@building.recommended_percent.to_i}% Recommended" %>
            </div>
          <%end%>
          
          <div class="clearfix"></div>
          
          <div class="stats1 property_information">
            <%= link_to '<span class="fa fa-globe"></span> Property website'.html_safe, @building.web_url, target: '_blank' if @building.web_url.present? %>
          </div>
          
          <div class="clearfix"></div>
          
          <%= render partial: 'property_contribute_links', locals: { object: @building } %>
          
          <div class="clearfix"></div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm hidden-md">
      <div class="agentAvatar summaryItem">
          <div class="clearfix"></div>
          <%#= image_tag 'avatar-2.png', class: "avatar agentAvatarImg", alt: 'Avatar' %>
          <div class="agentName">Jane Smith</div>
          <a data-toggle="modal" href="#contactAgent" class="btn btn-lg btn-warning contactBtn">Contact Agent</a>
          <%#= link_to "<i class='fa fa-star'></i> Write a review".html_safe, new_building_review_path(building_id: @building), class: "btn btn-o btn-yellow contactBtn", 'data-no-turbolink' => false %>
          <%# if user_signed_in? %>
            <%#= link_to '<span class="fa fa-camera"><span> Add photos'.html_safe, new_building_upload_path(building_id: @building), class: "btn btn-o btn-gray contactBtn", 'data-no-turbolink' => false  %>
          <%#else%>
            <%#= link_to '<span class="fa fa-camera"><span> Upload photos'.html_safe, '#signin', 'data-toggle' => 'modal', class: "btn btn-o btn-gray contactBtn hidden-xs", "data-no-turbolink" => false  %>
            <%#= link_to '<span class="fa fa-camera"><span> Add photos'.html_safe, '#signin', class: 'btn btn-o btn-gray contactBtn', 'data-toggle' => 'modal'  %>
          <%#end%>
      </div>
    </div> -->
  </div>
</div>
