<div class="summary">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="summaryItem">
          <h1 class="pageTitle"><%= @building.building_name_or_address %> 
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_building_path(@building), class: 'btn btn-o btn-default btn-xs pull-right' %>
            <%end%>
            <% if current_user and current_user.has_role?(:admin) and @manage_buildings.present? %>
              <%= link_to 'Disconnect', disconnect_building_building_path(@building), class: 'pull-right btn btn-danger btn-o btn-xs', data: {confirm: 'Are you sure you want to discconect this building?'} %>
            <%end%>
          </h1>
          
          <div class="property_information">
            <div class="address" style="margin-left: -1px;"><span class="icon-location-pin"></span> <%= @building.street_address %>, <%= @building.zipcode %></div>
            <% if @building.building_type.present? or @building.neighbohoods.present? %>
              <div>
                <%= "#{@building.building_type} in" if @building.building_type.present? %> 
                
                <%= link_to @building.neighbohoods, borough_search_link(@building.neighbohoods), class: 'hyper-link' if @building.neighbohoods.present?%>
              </div>
            <%end%>
            <%= "<span> #{@building.no_of_units} Units | </span>".html_safe if @building.no_of_units.present? and @building.no_of_units > 0 %>
            <%= "<span> #{@building.floors} Floors | </span>".html_safe if @building.floors.present? %>
            <%= "<span> Built in #{@building.built_in} </span>".html_safe if @building.built_in.present? %>

            <div style="margin-left: -3px;">
              <ul class="rating star-sm">
                <%= rating_for @building, 'building', disable_after_rate: true, readonly: true %>
              </ul>

              <% if @building.votes.present? %>
                <div class="favLink">
                  <!-- <span class="icon-pipe"></span> -->
                  <%#= @building.recommended_percent.nan? ? "| <span class='fa fa-thumbs-up recommended'></span> --%".html_safe :  "| <span class='fa fa-thumbs-up recommended'></span> #{@building.recommended_percent.to_i}%".html_safe %>
                  <%= recommended_percent(@building).html_safe %>
                </div>
              <%end%>

              <% if @building.reviews.present? and @management_company.present? %>
                <div class="favLink"><span class="icon-pipe"></span>
                  | Reviews: <%= @building.reviews.count %>
                </div>
              <%end%>
            </div>
            
            <div class="clearfix"></div>
            
            <% if @building.management_company.present? and @management_company.blank? %>
              <div class="stats1 property_information">
                Managed By <%= link_to @building.management_company.name, management_company_path(@building.management_company), class: 'hyper-link'%>
              </div>
            <%end%>
            
            <div class="clearfix"></div><div class="clearfix"></div>
            <div class="stats1 property_information">
              <%= link_to 'Available Apartment Listings'.html_safe, @building.web_url, target: '_blank' , class: 'btn btn-block btn-primary' if @building.web_url.present? %>
            </div>
          </div>
          
          <%#= render partial: 'property_contribute_links', locals: { object: @building } %>
          
          <div class="clearfix"></div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm hidden-md">
      <div class="agentAvatar summaryItem">
          <div class="clearfix"></div>
          <%#= image_tag 'avatar-2.png', class: "avatar agentAvatarImg", alt: 'Avatar' %>
          <div class="agentName">Jane Smith</div>
          <a data-toggle="modal" href="#contactAgent" class="btn btn-lg btn-warning contactBtn">Contact Agent</a>
          <%#= link_to "<i class='fa fa-star'></i> Write a review".html_safe, new_building_review_path(building_id: @building), class: "btn btn-o btn-yellow contactBtn", 'data-no-turbolink' => false %>
          <%# if user_signed_in? %>
            <%#= link_to '<span class="fa fa-camera"><span> Add photos'.html_safe, new_building_upload_path(building_id: @building), class: "btn btn-o btn-gray contactBtn", 'data-no-turbolink' => false  %>
          <%#else%>
            <%#= link_to '<span class="fa fa-camera"><span> Upload photos'.html_safe, '#signin', 'data-toggle' => 'modal', class: "btn btn-o btn-gray contactBtn hidden-xs", "data-no-turbolink" => false  %>
            <%#= link_to '<span class="fa fa-camera"><span> Add photos'.html_safe, '#signin', class: 'btn btn-o btn-gray contactBtn', 'data-toggle' => 'modal'  %>
          <%#end%>
      </div>
    </div> -->
  </div>
</div>
