<div id="new_building_fields">
	<div class="col-sm-12">
    <div class="form-group">
    	<label>Add Building</label>
      <%= text_field_tag 'building[building_name]', nil, class: "form-control", placeholder: 'Name'%>
    </div>
  </div>
  <div class="col-sm-6">
     <div class="form-group">
      <%= text_field_tag 'building[building_street_address]', nil, class: "form-control", placeholder: 'Address', required: 'required' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= text_field_tag 'building[city]', nil, class: "form-control", placeholder: 'City'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= text_field_tag 'building[state]', nil, class: "form-control", placeholder: 'State'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= text_field_tag 'building[zipcode]', nil, class: "form-control", placeholder: 'Zip'%>
    </div>
  </div>
</div>