<div id="new_building_fields">
	<div class="col-sm-12">
    <div class="form-group">
      <label><h4>Add Your Building</h4></label><br />
    	<label>Building Name</label>
      <%= text_field_tag 'building[building_name]', nil, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
     <div class="form-group">
      <label>Address*</label>
      <%= text_field_tag 'building[building_street_address]', nil, class: 'form-control validate', required: 'required' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>City*</label>
      <%= text_field_tag 'building[city]', nil, class: 'form-control validate',required: 'required'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>State*</label>
      <%= text_field_tag 'building[state]', nil, class: 'form-control validate',required: 'required'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>Zipcode*</label>
      <%= text_field_tag 'building[zipcode]', nil, class: 'form-control validate', required: 'required'%>
    </div>
  </div>
</div>