<p> <%= building.laundry_facility ? 'Laundry in Building' : '' %></p>
<p> <%= building.parking ? 'Parking' : '' %></p>
<p> <%= building.deck ? 'Deck' : '' %></p>
<p> <%= building.elevator ? "Elevator(#{building.elevator})" : '' %></p>
<p> <%= building.garage ? 'Garage' : '' %></p>
<p> <%= building.gym ? 'Gym' : '' %></p>
<p> <%= building.live_in_super ? 'Live in Super' : '' %></p>
<p> <%= building.pets_allowed_cats ? 'Cats Allowed' : '' %></p>
<p> <%= building.pets_allowed_dogs ? 'Dogs Allowed' : '' %></p>
<p> <%= building.roof_deck ? 'Roof Deck' : '' %></p>
<p> <%= building.swimming_pool ? 'Swimming Pool' : '' %></p>
<p> <%= building.walk_up ? 'Walk up' : '' %></p>