<div class="comments">
  <h3><span><%=@building.reviews_count%></span> Reviews</h3>
  <div class="comment">
      <div class="commentAvatar">
        <% if review.user.avatar.present? %>
          <%= image_tag review.user.avatar %>
        <% elsif review.user.image_url.present? %>
          <%= image_tag review.user.image_url %>
        <%else%>
          <span class="fa fa-user fa-2x"></span>
        <%end%>
        <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
      </div>
      <div class="commentContent">
          <div class="commentName"><%= review.user_name.capitalize %></div>
          <div class="commentBody">
              <%= simple_format(review.review_title) %>
          </div>
          <div class="commentActions">
              <div class="commentTime"><span class="icon-clock"></span><%= review.created_at.strftime("%b %d, %Y") %></div>
              <ul>
                  <li><a href="#"><span class="icon-action-undo"></span></a></li>
                  <li><a href="#"><span class="icon-like"></span> 13</a></li>
              </ul>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
</div>