- @show_path = object_show_path(building)
.card.search-view-card{class: "#{@border_class} #{home_page? ? 'home' : ''}", 'data-bid' => building.id, id: "card-#{building.id}", 'data-proptype' => building.class.name}
  - unless @similar_properties.present?
    = link_to @show_path, 'area-label' => building.property_name_or_address do
      .figure{style: 'position: relative;', id: "figure#{building.id}"}
        .shimmer
      - if action_name == 'load_featured_buildings'
        = render 'home/partials/building_header', building: building
      - else
        .building-detail-card{id: "building_details#{building.id}"}
        
  - else
    .figure.featured-comps{style: 'position: relative;', id: "figure#{building.id}", data: { show_url: @show_path }}
      = featured_badge_helper if building.featured?
      .bg-size-cover.bg-pos-center{ style: "background-image: url(#{feature_comp_bg_img_url(@last_uploads)});" }
    
    = render 'home/partials/building_header', building: building

  %div{style: 'float: right; margin-top: -37px;'}= render 'buildings/favourite', building: building
  
  .clickable{'data-href' => @show_path, style: 'color: #000; display: block;', 'area-label' => building.property_name_or_address }
    .font-14{style: 'padding: 0px 0px 0px 11px; height: 22px; white-space: nowrap;'}= render 'home/building_detail', building: building
  
    .pb-8.font-14{style: 'margin-left: 10px;'}=set_bed_ranges(building, @filter_params)
  
  .cta_buttons{id: "cta-links#{building.id}"}
      
.clearfix