- @show_path = object_show_path(building)
.card.search-view-card{class: "#{@border_class} #{home_page? ? 'home' : ''}", 'data-bid' => building.id, id: "card-#{building.id}", 'data-proptype' => building.class.name}
  - unless @similar_properties.present?
    .top-card-detail.figure{style: 'position: relative;', id: "figure#{building.id}" }

    .bottom-card-detail.pt-2{style: 'position: relative;'}
      = render 'home/partials/building_header', building: building
  
  - else
    / ShoW page featured comps UI
    .figure.featured-comps{style: 'position: relative;', id: "figure#{building.id}", data: { show_url: @show_path }}
      = featured_badge_helper if building.featured?
      .bg-size-cover.bg-pos-center{ style: "background-image: url(#{feature_comp_bg_img_url(@last_uploads)});" }
    
    .bottom-card-detail.pt-2{style: 'position: relative;'}
      = render 'home/partials/building_header', building: building