- @show_path = building_path(building)
.card.search-view-card{class: "#{@border_class} #{home_page? ? 'home' : ''}", 'data-bid' => building.id}
  - unless @similar_properties.present?
    = link_to @show_path do
      .figure{style: 'position: relative;', id: "figure#{building.id}"}
        .shimmer
      - if action_name == 'load_featured_buildings'
        =render 'home/partials/building_header', building: building
      - else
        .building-detail-card{id: "building_details#{building.id}"}
        
  - else
    .figure.featured-comps{style: 'position: relative;', id: "figure#{building.id}", data: { show_url: @show_path }}
      - if building.featured?
        %h4.comp.featured.round Featured
      .bg-size-cover.h-lg{ style: "background-image: url(#{feature_comp_bg_img_url(@last_uploads)});" }
    
    =render 'home/partials/building_header', building: building

  %div{style: 'float: right; margin-top: -43px;'}= render 'buildings/favourite', building: building
  
  %div.font-14{style: 'padding: 0px 0px 0px 11px; height: 22px;'}= render 'home/building_detail', building: building
  
  = link_to @show_path, style: 'color: #000' do
    .pb-8.font-14{style: 'margin-left: 10px;'}=set_bed_ranges(building, params[:filter])
    
    .cta_buttons{id: "cta-links#{building.id}"}
      
.clearfix