<%#= link_to "Back to Building List", buildings_path %>
<div class="row">
  <%= form_for @building, html: { multipart: true } do |f| %>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="col-sm-12">
        <div class="form-group">
          <label  >Building Name</label>
           <%= f.text_field :building_name, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-6">
         <div class="form-group">
          <label for="exampleInputEmail1">Address1</label>
           <%= f.text_field :building_street_address, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-6">
         <div class="form-group">
          <label for="exampleInputEmail1">Address2</label>
           <%= f.text_field :address2, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">City</label>
           <%= f.text_field :city, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">State</label>
           <%= f.text_field :state, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Zip</label>
           <%= f.text_field :zipcode, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Phone</label>
           <%= f.text_field :phone, class: "form-control"%>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="webaddress">Web Address</label>
           <%= f.text_field :webaddress, class: "form-control", placeholder: "https://www.abc.com"%>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="description">Description</label>
           <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Photo</label>
         <%#= f.file_field :photo, class: "form-control" %>
      </div> -->

      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Photo</label>
        <%#= f.fields_for :uploads do |builder| %>
          <%#= builder.text_field :image, class: "form-control dropzone"%>
        <%#end%>
      </div> -->
      
      <div class="form-group">
        <div class="col-sm-4">
          <label>Services</label>
          <div class="checkbox">
            <label>
              <%= f.check_box :laundry_facility %> Laundry Facilities
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box :doorman %> Doorman
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Pet Policy</label>
          <div class="checkbox">
            <label>
              <%= f.check_box :pets_allowed %> Pets Allowed?
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Interior</label>
          <div class="checkbox">
            <label>
              <%= f.check_box :elevator %> Elevator
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <!-- <label>Parking</label> -->
          <div class="checkbox">
            <label>
              <%= f.check_box :parking %> Parking
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <div class="pull-right">
            <%= f.submit 'Save', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      
    </div>    
  <% end %>
</div>