<div class="form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading"><b><%= @building.new_record? ? 'New Building' : 'Edit Building' %></b></div>
        <div class="panel-body"> 
          <%= form_for @building, class: 'form-horizontal' do |f| %>
            <div class="form-group">
              <label>Building Name</label>
               <%= f.text_field :building_name, class: 'form-control', readonly: disabled(current_user, f.object.building_name) %>
               <%#= f.text_field :neighborhood, class: "form-control" %>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Address*</label>
                  <%= f.text_field :building_street_address, class: 'form-control validate', readonly: disabled(current_user, f.object.building_street_address) %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>City*</label>
                  <%= f.text_field :city, class: 'form-control validate', readonly: disabled(current_user, f.object.city) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>State*</label>
                  <%= f.text_field :state, class: 'form-control validate', readonly: disabled(current_user, f.object.state)%>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Zip*</label>
                  <%= f.text_field :zipcode, class: 'form-control validate', readonly: disabled(current_user, f.object.zipcode)%>
                </div>
              </div>
            </div>
            <% if current_user and current_user.has_role? :admin %>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label>Property Website</label>
                    <%= f.text_field :web_url, class: 'form-control' %>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                  <div class="form-group">
                    <label># of Floors</label>
                    <%= f.number_field :floors, class: "form-control", min: 0, placeholder: 'Optional'%>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label>Built in year</label>
                    <%= f.text_field :built_in, class: "form-control", placeholder: 'Built in 2002(optional)'%>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                  <div class="form-group">
                    <label># of Units</label>
                    <%= f.text_field :number_of_units, class: "form-control", min: 0, placeholder: 'Optional'%>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-5">
                  <div class="form-group">
                    <label>Building Type</label>
                    <%= f.select :building_type, options_for_select(['Rental Building','Condo Building','Coop Building'], f.object.building_type), { prompt: 'Select type' }, { class: 'form-control custom-arrow' } %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
                  <div class="form-group">
                    <label>Bedroom Types</label>
                    <div class="checkbox custom-checkbox bedroom-types-checkbox"><label><%= f.check_box :studio, {}, 0, '' %> <span class="fa fa-check"></span> Studio</label></div>
                    <div class="checkbox custom-checkbox bedroom-types-checkbox"><label><%= f.check_box :one_bed, {}, 1, '' %> <span class="fa fa-check"></span> 1 Bedroom</label></div>
                    <div class="checkbox custom-checkbox bedroom-types-checkbox"><label><%= f.check_box :two_bed, {}, 2, '' %> <span class="fa fa-check"></span> 2 Bedroom</label></div>
                    <div class="checkbox custom-checkbox bedroom-types-checkbox"><label><%= f.check_box :three_bed, {}, 3, '' %> <span class="fa fa-check"></span> 3 Bedroom</label></div>
                    <div class="checkbox custom-checkbox bedroom-types-checkbox"><label><%= f.check_box :four_plus_bed, {}, 4, ''%> <span class="fa fa-check"></span> 4+ Bedroom</label></div>
                  </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
                  <div class="form-group">
                    <label>Price</label>
                    <%= f.select :price, options_for_select(prices_options, f.object.price), { prompt: 'Select price' }, { class: 'form-control custom-arrow' } %>
                  </div>
                </div>
              </div>
            <%end%>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="pull-right">
                  <% if @building.present? and @building.id.present? %>
                    <%= link_to 'Cancel', building_path(@building), class: 'btn btn-default'%>
                    <%= f.submit 'Submit', class: 'btn btn-primary', name: 'subaction', id: 'new_building_submit' %>
                  <%else%>
                    <%= f.submit 'Next', class: 'btn btn-primary', id: 'new_building_submit' %>
                  <%end%>
                </div>
              </div>
            </div>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
