    <%= link_to '<span class="fa fa-share-square-o"><span> Share'.html_safe, '#', class: "btn btn-default"  %>
    <%= link_to '<span class="fa fa-bookmark"><span> Bookmark'.html_safe, '#', class: "btn btn-default"  %>
  </div>
  <div id="thumbnail-slider">
    <div class="inner">
      <% if @uploads.present? %>
        <ul>
          <% @uploads.each do |upload| %>
            <li>
              <%= image_tag upload.image.url, class: "thumb" %>
            </li>
          <%end%>
        </ul>
      <%else%>
        <span>No image Found! Please <%= link_to 'Upload', upload_path %> images.</span>
      <%end%>
      
      <div class="pull-right">
        <span class="fa fa-th-large"></span> <%= link_to 'See all'.html_safe, '#' %>
      </div>
    </div>
  </div>
</div>