.property_information
  .address{style: 'margin-left: -1px;'}
    = map_marker_icon_helper
    = "#{@building.street_address}, #{@building.zipcode}"
  
  - if @building.building_type.present? || @neighbohood.present?
    %div.pbt
      = "#{@building.building_type} in" if @building.building_type.present?
      = link_to @neighbohood, borough_search_link(@neighbohood), class: 'hyper-link' if @neighbohood.present?
  
  - if @building.price.present? || @building.bedroom_types?
    %div.pbt= render 'buildings/bedroom_types_and_prices', building: @building

  .clearfix
  
  - if @building.unit_information?
    %div.pbt
      = "<span> #{@building.no_of_units} Units </span>".html_safe   if @building.no_of_units.to_i > 0
      = "<span> | #{@building.floors} Floors </span>".html_safe     if @building.floors.present?
      = "<span> | Built in #{@building.built_in} </span>".html_safe if @building.built_in.present?
  
  - if @b_management_company.present? && @management_company.blank?
    .stats1.property_information
      Managed By 
      =link_to @b_management_company.name, no_fee_company_path(id: @b_management_company), class: 'hyper-link'
  .clearfix
  .clearfix
  
  =render 'buildings/show/contact_buttons'