<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Resident SD</th>
      <th>Resident ED</th>
      <th>Unit</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>ft<sup>2</sup></th>
      <th>Rent</th>
      <th>Rent Up Front</th>
      <th>Refundable deposits</th>
      <th>Broker Fee</th>
      <th>Non Refundable costs</th>
      <th>Total Money upfront</th>
    </tr>
  </thead>
  <% @building.units.each do |unit| %>
	  <% unit.rental_price_histories.order('created_at desc').each do |rental_price| %>
			<tr>
				<td><%= rental_price.residence_start_date %></td>
				<td><%= rental_price.residence_end_date %></td>
				<td><%= link_to unit.name, unit_path(unit) %></td>
				<td><%= unit.number_of_bedrooms %></td>
				<td><%= unit.number_of_bathrooms %></td>
				<td><%= unit.square_feet %></td>
				<td><%= number_to_currency(rental_price.monthly_rent) %></td>
				<td><%= number_to_currency(rental_price.rent_upfront) %></td>
				<td><%= number_to_currency(rental_price.refundable_deposits) %></td>
				<td><%= number_to_currency(rental_price.broker_fee) %></td>
				<td><%= number_to_currency(rental_price.non_refundable_costs) %></td>
				<td><%= number_to_currency(rental_price.rent_upfront + rental_price.non_refundable_costs + rental_price.broker_fee + rental_price.refundable_deposits) %></td>
			</tr>
		<%end%>
	<%end%>
</table>
