<% if @building.units.present? %>
	<div class="table-responsive table-responsive-lg">
		<table class="table table-bordered table-striped price-history-table">
	  	<thead>
	    	<tr>
	    		<th>Unit</th>
		      <th width="12%">Resident from</th>
		      <th width="12%">Resident to</th>
		      <th>Rent</th>
		      <th>Rent Up Front</th>
		      <th>Refundable deposits</th>
		      <th>Broker Fee</th>
		      <th>Non Refundable costs</th>
		      <th>Total Money upfront</th>
	    	</tr>
	  	</thead>
	  	<tbody>
		  	<% @building.units.each do |unit| %>
			  	<% unit.rental_price_histories.order('created_at desc').each do |rental_price| %>
						<tr>
							<td class="text-center"><%= link_to unit.name, unit_path(unit), class: 'link_underlined' %></td>
							<td><%= rental_price.res_start_year if rental_price.res_start_year.present? %></td>
  						<td><%= rental_price.res_end_year if rental_price.res_end_year.present? %></td>
							<td class="text-right"><%= number_to_currency(rental_price.monthly_rent, precision: 0) %></td>
							<td class="text-right"><%= number_to_currency(rental_price.rent_upfront, precision: 0) %></td>
							<td class="text-right"><%= number_to_currency(rental_price.refundable_deposits, precision: 0) %></td>
							<td class="text-right"><%= number_to_currency(rental_price.broker_fee, precision: 0) %></td>
							<td class="text-right"><%= number_to_currency(rental_price.non_refundable_costs, precision: 0) %></td>
							<td class="text-right"><%= number_to_currency(rental_price.rent_upfront + rental_price.non_refundable_costs + rental_price.broker_fee + rental_price.refundable_deposits, precision: 0) %></td>
						</tr>
					<%end%>
				<%end%>
			</tbody>
		</table>
	</div>
<%end%>