<div class="similar">
  <h3>Similar Properties</h3>
  <!-- carousel for medium & large devices -->
  <div id="carouselSimilar-1" class="carousel slide visible-lg carousel-col">
      <ol class="carousel-indicators">
          <li data-target="#carouselSimilar-1" data-slide-to="0" class="active"></li>
          <li data-target="#carouselSimilar-1" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner"> 
        <div class="item active">
          <div class="row">
            <% @similar_properties[0..2].each_with_index do |building, index| %>
              <div class="col-xs-4">
                <%= render partial: 'building_card', locals: { building: building } %>
              </div>
            <%end%>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @similar_properties[3..5].each do |building| %>
              <div class="col-xs-4">
                <%= render partial: 'building_card', locals: { building: building } %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carouselSimilar-1" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
      <a class="right carousel-control" href="#carouselSimilar-1" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
  </div>

  <!-- carousel for small devices -->
  <div id="carouselSimilar-2" class="carousel slide visible-md carousel-col"> 
      <ol class="carousel-indicators">
          <li data-target="#carouselSimilar-2" data-slide-to="0" class="active"></li>
          <li data-target="#carouselSimilar-2" data-slide-to="1"></li>
          <li data-target="#carouselSimilar-2" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner"> 
        <div class="item active">
          <div class="row">
            <% @similar_properties[0..1].each do |building| %>
              <div class="col-xs-6">
                <%= render partial: 'building_card', locals: { building: building } %>
              </div>
            <%end%>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @similar_properties[2..3].each do |building| %>
              <div class="col-xs-6">
                <%= render partial: 'building_card', locals: { building: building } %>
              </div>
            <%end%>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @similar_properties[3..4].each do |building| %>
              <div class="col-xs-6">
                <%= render partial: 'building_card', locals: { building: building } %>
              </div>
            <%end%>
          </div>
        </div>
      </div><!-- carousel-inner -->
      <a class="left carousel-control" href="#carouselSimilar-2" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
      <a class="right carousel-control" href="#carouselSimilar-2" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
  </div>

  <!-- carousel for extra-small devices -->
  <div id="carouselSimilar-4" class="carousel slide visible-xs visible-sm carousel-col">
      <ol class="carousel-indicators">
          <li data-target="#carouselSimilar-4" data-slide-to="0" class="active"></li>
          <li data-target="#carouselSimilar-4" data-slide-to="1"></li>
          <li data-target="#carouselSimilar-4" data-slide-to="2"></li>
          <li data-target="#carouselSimilar-4" data-slide-to="3"></li>
          <li data-target="#carouselSimilar-4" data-slide-to="4"></li>
          <li data-target="#carouselSimilar-4" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <% 0.upto(5) do |num| %>
          <div class="item <%= num == 0 ? 'active' : '' %>">
            <div class="row">
              <div class="col-xs-12">
                <%= render partial: 'building_card', locals: { building: @similar_properties.to_a.at(num) } %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <a class="left carousel-control" href="#carouselSimilar-4" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
      <a class="right carousel-control" href="#carouselSimilar-4" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
  </div>
</div>