<div class="row">
	<div class="col col-lg-6">
		<h3>What would you like to contribute ?</h3>
		<%= radio_button_tag :contribute_to, 'building_review', true %> Building Review <br />
 		<%= radio_button_tag :contribute_to, 'building_photos' %> Building Photos <br />
		<%= radio_button_tag :contribute_to, 'building_amenities' %> Building Amenities <br />
		<br />
		<%= radio_button_tag :contribute_to, 'unit_review' %> Unit Review <br />
		<%= radio_button_tag :contribute_to, 'unit_photos' %> Unit Photos <br />
		<%= radio_button_tag :contribute_to, 'unit_amenities' %> Unit Amenities <br />
		<%= radio_button_tag :contribute_to, 'unit_price_history' %> Unit Price History
	</div>
</div>

<br />
<div class="row">
	<div class="col-lg-6">
		<div>
			<label><h2>Building Name</h2></label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6" id="search-form">
		<%= form_tag "/reviews/new", method: :get, id: "existing_buildings_form" do %>
			<%= hidden_field_tag :contribution, 'building_review', class: "form-control building_contribution", id: "building_contribution" %>
			<section class="app-content">
		    <div class="buildings-search">
		      <%= text_field_tag 'buildings-search-txt', nil, class: "form-control", placeholder: 'Search building by name or address'%>
		      <div class="results" id="buildings-search-results"></div>
		      <ul id="buildings-search-no-results"></ul>
		    </div>
		  </section>
		  <div class="pull-right margin-top-20">
	    	<%= submit_tag 'Next', id: 'next_btn', class: 'btn btn-primary' %>
	    </div>
	  <%end%>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			<%= form_tag "/buildings", method: :post, id: "new_building", class: 'hide' do %>
				<%= hidden_field_tag :contribution, 'building_review', class: "form-control building_contribution" %>
				<%= render partial: 'buildings/building_contribute_form' %>
		    <div class="pull-right">
	      	<%= submit_tag 'Next', class: 'btn btn-primary' %>
	      </div>
			<%end%>
		</div>
	</div>
</div>

<br />

<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			<%= render partial: 'units/unit_contribute_form' %>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(function() {
    new app.buildings;
  });
   
</script>