<div class="row">
	<div class="col col-lg-6">
		<h3>What would you like to contribute ?</h3>
		<%= radio_button_tag :contribute_to, 'building_review', true %> Building Review <br />
 		<%= radio_button_tag :contribute_to, 'building_photos' %> Building Photos <br />
		<%= radio_button_tag :contribute_to, 'building_amenities' %> Building Amenities <br />
		<br />
		<%= radio_button_tag :contribute_to, 'unit_review' %> Unit Review <br />
		<%= radio_button_tag :contribute_to, 'unit_photos' %> Unit Photos <br />
		<%= radio_button_tag :contribute_to, 'unit_amenities' %> Unit Amenities <br />
		<%= radio_button_tag :contribute_to, 'unit_price_history' %> Unit Price History
	</div>
</div>

<br />

<div class="row">
	<div class="col-lg-6">
		<%= form_tag "/buildings", method: :post, id: "existing_building_form" do %>
			<section class="app-content">
		    <div class="buildings-search">
		      <%= text_field_tag 'buildings-search-txt', nil, class: "form-control", placeholder: 'Search building by name or address'%>
		      <div class="results" id="buildings-search-results"></div>
		      <ul id="buildings-search-no-results"></ul>
		    </div>
		  </section>
		  <div class="pull-right">
	    	<%= submit_tag 'Next',id: 'next_btn', class: 'btn btn-primary' %>
	    </div>
	  <%end%>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			<%= form_tag "/buildings", method: :post, id: "new_building", class: 'hide' do %>
				<div id="new_building_fields">
					<div class="col-sm-12">
		        <div class="form-group">
		        	<label>Add Building</label>
		          <%= text_field_tag 'building[building_name]', nil, class: "form-control", placeholder: 'Name'%>
		          <%= hidden_field_tag :contribution, 'building_review', class: "form-control" %>
		        </div>
		      </div>
		      <div class="col-sm-6">
		         <div class="form-group">
		          <%= text_field_tag 'building[building_street_address]', nil, class: "form-control", placeholder: 'Address' %>
		        </div>
		      </div>
		      <div class="col-sm-6">
		        <div class="form-group">
		          <%= text_field_tag 'building[city]', nil, class: "form-control", placeholder: 'City'%>
		        </div>
		      </div>
		      <div class="col-sm-6">
		        <div class="form-group">
		          <%= text_field_tag 'building[state]', nil, class: "form-control", placeholder: 'State'%>
		        </div>
		      </div>
		      <div class="col-sm-6">
		        <div class="form-group">
		          <%= text_field_tag 'building[zipcode]', nil, class: "form-control", placeholder: 'Zip'%>
		        </div>
		      </div>
		    </div>
		    <div class="pull-right">
	      	<%= submit_tag 'Next', class: 'btn btn-primary' %>
	      </div>
			<%end%>
		</div>
	</div>
</div>

<!-- <br />

<div class="row">
	<div class="col col-lg-6">
		<label>Add Unit</label>
		<div class="form-group">
			<div class="col-sm-8">
				<%#= text_field_tag :building_address, nil, placeholder: 'Building address', class: 'form-control' %>
			</div>
			
			<div class="col-sm-4">
				<%#= text_field_tag :unit,nil, placeholder: 'Unit #', class: 'form-control' %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<%#= text_field_tag :building_name, nil, placeholder: 'Name', class: 'form-control' %>
			</div>
		</div>
	</div>
</div> -->

<script type="text/javascript">
  $(function() {
    new app.buildings;
  });
   
</script>