<div class="tables">
  <% if current_user.present? %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-right">
          <%= link_to "Add new building", new_building_path, class: 'btn btn-blue' %>
        </div>
      </div>
    </div>
    <h2></h2>
  <%end%>
  <div class="pull-right">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="form-field">
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field :search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Search' %>
      </div>

      <div class="form-field">
        <%#= f.select :sorted_by, @filterrific.select_options[:sorted_by] %>
      </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%#= render_filterrific_spinner %>
    <% end %>
  </div>
  
  <%= render partial: 'buildings/buildings', locals: { buildings: @buildings} %>
</div>

<div class="text-center" >
  <%= will_paginate @buildings, renderer: BootstrapPagination::Rails %>
</div>





