<div id="mapView" class="mob-min11"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>

<div id="content" class="mob-max11">
  <div class="btn-group btn-group-justified" style="padding: 10px 100px;">
    <div class="btn-group">
      <%= link_to '<span class="fa fa-camera"><span> Add photos'.html_safe, new_building_upload_path(building_id: @building), class: "btn btn-info", "data-no-turbolink" => false  %>
    </div>
    <div class="btn-group">
      <%= link_to "<i class='fa fa-star'></i> Write a review".html_safe, new_building_review_path(building_id: @building), class: "btn btn-warning", "data-no-turbolink" => false %>
    </div>
  </div>
  <div class="singleTop">
    <%= render partial: 'building_summary' %>
    <%= render partial: 'uploads/show_page_slider', locals: { object: @building, path: new_building_upload_path(building_id: @building) } %>

  <div class="description">
    <h3>Description</h3>
    <p><%= @building.description ? simple_format(@building.description) : 'No description available' %></p>
  </div>
  <%= render partial: 'building_amenities' %>
  <!-- <div class="share">
    <h3>Share on Social Networks</h3>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
            <a href="#" class="btn btn-sm btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
            <a href="#" class="btn btn-sm btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span> Twitter</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
            <a href="#" class="btn btn-sm btn-round btn-o btn-google"><span class="fa fa-google-plus"></span> Google+</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
            <a href="#" class="btn btn-sm btn-round btn-o btn-pinterest"><span class="fa fa-pinterest"></span> Pinterest</a>
        </div>
    </div>
  </div> -->
    
  </div>
  <div class="clearfix"></div>
  
  <%= render partial: 'similiar_properties' %>

  <div class="tabsContainer" style="margin-top: 25px;">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#buildings" role="tab" data-toggle="tab">Building Reviews (<%=@building.reviews.count%>)</a></li>
        <li><a href="#units" role="tab" data-toggle="tab">Unit Reviews</a></li>
        <li><a href="#rent_amount" role="tab" data-toggle="tab">Unit Price Histories</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="buildings">
          <div class="comments">
            <!-- <h3><span><%#=@building.reviews.count%></span> Reviews</h3> -->
            <% @building.reviews.order('created_at desc').each do |review| %>
              <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: @building } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="units">
          <div class="comments">
            <% @building.units.each do |unit| %>
              <h3 class="unit_name_header"><%= link_to unit.name, unit_path(unit) %> (<span><%=unit.reviews.count%></span> Reviews)</h3>
              <% unit.reviews.order('created_at desc').each do |review| %>
                <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: unit } %>
              <%end%>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="rent_amount">
          <!-- <div class="comments"> -->
            <% @building.units.each do |unit| %>
              <% if current_user.present? %>
                <%= link_to 'New rental price', new_rental_price_history_path(unit_id: unit), class: 'btn btn-info btn-xs pull-right', style: 'margin-bottom: 4px;' %>
              <%end%>
              <h3><%= link_to unit.name, unit_path(unit) %></h3>
              <%= render partial: 'rental_price_histories/price_history', locals: { unit: unit }  %>
            <%end%>
          <!-- </div> -->
        </div>
    </div>
  </div>

  
</div>
<!-- <div class="commentsFormWrapper">
    <div class="cfAvatar">
        <img class="avatar" src="assets/avatar-1.png" alt="avatar">
    </div>
    <form class="commentsForm">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Write a comment...">
            <span class="input-group-btn"><a class="btn btn-blue">Post</a></span>
        </div>
    </form>
    <div class="clearfix"></div>
</div> -->
<div class="clearfix"></div>

<div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="contactLabel">Contact Agent</h4>
          </div>
          <div class="modal-body">
              <form class="contactForm">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                          <input type="text" placeholder="Name" class="form-control">
                       </div>
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                          <input type="text" placeholder="Email" class="form-control">
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                          <input type="text" placeholder="Subject" class="form-control">
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                          <textarea placeholder="Message" rows="3" class="form-control"></textarea>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Close</a>
              <a href="#" class="btn btn-round btn-green">Send message</a>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'mapView'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });
  
</script>