- content_for :page_title do
  = "#{@building.building_name}" if @building.building_name.present?
  = "#{@building.building_street_address}"

#street_view_btn.hidden-xs
  / %input#toggleStreetView.btn.btn-info{type: "button", value: "Street View"}

#mapView.mob-min
  .mapPlaceholder
    %span.fa.fa-spin.fa-spinner 
    Loading map...
#pano

#content.mob-max
  = render 'buildings/show/top_summary_section'

  #listings
    - if @active_listings.present?
      %h3= "#{@active_listings.count} Active Rental Listings"
      = render 'buildings/show/listings', listings: @active_listings
    .clearfix
    - if @inactive_listings.present?
      %h3= "#{@all_inactive_listings.count} Past Rental Listings"
      = render 'buildings/show/listings', listings: @inactive_listings

  .clearfix
  = render 'building_amenities'

  .clearfix
  - if @building.price.present? or @building.bedroom_types?
    = render 'buildings/show/price_ranges'
    = render 'buildings/show/broker_fee_savings'

  - if @documents.present?
    #building-documents.documents
      %h3
        Documents (#{@documents.count})
      = render 'uploads/documents'

  .clearfix
  - if @distance_results.present?
    #subways
      %h3 Subway
      = render 'buildings/show/subways'

  .clearfix
  - if @similar_properties.present?
    #subways
      %h3= "Similar Buildings (#{@similar_properties.count})"
      = render 'buildings/show/similar_properties'

  .clearfix
  - if @building.rating_cache?
    .aggregate-ratings
      %ul.star-sm
        %li
          %h3 Aggregate Ratings
        %li
          Cleanliness - Pests/Smell/Trash #{rating_for @building, 'cleanliness', disable_after_rate: true, readonly: true}
        %li
          Is it Noisy? #{rating_for @building, 'noise', disable_after_rate: true, readonly: true}
        %li
          Do you feel safe in your building? #{rating_for @building, 'safe', disable_after_rate: true, readonly: true}
        %li
          Utilities - AC/Electric/Heat/Water #{rating_for @building, 'health', disable_after_rate: true, readonly: true}
        %li
          Super Responsiveness #{rating_for @building, 'responsiveness', disable_after_rate: true, readonly: true}
        %li
          Dealings with Management #{rating_for @building, 'management', disable_after_rate: true, readonly: true}
  .clearfix
  .comments.font-14
    %h3= "Building Reviews (#{ @reviews_count })"
    - if @reviews_count > 0
      .text-right{style: 'text-align: right; padding-bottom: 15px;'}
        = link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), 'data-no-turbolink' => false, class: 'btn btn-yellow btn-round'
      - cache [@building, 'building_reviews', @reviews_count] do
        = render :partial => 'reviews/review', :collection => @building.building_reviews, :as => :review
    - else
      %p.no-review.font-14 There are no reviews for this building. Be the first to add your review for this building.
      = link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), 'data-no-turbolink' => false, class: 'btn btn-yellow no-review btn-round'
  
  = render 'layouts/home/footer'
#mapHash{'data-lat' => "#{@building.latitude.to_json}", 'data-lng' => "#{@building.longitude.to_json}", 'data-map' => "#{@gmaphash.to_json}"}
= hidden_field_tag :cu, current_user.present? ? current_user.id : nil
= hidden_field_tag :cu_building_id, @building.id

.addNewUnit= render 'new_unit_modal'

= render 'buildings/favourite_script'

- if session[:after_contribute].present? || params[:from_uploaded].present?
  = render 'contribute_more_popup'
  :javascript
    $(document).ready(function(){
      $("#contribute_more").modal('show');
    })
  
  - session[:after_contribute] = nil

=render 'buildings/show/map_script'