<div class="row">  
  <div class="col-lg-6 col-md-6">
    <div class="address-area">
      <% if @building.building_name.present? %>
        <h1><%= @building.building_name %> </h1>  
      <%else%>
        <h1> <%= @building.building_street_address %></h1>
      <%end%>

      <ul class="total-reviews list-inline">
        <li><%= rating_for @building, "building", disable_after_rate: true %></li> |
        <li>
          <% if @building.votes_for.size > 0 %>
            <%= '20' %>% recommended
          <%end%>
        </li> |
        <li><%= link_to "#{@building.reviews.count} reviews", "#" %> </li> |
        <li><%= @unit_review_count %> unit reviews</li>
        <% if current_user && current_user.has_role?(:admin) %>
          | <li><%= link_to "Edit", edit_building_path(@building)%></li>
        <%end%>
      </ul>
      
      <div class="address">
        <p> <b><%= @building.building_street_address %> </b></p>
        <p> <b><%= @building.city %>, <%= @building.state %>, <%= @building.zipcode %> </b></p>
      </div>

      <div style='width: 550px;'>
        <div id="map" style='width: 550px; height: 250px;'></div>
      </div>
     
    </div>
    <div id="building-info">
      <%= render partial: 'amenities' %>
    </div>
  </div>

 <div class="col-lg-6 col-md-6">
    <div style="padding:1px 0;margin-top:71px;">
      <%= link_to "<i class='fa fa-star'></i> Write a review".html_safe, new_building_review_path(building_id: @building), class: "btn btn-warning" %>
      <div class="btn-group pull-right" role="group">
        <%= link_to '<span class="fa fa-camera"><span> Add photo'.html_safe, new_building_upload_path(building_id: @building), class: "btn btn-info"  %>
        <%= render partial: "buildings/image_slider"%>
        <div class="pull-right">
          <% if @uploads.count > 0 %>
            <span class="fa fa-th-large"></span> <%= link_to "See all(#{@uploads.count})", building_uploads_path(building_id: @building.id) %>
          <%end%>
        </div>
  </div>
</div>

<!-- reviews -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#building_review">Building Reviews</a></li>
      <li><a data-toggle="tab" href="#unit_review">Unit Reviews</a></li>
      <li><a data-toggle="tab" href="#rent_amount">Rent Amount</a></li>
    </ul>
    <div class="tab-content margin-top-10">
      <div id="building_review" class="tab-pane fade in active">
        <%= render partial: "building_reviews" %>
      </div>
      
      <div id="unit_review" class="tab-pane fade">
        <%= render partial: "units/building_unit_reviews" %>
      </div>
      
      <div id="rent_amount" class="tab-pane fade">
        <%= render partial: "buildings/rent_amount" %>
      </div>
    </div>
  </div>
</div>

<br />

<script type="text/javascript" charset="utf-8">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);
  });
  
</script>

<style type="text/css">
  .infowindow img {
   overflow: hidden !important; 
   white-space: nowrap;
}
</style>




 

