<% content_for :page_title do%><%= "#{@building.building_name}" if @building.building_name.present? %> <%="#{@building.building_street_address}" %><%end %>
<div id="street_view_btn" class="hidden-xs">
  <input type="button" id="toggleStreetView" value="Street View" class="btn btn-info"></input>
</div>
<div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
<div id="pano"></div>

<div id="content" class="mob-max">
  
  <div class="singleTop">
    <%= render partial: 'building_summary' %>
    <%= render partial: 'building_images_slider' %>
  </div>

  <%= render partial: 'building_amenities' %>

  <div class="clearfix"></div>
  <div class="aggregate-ratings">
   <ul class="star-sm">
      <li><h3 style="margin-top: 0px;margin-bottom: 0px;">Aggregate Ratings</h3></li>

      <li>Cleanliness - Pests/Smell/Trash <%= rating_for @building, 'cleanliness', disable_after_rate: true, readonly: true %></li>
      <li>Is it Noisy? <%= rating_for @building, 'noise', disable_after_rate: true, readonly: true %></li>
      <li>Do you feel safe in your building? <%= rating_for @building, 'safe', disable_after_rate: true, readonly: true %></li>
      <li>Utilities - AC/Electric/Heat/Water <%= rating_for @building, 'health', disable_after_rate: true, readonly: true %></li>
      <li>Super Responsiveness <%= rating_for @building, 'responsiveness', disable_after_rate: true, readonly: true %></li>
      <li>Dealings with Management <%= rating_for @building, 'management', disable_after_rate: true, readonly: true %></li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="tabsContainer" id="reviewsContainer">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#buildings" role="tab" data-toggle="tab"><%= "BUILDING REVIEWS (#{ @building.reviews.count })"%></a></li>
      <li><a href="#unit_reviews" role="tab" data-toggle="tab"><%= 'UNIT REVIEWS'%> (<%= @unit_review_count %>)</a></li>
      <li><a href="#rent_amount" role="tab" data-toggle="tab"><%= 'RENT INFORMATION'%> (<%= @unit_rent_summary_count %>)</a></li>
      <li><a href="#units" role="tab" data-toggle="tab"><%= 'UNITS'%> (<%= @building.units.count %>)</a></li>
      <li><a href="#documents" role="tab" data-toggle="tab"><%= 'DOCUMENTS'%> (<%= @documents.count %>)</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane fade in active" id="buildings">
        <div class="comments">
          <% if @reviews.present? %>
            <div class="text-right" style="text-align: right;padding-bottom: 15px;">
              <%= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), "data-no-turbolink" => false, class: 'btn btn-yellow' %>
            </div>
            <%= render partial: @reviews %>
          <%else%>
            <p>There are no reviews for this building. Be the first to add your review for this building.</p>
            <%= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), "data-no-turbolink" => false, class: 'btn btn-yellow' %>
          <%end%>
        </div>
      </div>

      <div class="tab-pane fade" id="unit_reviews">
        <div class="comments">
          <% @building_units.each do |unit| %>
            <h3 class="unit_name_header"><%= link_to unit.name, unit_path(unit), 'data-no-turbolink' => false %> (<span><%=unit.reviews.count%></span> Reviews)</h3>
            <% @reviews = unit.reviews.includes(:user, :uploads) %>
            <%= render partial: @reviews  %>
          <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="rent_amount">
        <%= render partial: 'rent_amount' %>
      </div>

      <div class="tab-pane fade" id="units">
        <%= render partial: 'units' %>
      </div>

      <div class="tab-pane fade" id="documents">
        <%= render partial: 'uploads/documents' %>
      </div>
    </div>
  </div>
</div>

<div data-map="<%= @gmaphash.to_json %>" id="mapHash" data-lat="<%= @lat.to_json %>" data-lng="<%= @lng.to_json %>"></div>
<div class="addNewUnit">
  <%= render partial: "new_unit_modal" %>
</div>

<% if session[:after_contribute].present? || params[:from_uploaded].present? %>
  <%= render partial: 'contribute_more_popup' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#contribute_more").modal('show');
    })
  </script>
  <% session[:after_contribute] = nil %>
<%end%>
