<div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>

<div id="content" class="mob-max">
  
  <div class="singleTop">
    <%= render partial: 'building_summary' %>
    <% if @building.uploads.present? %>
      <!-- for small and xtra small devices -->
      <%= render partial: 'uploads/image_slider_mobile', locals: { uploads: @building.uploads, path: building_uploads_path(building_id: @building.id) } %>
      <!-- for Lasrge devices -->
      <%= render partial: 'uploads/show_page_slider', locals: { object: @building, path: new_building_upload_path(building_id: @building) } %>
    <%end%>

    <div class="description">
      <h3>Description</h3>
      <p><%= @building.description ? simple_format(@building.description) : 'No description available' %></p>
    </div>
  
    <%= render partial: 'building_amenities' %>
  </div>

  <div class="clearfix"></div>
  
  <%= render partial: 'similiar_properties' %>

  <div class="tabsContainer" style="margin-top: 25px;">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#buildings" role="tab" data-toggle="tab">Building Reviews (<%= @building.reviews.count %>)</a></li>
        <li><a href="#units" role="tab" data-toggle="tab">Unit Reviews (<%= @unit_review_count %>)</a></li>
        <li><a href="#rent_amount" role="tab" data-toggle="tab">Units Rent Summary</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="buildings">
          <div class="comments">
            <% @building.reviews.order('created_at desc').each do |review| %>
              <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: @building } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="units">
          <div class="comments">
            <% @building_units.each do |unit| %>
              <h3 class="unit_name_header"><%= link_to unit.name, unit_path(unit) %> (<span><%=unit.reviews.count%></span> Reviews)</h3>
              <% unit.reviews.order('created_at desc').each do |review| %>
                <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: unit } %>
              <%end%>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="rent_amount">
          <%= render partial: 'rent_amount' %>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'mapView'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });
  
</script>