%h2
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #filterrific_results{style: 'margin-top: 10px;'}
      .table-overflow
        %table.table.table-striped#sortable
          %thead
            %tr
              %th{width: '5%'} ID(#{@featured_agents.count})
              %th{width: '10%'} Agent Name
              %th{width: '14%'} Account Email
              %th{width: '14%'} Featured Agent Email
              %th{width: '10%'} Neighborhood
              %th{width: '10%'} Firm
              %th{width: '10%'} License
              %th{width: '10%'} Phone
              %th{width: '6%'} Website
              %th{width: '10%'} (#{@photos_count}) Photos
              %th{style: 'width: 110px;'} Start Date
              %th{style: 'width: 110px;'} End Date
              %th{width: '6%'} Edit
              %th{width: '6%'} Delete
              %th{width: '6%'} Renew
              %th{width: '6%'} Active
          
          %tbody.table
            - @featured_agents.each do |agent|
              %tr
                %td=agent.id
                %td=agent.full_name
                %td=agent.user.try(:email)
                %td=agent.try(:email)
                %td=neighborhood_link(agent.try(:neighborhood), target: '_blank')
                %td=agent.try(:broker_firm)
                %td=agent.try(:license_number)
                %td=number_to_phone(agent.try(:phone), area_code: true)
                %td=link_to globe_icon_helper, agent.website, target: '_blank' if agent.website.present?
                %td=agent.uploads_count.to_i
                %td=start_date(agent)
                %td=end_date(agent)
                - unless params[:type] == 'featured'
                  %td
                    = link_to 'edit', edit_featured_agent_path(agent, featured_by: @featured_by) unless agent.featured_by_manager?
                  %td
                    = link_to 'Delete', featured_agent_path(agent), method: :delete, data: {confirm: 'Are you sure you want to delete this featured agent?'}, class: 'text-danger' unless agent.featured_by_manager?
                  %td=renew_switch_button(agent, disabled: true)
                  %td=active_switch_button(agent)
                - else
                  %td
                    = link_to 'edit', edit_featured_agent_path(agent) if agent.draft? or agent.live?
                  %td
                    = link_to 'Delete', featured_agent_path(agent), method: :delete, data: {confirm: 'Are you sure you want to delete this featured Agent?'}, class: 'text-danger' if agent.draft?
                  %td=renew_switch_button(agent, disabled: true)
                  %td=active_switch_button(agent, fbby: 'manager', showbillingurl: true)

:css
  table.dataTable tr th, 
  table.dataTable tr td,
  table.table tr th,
  table.table tr td{
    padding: 8px 4px;
  }