.col-xs-12.col-sm-12.col-md-6.col-lg-6
  .card.search-view-card.bordered{'data-agentid' => agent.id}
    .figure{style: 'position: relative;', id: "figure#{agent.id}"}
      .shimmer
          
    .building-detail-card
      %h2.name-or-add=agent.full_name
      .cardAddress="#{agent.neighborhood} Expert"
      .cardAddress.font-14{style: 'color: #000;'}= agent.broker_firm
      .cardAddress.font-14=link_to "#{number_to_phone(phone = agent.try(:phone), area_code: true)}", "tel:#{phone}", class: 'hyper-link'
      %br
      %br
      .contact-links
        - unless agent.website.blank?
          .c-links{style: 'height: 19px;'}
          .c-links
            %section=link_to "Work With #{agent.first_name}", contact_featured_agent_path(agent), class: "btn btn-primary #{'btn-block' if agent.website.blank?}", remote: true
            %section=link_to "#{agent.first_name}'s Profile", agent.website, class: 'btn btn-primary btn-o', target: '_blank'
        - else
          .c-links{style: 'height: 19px;'}
          %section.d-block=link_to "Work With #{agent.first_name}", contact_featured_agent_path(agent), class: 'btn btn-primary btn-block', remote: true