#agent-info
	.row
		.col-lg-2.col-4
			= image_tag agent_image(@featured_agent.uploads.first), style: 'width: 100%;height: 100%;'
		.col-lg-10.col-8
			%p.font-bold.font-18=@featured_agent.full_name
			%p.font-14=@featured_agent.broker_firm
			%p.font-14= phone_with_area_code_link(@featured_agent)

	= form_tag contact_agent_featured_agent_path(@featured_agent), class: 'agent-contact-form', id: 'contact-agent-form', authenticity_token: true do
		.row
			.col-12.col-sm-12.col-md-12.col-lg-6
				%label
				= text_field_tag 'contact[email]', nil,  class: 'form-control', placeholder: 'Email*', autocomplete: 'off', role: 'email'

			.col-12.col-sm-12.col-md-12.col-lg-6
				%label
				= text_field_tag 'contact[phone]', nil, class: 'form-control phone_number', placeholder: 'Phone'

		.row
			.col-12.col-sm-12.col-md-12.col-lg-12
				%label
				= select_tag 'contact[neighborhoods]', options_for_select(@neighborhoods), class: 'form-control multiselect validate', multiple: true, required: mobile
		.row
			.col-12.col-sm-12.col-md-12.col-lg-6
				%label
				= select_tag 'contact[bedrooms]', options_for_select(StaticData::BEDROOMS), class: 'validate form-control col-grey cst', prompt: 'Bedrooms*', required: true

			.col-12.col-sm-12.col-md-12.col-lg-6
				%label
				= select_tag 'contact[budget]', options_for_select(StaticData::BUDGET), class: 'validate form-control col-grey cst', prompt: 'Budget*', required: true
		.row
			.col-12.col-sm-12.col-md-12.col-lg-12
				%label
				= text_area_tag 'contact[message]', message, class: 'form-control', rows: 7, style: 'color: #777777;'
		%br

		.row
			.col-12.col-sm-12.col-md-12.col-lg-12
				%div= submit_tag 'Send Message', class: 'btn btn-primary btn-round btn-block font-bold font-14 submit'

		.row
			.col-12.col-sm-12.col-md-12.col-lg-12
				%p.font-14{style: 'padding: 18px 0px;'} Agents typically charge a commission rate equal to 1 months rent or more for services.

= javascript_include_tag 'mask'

:javascript
	$('#contact_neighborhoods.multiselect').multiselect({
		nonSelectedText: 'Neighborhood Interested In*',
		buttonWidth: '100%',
		buttonClass: 'btn-custom-multiselect validate',
		templates: {
			li: '<li><div class="checkbox"><label></label></div></li>'
		},
		onChange: function(options, checked){
			var checked_boxes = $('.multiselect-container').find('input[type=checkbox]:checked');
			var elem = $('span.multiselect-selected-text');
			if(checked_boxes.length >= 1){
				elem.addClass('selected');
			}else{
				elem.removeClass('selected');
			}
		}
	});

	$('.multiselect-container div.checkbox').each(function (index) {
		var id = 'multiselect-' + index,
				$input = $(this).find('input');

		// Associate the label and the input
		$(this).find('label').attr('for', id);  
		$input.attr('id', id);

		// Remove the input from the label wrapper
		$input.detach();

		// Place the input back in before the label
		$input.prependTo($(this));

		$(this).click(function (e) {
			// Prevents the click from bubbling up and hiding the dropdown
			e.stopPropagation();
		});

	});

	// Replacing data-toggle with data-bs-toggle due to bootstrap4-5
	$('.btn-custom-multiselect.multiselect').removeAttr('data-toggle').attr('data-bs-toggle', 'dropdown');

	$("#contact-agent-form").validate({
		rules: {
			'contact[email]': {
				required: true,
				email: true
			},
			'contact[bedrooms]': 'required',
			'contact[budget]': 'required',
			'contact[neighborhoods][]': 'required'
		},
		messages: {
			'contact[bedrooms]': '',
			'contact[budget]': '',
			'contact[neighborhoods][]': ''
		}
	});

	// If trying to submit form when nothing is entered.
	//
	$('input[type=submit]').on('click', function(){
		var nb = $('#contact_neighborhoods').val();
		var elems = $(this).find('.validate');
		var elem;
		var submit = true;
		if(nb == '' || nb == null){
			$('.btn-custom-multiselect').addClass('error');
			submit = false;
		}else{
			$('.btn-custom-multiselect').removeClass('error');
			submit = true;
		}
		
		if(elems.length > 0){
			for(var i = 0; i <= elems.length; i++){
				elem = $(elems[i]);
				if(elem.val() == '' || elem.val() == null){
					elem.addClass('error');
					submit = false;
				}
			}
		}
		return submit;
	});


:css
	#agent-info{
		padding: 20px;
	}
	#agent-info img{
		border: 1px solid #ddd;
	}
	#agent-info	p{
		padding: 0px;
		margin: 2px 0px;
	}
	.btn-custom-multiselect{
		height: 44px;
		padding: 10px 14px;
		text-align: left;
		background: #fff;
		border: 1px solid #dfdfdf;
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	span.multiselect-selected-text{
		color: #777777;
	}
	span.multiselect-selected-text.selected{
		color: #000;
	}
	select.col-grey {
		color: #777777 !important;
	}
	option:not(:first-of-type) {
		color: #000 !important;
	}
	.btn-custom-multiselect .caret{
		position: absolute;
		right: 4px;
		top: 21px;
	}
	.multiselect-container.dropdown-menu{
		width: 100%;
	}
	#contact-agent-form .form-control{
		font-size: 14px;
	}
	input::-webkit-input-placeholder {
		color: #777777 !important;
	}
	input:-moz-placeholder { /* Firefox 18- */
		color: #777777 !important;
	}
	input::-moz-placeholder {  /* Firefox 19+ */
		color: #777777 !important;
	}
	input:-ms-input-placeholder {  
		color: #777777 !important;
	}
	.has-error .checkbox{
		color: #000;
	}
	.multiselect-container div.checkbox {
		margin: 0;
	}
	.multiselect-container label {
		margin: 0;
		white-space: nowrap;
	}
	.multiselect-container div.checkbox {
		padding: 0px 15px 0px 35px;
	}
	.checkbox label {
		width: 100%;
	}
	.error{
		color: #a94442;
	}
	select.error, input.error, .btn-custom-multiselect.error{
		border-color: #a94442;
	}
	#contact_bedrooms-error{
		display: none !important;
	}

	.btn-custom-multiselect.dropdown-toggle::after {
		position: absolute;
	  right: 8px;
		top: 21px;
	}