#agent-info
	.row
		.col-lg-2.col-xs-4
			=image_tag agent_image(@featured_agent.uploads.first), style: 'width: 100%;height: 100%;'
		.col-lg-10.col-xs-8
			%p.font-bold.font-18=@featured_agent.full_name
			%p.font-14=@featured_agent.broker_firm
			%p.font-14=link_to number_to_phone(@featured_agent.phone, area_code: true), "tel:#{@featured_agent.phone}", class: 'hyper-link'

	=form_tag contact_agent_featured_agent_path(@featured_agent), class: 'agent-contact-form' do
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				%label
				= email_field_tag 'contact[email]', nil,  class: 'validate form-control', placeholder: 'Email*', autocomplete: 'off', required: true

			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				%label
				= text_field_tag 'contact[phone]', nil, class: 'form-control phone_number', placeholder: 'Phone'

		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				%label
				= select_tag 'contact[neighborhoods]', options_for_select(@neighborhoods), class: 'form-control multiselect validate', multiple: true, required: mobile
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				%label
				= select_tag 'contact[bedrooms]', options_for_select(bedrooms_options), class: 'validate form-control col-grey cst', prompt: 'Bedrooms*', required: true

			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				%label
				= select_tag 'contact[budget]', options_for_select(budgets_options), class: 'validate form-control col-grey cst', prompt: 'Budget*', required: true
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				%label
				= text_area_tag 'contact[message]', message, class: 'form-control', rows: 7, style: 'color: #777777;'
		%br

		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				%div= submit_tag 'Send Message', class: 'btn btn-blue btn-block font-bold font-14'

		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				%p.font-14{style: 'padding: 18px 0px;'} Agents typically charge a commission rate equal to 1 months rent or more for services.

:javascript
	var non_selected_text = 'Neighborhood Interested In*';
	$('#contact_neighborhoods.multiselect').multiselect({
		nonSelectedText: non_selected_text,
		buttonWidth: '100%',
		buttonClass: 'btn-custom-multiselect validate',
		templates: {
			li: '<li><div class="checkbox"><label></label></div></li>'
		},
		onChange: function(options, checked){
			var checked_boxes = $('.multiselect-container').find('input[type=checkbox]:checked');
			var elem = $('span.multiselect-selected-text');
			if(checked_boxes.length >= 1){
				elem.addClass('selected');
			}else{
				elem.removeClass('selected');
			}
		}
	});

	$('.multiselect-container div.checkbox').each(function (index) {
		var id = 'multiselect-' + index,
				$input = $(this).find('input');

		// Associate the label and the input
		$(this).find('label').attr('for', id);  
		$input.attr('id', id);

		// Remove the input from the label wrapper
		$input.detach();

		// Place the input back in before the label
		$input.prependTo($(this));

		$(this).click(function (e) {
			// Prevents the click from bubbling up and hiding the dropdown
			e.stopPropagation();
		});

	});

	$('.agent-contact-form').find('select.cst').on('change', function(){
		var val = $(this).val();
		if(val == ''){
			$(this).addClass('col-grey');
		}else{
			$(this).removeClass('col-grey');
		}
	});

	$(document).on('click', 'form', function(e){
		var submit;
		var select_btn = $('.btn-custom-multiselect');
		var elems = $(this).find('.validate');
		var len = elems.length - 1
		for(var i = 0; i <= len; i++){
			if($(elems[i]).val() == '' || $(elems[i]).val() == null || select_btn.text() == 'Neighborhood Interested In* '){
				$(elems[i]).parent().addClass('has-error');
				submit = false
			}else{
				$(elems[i]).parent().removeClass('has-error');
				select_btn.parent().removeClass('has-error');
				submit = true;
			}
		}
		return submit;
	});

:css
	#agent-info{
		padding: 20px;
	}
	#agent-info img{
		border: 1px solid #ddd;
	}
	#agent-info	p{
		padding: 0px;
		margin: 2px 0px;
	}
	.btn-custom-multiselect{
		height: 44px;
		padding: 10px 14px;
		text-align: left;
		background: #fff;
		border: 1px solid #dfdfdf;
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	span.multiselect-selected-text{
		color: #777777;
	}
	span.multiselect-selected-text.selected{
		color: #000;
	}
	select.col-grey {
		color: #777777 !important;
	}
	option:not(:first-of-type) {
		color: #000 !important;
	}
	.btn-custom-multiselect .caret{
		position: absolute;
		right: 4px;
		top: 21px;
	}
	.multiselect-container.dropdown-menu{
		width: 100%;
	}
	.form-control{
		font-size: 14px;
	}
	input::-webkit-input-placeholder {
		color: #777777 !important;
	}
	input:-moz-placeholder { /* Firefox 18- */
		color: #777777 !important;
	}
	input::-moz-placeholder {  /* Firefox 19+ */
		color: #777777 !important;
	}
	input:-ms-input-placeholder {  
		color: #777777 !important;
	}
	.has-error .checkbox{
		color: #000;
	}
	.multiselect-container div.checkbox {
		margin: 0;
	}
	.multiselect-container label {
		margin: 0;
		white-space: nowrap;
	}
	.multiselect-container div.checkbox {
		padding: 5px 15px 5px 35px;
	}
	.checkbox label {
		width: 100%;
	}