- if @featured_agent.uploads_count.to_i > 0
  .row.photo-grid-container
    - @uploads.each_with_index do |upload, index|
      - url = upload.image.url
      .photo-grid-item.image-gallery{'data-object-id' => "#{upload.id}", 'data-sort-id' => index}
        %a.propWidget-1{caption: "#{date_uploaded(upload)}", 'data-fancybox' => 'gallery', 'data-role' => 'slider', href: "#{url}"}
          = image_tag url, alt: 'Image', class: 'img-thumbnail'
        = link_to '<span class="fa fa-trash" />'.html_safe, upload_path(upload), method: :delete, remote: true, class: 'btn btn-danger btn-xs pull-right1 delete_image'
        = link_to '<span class="fa fa-edit" />'.html_safe, edit_upload_path(upload, upload_type: 'image'), remote: true, class: 'btn btn-primary btn-xs pull-right1 edit_image'

    / jquery click function in zapp.js
    .loading.hidden Loading…
  - if @featured_agent.uploads_count.to_i > 1
    %h4 Drag images to reorder.
- else
  %b.text-danger No Photos are available. Click on back button to add photos.

.row
  .col-lg-12
    .pull-right
      = link_to 'Cancel', @featured_agent.featured_by_manager? ? agenttools_user_path(current_user, type: 'featured') : featured_agents_path
      = link_to 'Back', wizard_path(:add_photos, agent_id: @featured_agent.id), class: 'btn btn-default'
      / = link_to 'Next', @featured_agent.featured_by_manager? ? billing_or_agent_list_path : featured_agents_path, class: 'btn btn-primary'
      = link_to 'Next', @featured_agent.featured_by_manager? ? wizard_path(:payment, agent_id: @featured_agent.id) : featured_agents_path, class: 'btn btn-primary'


:javascript
  $('.photo-grid-container').sortablePhotos({
      selector: '> .photo-grid-item',
      sortable: true,
    });