.similar{style: 'padding: 10px 10px 0px 10px;'}
  #carouselSimilar-1.carousel.slide.carousel-col{style: 'padding: 0px;'}
    .carousel-inner
      .row
        .col-lg-12.col-md-12
          .card.search-view-card.bordered
            .figure{style: 'position: relative;', id: "figure#{@featured_agent.id}"}
              .shimmer
                  
            .building-detail-card
              %h2.name-or-add=@featured_agent.full_name
              .cardAddress="#{@featured_agent.neighborhood} Expert"
              .cardAddress.font-14= @featured_agent.broker_firm
              .cardAddress.font-14=link_to "#{number_to_phone(phone = @featured_agent.try(:phone), area_code: true)}", "tel:#{phone}", class: 'hyper-link'
              %br
              %br
              =render 'featured_agents/cta_links', agent: @featured_agent
                
          .clearfix