<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="btn-group-justified">
      <a href="<%=user_omniauth_authorize_path(:facebook)%>" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign In with Facebook</a>
    </div>
  </div>
  <div class="form-group">
    <div class="btn-group-justified">
      <a href="#" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign In with Google</a>
    </div>
  </div>
  <div class="signOr">OR</div>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password', required: true %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Sign In", class: "btn btn-block btn-blue login-btn-submit", disabled_with: "Signing in...." %>
  </div>
  <p class="help-block">Not a transparentcity member? <a href="#" data-target="#signup" class="modal-su text-green">Sign Up</a></p>
<%end%>