= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :id => 'sign_in_user', format: :json, remote: true }) do |f|
  #error_explanation.text-center
    %b.text-red
    %ul
  .form-group
    .btn-group-justified
      / = render partial: 'layouts/shared/social_auth_buttons', locals: {resource: resource, btn_title: 'Continue with Facebook', button_type: 'fb'}
  .form-group
    .btn-group-justified
      = render partial: 'layouts/shared/social_auth_buttons', locals: {resource: resource, btn_title: 'Sign In with Google', button_type: 'google'}
  
  .signOr.mt-4 OR
  
  .form-group
    = f.email_field :email, class: 'form-control', placeholder: 'Email', autocomplete: 'off'
    %p.help-block
  .form-group
    = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
    %p.help-block
    =f.hidden_field :time_zone, id: 'user_time_zone2', class: 'user_time_zone'
  .form-group
    .row
      .col-xs-6
      .col-xs-6.text-end
        %p.help-block
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to 'Forgot password?', new_password_path(resource_name), class: 'hyper-link'
  
  .d-grid.col-12.mx-auto
    = f.submit 'Sign In', class: 'btn btn-blue login-btn-submit txt-color-white', data: { disable_with: 'Signing in ...' }

  %p.help-block.mt-3
    Not a member?
    %a.modal-suii.hyper-link{href: '/users/sign_up'} Sign Up

= javascript_include_tag 'set_timezone'