<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :id => 'sign_in_user', format: :json, remote: true }) do |f| %>
  <div id="error_explanation" class="text-center">
    <b class="text-red"></b>
    <ul></ul>
  </div>
  <div class="form-group">
    <div class="btn-group-justified">
      <a href="<%=omniauth_authorize_path(resource_name, :facebook)%>" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign In with Facebook</a>
    </div>
  </div>
  <div class="form-group">
    <div class="btn-group-justified">
      <a href="<%=omniauth_authorize_path(resource_name, :google_oauth2)%>" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign In with Google</a>
    </div>
  </div>
  <div class="signOr">OR</div>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Email", autocomplete: "off" %>
    <p class="help-block"></p>
  </div>
  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %>
    <p class="help-block"></p>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <!-- <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Remember me</label></div> -->
      </div>
      <div class="col-xs-6 align-right">
        <p class="help-block">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot password?", new_password_path(resource_name), class: 'text-blue' %>
          <% end -%>
        </p>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.submit "Sign In", class: "btn btn-block btn-blue login-btn-submit", data: { disable_with: "Signing in ..." } %>
  </div>
  <p class="help-block">Not a transparentcity member? <a href="javascript:void(0)" data-target="#signup" class="modal-su text-green">Sign Up</a></p>
<%end%>