<div class="row">
  <div class="col-lg-12">
    <div class="login-page col-md-offset-4">
      <div class="social-btns">
        <%= link_to "<span class='fa fa-facebook'></span> Sign In".html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-facebook" %>
        <a class="btn btn-google-plus">
          <span class="fa fa-google-plus"></span>
          Sign In
        </a>
      </div>
      <div class="clearfix"></div>
      <div class="hr text-center">
        <hr>
        <span class="center">Or</span>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-at"></i></div>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <span class="help-block has-error" id="email-error"></span>
        </div>
        
        <div class="form-group">
          <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-lock"></i></div>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <span class="help-block has-error" id="password-error"></span>
        </div>
          
        <%= f.submit "Sign In", class: "btn btn-block btn-primary", id: 'login_btn' , disabled_with: "Signing In...." %>
          
        <div class="clearfix"></div>
        <div class="login-modal-footer">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                 <a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab" onclick="$('#signin-taba').parent().removeClass('active')">Forget Password?</a>
              <% end -%>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <a href="javascript:;" data-toggle="modal" data-target="#loginModal" id="register"> SignUp</a>
               </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
