<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title><%= content_for?(:html_title) ? "#{content_for(:html_title)} Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City" : "Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City" %>
        </title>

        <meta name="description" content="<%= content_for?(:meta_description) ? content_for(:meta_description) : "Transparentcity Blog is the place to find the latest rental housing research, market data, news, and stories on renting and living in New York City." %>">

        <link rel="alternate" type="application/atom+xml" title="Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City - Atom" href="<%= buttercms_blog_atom_path %>">
        <link rel="alternate" type="application/rss+xml" title="Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City - RSS" href="<%= buttercms_blog_rss_path %>">

        <!-- See https://buttercms.com/docs/#cssstyling -->
        <!-- <link rel="stylesheet" href="http://d2z2rr99bkshyr.cloudfront.net/buttercms-post-defaults.css"> -->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= favicon_link_tag 'favicon.png' %>
    </head>
    <body class="notransition no-hidden" >
        
        <%= render 'layouts/buttercms/blog_header' %>
        
        <div class="blog-content">
            <div class="home-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <%= yield %>
                    </div>
                    <%= render partial: 'buttercms/posts/category_panel' %>
                </div>
            </div>
        </div>
        <%= render 'layouts/home/footer' %>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb8502a693bfcd8"></script>

        <style type="text/css">
           
            .home-logo {
                margin-top: 13px;
            }
            a.text-color-blue{
                color: #1a0dab;
            }
            .pn-icon {
                position: absolute;
                font-size: 36px;
                line-height: 36px;
                top: 50%;
                margin-top: -18px;
                color: #333 !important;
            }
            
            .home-wrapper {
                padding: 20px 20px;
            }
            .profiler-results{
                display: none;
            }
            .at-label{
                display: none !important;
            }
        </style>
    </body>
</html>
