<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:html_title) ? "#{content_for(:html_title)} Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City" : "Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City" %>
        </title>

        <meta name="description" content="<%= content_for?(:meta_description) ? content_for(:meta_description) : "Transparentcity Blog is the place to find the latest rental housing research, market data, news, and stories on renting and living in New York City." %>">

        <link rel="alternate" type="application/atom+xml" title="Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City - Atom" href="<%= buttercms_blog_atom_path %>">
        <link rel="alternate" type="application/rss+xml" title="Transparentcity Blog No Fee Apartments NYC and Apartment Reviews New York City - RSS" href="<%= buttercms_blog_rss_path %>">

        <!-- See https://buttercms.com/docs/#cssstyling -->
        <!-- <link rel="stylesheet" href="http://d2z2rr99bkshyr.cloudfront.net/buttercms-post-defaults.css"> -->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= favicon_link_tag 'favicon.png' %>
    </head>
    <body class="notransition no-hidden" >
        <div class="header" style="background: rgba(25, 25, 25, 0.86); position: relative;">
            <div class="logoContainer">
                <div class="logo osLight"><%=image_tag 'logo1.png', alt: 'logo', width: '200' %></div>
            </div>
            
            <div class="blog-nav" style="position: absolute;top: 10px;left: -10px;">
                <ul>
                    <a href="/blog">
                      <li><span class="fa fa-home"></span> Blog</li>
                    </a>
                </ul>
             </div>
        </div>
        
        <div class="blog-content">
            <div class="home-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <%= yield %>
                    </div>
                    <%= render partial: 'buttercms/posts/category_panel' %>
                </div>
            </div>
        </div>
        <%= render 'layouts/home/footer' %>
        <style type="text/css">
            .blog-nav {
                float: left;
                margin-left: 65px;
            }
            .home-header {
                padding: 0px 11px 8px;
            }
            a.text-color-blue{
                color: #1a0dab;
            }
            .pn-icon {
                position: absolute;
                font-size: 36px;
                line-height: 36px;
                top: 50%;
                margin-top: -18px;
                color: #333 !important;
            }
            .blog-nav ul li{
                color: #fff;
                font-size: 18px;
            }
        </style>
    </body>
</html>
