.form-container
  
  - if @saved_cards.present?
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        %h3 Saved Cards
        %table.table
          - @saved_cards.each do |card|
            - exp_month = card[:exp_month].to_s.length == 2 ? card[:exp_month] : "0#{card[:exp_month]}"
            %tr
              %td.v-align-middle="#{card[:brand].capitalize} ending in #{card[:last4]} expires #{exp_month}/#{card[:exp_year]}"
              %td.text-right
                = form_tag pay_using_saved_card_path, method: :post do
                  = hidden_field_tag 'billing[email]', card[:email], id: "billing_email_#{card[:last4]}"
                  = hidden_field_tag 'billing[amount]', Billing::PRICE, id: "billing_amount2_#{card[:last4]}"
                  = hidden_field_tag 'billing[featured_building_id]', params[:fb_id], id: "billing_featured_building_id_#{card[:last4]}"
                  = hidden_field_tag 'billing[user_id]', current_user.id, id: "billing_user_id_#{card[:last4]}"
                  = hidden_field_tag :customer_id, card[:customer_id], id: "cust_id_#{card[:last4]}"

                  = submit_tag "Pay $#{Billing::PRICE}.00", class: 'btn btn-primary btn-sm font-bold', data: { disable_with: "Pay $#{Billing::PRICE}.00" }
    
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        .text-center OR
  %br
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-6
      .panel.panel-default
        .panel-heading
          %b New Billing
        .panel-body
          #example-2.cell.example.example2
            = form_tag create_charge_path, method: :post, id: 'stripe-billing-form' do
              .row.error
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .payment-errors.text-danger.message
              
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  = hidden_field_tag 'billing[email]', current_user.email
                  = hidden_field_tag 'billing[amount]', Billing::PRICE
                  = hidden_field_tag 'billing[featured_building_id]', params[:fb_id]
                  = hidden_field_tag 'billing[user_id]', current_user.id

                  = render 'billings/card_detail_fields'
              
              %br
              %br
              .form-group
                .col-sm-12
                  .pull-right
                    = link_to 'Cancel', managertools_user_path(current_user, type: 'featured'), class: 'btn font-bold'
                    = link_to 'Back', managertools_user_path(current_user, type: 'billing'), class: 'btn btn-default font-bold'
                    = submit_tag "Pay $#{Billing::PRICE}.00", class: 'btn btn-primary font-bold btn_submit btn_submit_stripe-form', 'data-tid' => "elements_examples.form.pay_button"
              %br
              %br
              .row
                .col-lg-4
                  .text-left.text-muted Powered by Stripe
                .col-lg-2=link_to 'Terms', 'https://stripe.com/checkout/legal', target: '_blank'
                .col-lg-2=link_to 'Privacy', 'https://stripe.com/privacy', target: '_blank'
