.pdf-header
	= image_tag wicked_pdf_asset_base64('logo-black-blue.png'), width: '200'

#billing-invoice
	.receipt.text-center
		%p.text-center Receipt from company
		%p.text-center.text-muted="Receipt ##{@billing.receipt_number}"

	.billing-table
		%table.billing-detail
			%tr
				%th.text-start AMOUNT PAID
				%th.text-start DATE PAID
				%th.text-start PAYMENT METHOD

			%tr
				%td.text-start= number_to_currency(amount = @billing.amount, precision: 2)
				%td.text-start=@billing.created_at&.strftime("%b %-d, %Y")
				%td.text-start
					- if @billing.payment_detail?
						="#{@billing.brand} - #{@billing.last4}"
					- else
						="#{@card.brand} - #{@card.last4}" if @card.present?

		.summary-section
			%p.text-start SUMMARY
			.inner
				%table
					%tr
						%td.text-start{width: '70%', style: 'border-bottom: 1px solid #ddd;'}=@billing.billing_description
						%td.text-end{style: 'border-bottom: 1px solid #ddd;'}= number_to_currency(amount = @billing.amount, precision: 2)

					%tfoot
						%tr
							%th.font-md.text-start Total Amount paid
							%th.font-md.text-end= number_to_currency(amount, precision: 2)
		%br
		=render 'billing_mailer/help_block'


:css
	#invoice-container {
		background-color: #fff;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu,sans-serif;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		min-width: 100% !important;
		width: 100% !important;
	}
	.pdf-header {
		width: 400px;
		margin: 30px auto 30px auto;
		text-align: center !important;
	}
	.pdf-container {
		width: 100%;
	}
	.divider {
		border: 1px solid #333;
	}
	#billing-invoice .text-muted {
		color: #999 !important;
	}
	#billing-invoice .text-center {
		text-align: center !important;
	}
	#billing-invoice .text-end {
		text-align: right !important;
	}
	#billing-invoice .text-start {
		text-align: left !important;
	}
	#billing-invoice .font-md {
		font-size: 15px !important;
	}
	#billing-invoice .payment-date {
		 background: #f2f2f2 !important;
		 width: 100%;
		 padding: 8px 10px 8px 20px !important;
		 border-top: 1px solid #ddd;
		 border-bottom: 1px solid #ddd;
		 font-size: 14px;
		 color: #4b4b4b;
	}
	#billing-invoice .billing-table, 
	#billing-invoice .payment-date {
		margin-top: 40px;
	}
	#billing-invoice .billing-table {
		padding: 8px 20px;
	}
	#billing-invoice .billing-table .billing-detail {
		margin-bottom: 25px;
	}
	#billing-invoice .billing-table .billing-detail tr th {
		color: #8898aa;
	}
	#billing-invoice .billing-table .billing-detail tr th, #billing-invoice .billing-table .billing-detail tr td {
		padding: 1px 0px;
	}
	#billing-invoice .billing-table .billing-detail tr td {
		font-size: 14px;
	}
	#billing-invoice .billing-table .table tfoot tr, 
	#billing-invoice .billing-table .table tfoot th {
		background: #fff !important;
	}
	#billing-invoice .billing-table .summary-section p {
		color: #8898aa;
		margin: 0px;
		padding: 0px;
		font-weight: bolder;
	}
	#billing-invoice .billing-table .summary-section .inner {
		background: #f6f9fc;
		padding: 8px;
		margin-top: 10px;
	}
	#billing-invoice table {
		width: 100%;
	}
	#billing-invoice table tr th, #billing-invoice table tr td {
		padding: 8px 10px;
	}
	#billing-invoice .table > thead > tr > th, 
	#billing-invoice .table > thead > tr > td, 
	#billing-invoice .table > tbody > tr > th, 
	#billing-invoice .table > tbody > tr > td, 
	#billing-invoice .table > tfoot > tr > th, 
	#billing-invoice .table > tfoot > tr > td {
		padding: 8px;
		line-height: 1.428571429;
		vertical-align: middle;
		border-top: 1px solid #ddd;
	}