.pdf-header
	- if @view != 'mail'
		= image_tag wicked_pdf_asset_base64('logo2.png'), width: '250'
	- else
		= image_tag 'https://www.dropbox.com/s/8q5a4uk24l7r5tc/logo2.png?dl=1', width: '250'
#billing-invoice
	.receipt
		%h1.text-center Receipt
		.divider
		%h3.text-muted.text-center="#{@billing.brand} #{card['last4']}" if card.present?

	.payment-date
		%b=@billing.created_at&.strftime("%b %-d, %Y")
		.fl-right{style: 'float: right;margin-right: 15px;'}="Invoice: ##{@billing.id}"


	.billing-table
		%table.table
			%tr
				%th.text-left Description
				%th.text-right Amount

			%tr
				%td.text-left=@billing.billing_description
				%td.text-right= number_to_currency(amount = @billing.amount, precision: 2)

			%tfoot
				%tr
					%th.text-right.font-md Total
					%th.text-right.font-md= number_to_currency(amount, precision: 2)