.pdf-header
	= image_tag wicked_pdf_asset_base64('logo2.png'), width: '250'
#billing-invoice
	.receipt
		%h1.text-center Receipt
		.divider
		%h3.text-muted.text-center="#{@card['brand']} #{@card['last4']}"

	.payment-date
		%b=@billing.created_at.strftime("%b %-d, %Y")

	.billing-table
		%table.table
			%tr
				%th.text-left Description
				%th.text-right Amount

			%tr
				%td.text-left="Featured Building For Four Weeks Starting on #{@billing.featured_building.start_date.strftime('%a %-d, %Y')}"
				%td.text-right= number_to_currency(amount = @billing.amount, precision: 2)

			%tfoot
				%tr
					%th.text-right.font-md Total
					%th.text-right.font-md= number_to_currency(amount, precision: 2)