.home-footer
  .home-wrapper
    .contactUs
      = link_to 'About us', '/about'
      | #{link_to 'Terms of Service', tos_path, target: '_blank'} | #{link_to 'Send feedback', new_contact_path, class: 'btn1 btn-info1'} | #{link_to 'Blog', '/blog', class: 'btn1 btn-info1'}
    .social-links.text-center.padding-top-20
      %a.btn.btn-sm.btn-icon.btn-round.btn-o.btn-white{href: "https://www.facebook.com/transparentcityllc", target: "new"}
        %span.fa.fa-facebook
      %a.btn.btn-sm.btn-icon.btn-round.btn-o.btn-white{href: "https://twitter.com/transprentcity", target: "new"}
        %span.fa.fa-twitter
      %a.btn.btn-sm.btn-icon.btn-round.btn-o.btn-white{href: "https://www.instagram.com/transprentcity", target: "new"}
        %span.fa.fa-instagram
    .copyright.padding-top-20
      transparentcity © #{Date.today.year <= 2018 ? 2018 : Date.today.year}
    
    %br

    - if request.url != 'https://transparentcity.co/'
      .text-center
        =image_tag 'buttercms_logo/butter-w.png', style: 'width: 150px;'