<a href="javascript:void(0)" class="home-navHandler ssm-toggle-nav1 visible-xs visible-sm"><span class="fa fa-bars"></span></a>
<div class="home-header">
  <div class="home-logo osLight"><%=image_tag 'logo2.png', alt: 'logo', width: '200' %></div>

  <!-- Should only be visible on home page when user is not logged in -->
  <% if params[:controller] == 'home' and params[:action] == 'index' %>
    <div class="pull-right btn-contribute btn-contribute-home <%= user_signed_in? ? 'hidden-xs hidden-sm' : '' %>">
      <%#=link_to '<span class="fa fa-plus"></span>'.html_safe+' Write Review', contribute_buildings_path, class: 'btn btn-green hidden-xs', style: 'font-size: 15px;' %>
      <%=link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-green visible-xs' %>
    </div>
  <%end%>
  
  <!-- for large devices -->
  <div class="home-nav">
    <% if user_signed_in? %>
      <div class="pull-right home-header-userProfile hidden-xs hidden-sm">
        <%=render partial: 'layouts/shared/user_profile' %>
      </div>
    <%end%>
    <ul class="homeNavUl">
      <%= render partial: 'layouts/home/home_left_nav_items' %>
    </ul>
  </div>
</div>

<% if user_signed_in? %>
  <div class="mobView visible-xs visible-sm">
    <%=render partial: 'layouts/shared/user_profile' %>
  </div>
<%end%>