<div class="home-header">
  <div class="home-logo osLight"><%=image_tag 'logo1.png', alt: 'logo', width: '200' %></div>
  <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
  <div class="home-nav">
    <ul>
      <% unless user_signed_in? %>
        <li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#signin">Sign In</a></li>
      <%end%>
      <% if user_signed_in? %>
        <li class="no-hover-underline" style="padding-top: 3px;">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.avatar, class: "avatar homeHeaderAvatar pull-left", alt: 'Avatar'%>
            <div class="userTop pull-left" style="margin: 8px 0 0 7px;">
              <span class="headerUserName"><%= current_user.present? ? current_user.user_name.capitalize : '' %> </span> <span class="fa fa-angle-down"></span>
            </div>
            <div class="clearfix"></div>
          </a>
          <div class="dropdown-menu pull-right userMenu homeUserMenu" style="background-color: #2c2d2e; border: 0px solid #2c2d2e;" role="menu">
            <ul>
              <li class="no-hover-underline"><a href="<%= edit_user_path(current_user) %>"><span class="icon-settings"></span>Settings</a></li>
              <li class="no-hover-underline"><a href="<%= user_path(current_user) %>"><span class="icon-user"></span>Profile</a></li>
              <li class="divider"></li>
              <li class="no-hover-underline"><%= link_to '<span class="icon-power"></span>Logout'.html_safe, destroy_user_session_path, :method => :delete %> </li>
            </ul>
          </div>
        </li>
      <%end%>
      <li class="no-hover-underline"><%=link_to '<span class="fa fa-plus"></span>'.html_safe, contribute_buildings_path, class: 'btn btn-blue' %></li>
    </ul>
  </div>
</div>