<div class="row">
  <%= form_tag "/search", method: :get, id: "apt-search-form", class: 'apt-search', role: 'form' do %>
    <div class="col-lg-6 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2">
      <div class="form-group">
        <%= text_field_tag 'apt-search-txt', params['apt-search-txt'], class: "form-control", placeholder: 'Search by Neighborhood, ZipCode, Address, Building' %>
        <%= hidden_field_tag 'term', nil %>
        <%= hidden_field_tag 'neighborhoods', nil %>
        <div class="results" id="apt-search-results"></div>
      </div>
    </div>

    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 center-xs">
      <div class="form-group">
        <%= submit_tag 'Search', class: 'btn btn-blue disabled', id: 'home-search-btn' %>
      </div>
    </div>
  <%end%>
</div>