// function bindMarker(marker, markers, handler, lat, lng, zoom){
//   $(window).on('load', function(){
//     marker.serviceObject.setIcon("http://maps.google.com/mapfiles/ms/icons/red-dot.png")
//     marker.setMap(handler.getMap());
//     marker.panTo();
//     google.maps.event.trigger(marker.getServiceObject(), 'load');
//     handler.bounds.extendWith(markers);
//     handler.fitMapToBounds();
//     handler.getMap().setZoom(zoom);
//     //handler.map.centerOn(markers[0]);
//   })
// };

// function createSidebar(json_array){
//   _.each(json_array, function(json){
//     append_html(json)
//   });
// };

// function append_html(json){
//   var elem = $( createSidebarElem(json) );
//   var id = json.marker_title.split(',')[0];
//   elem.appendTo('#building_details'+id);
//   bindMarketToElem(json, elem);
// }


//Binding markers

function createSidebarElem(json){
  var building_name = ''
  if(json.building_name == undefined || json.building_name == ''){
    building_name = json.building_street_address  
  }else{
    building_name = json.building_name
  }

  var address = json.building_street_address;
  var city = json.city;
  var state = json.state;
  var zipcode = json.zipcode;

  if(building_name == ' '){
    building_name = address
  }
  return ("<h2>" + building_name + "</h2>" +
            "<div class='cardAddress'><span class='icon-location-pin'></span>"+ address+','+' '+city+','+' '+state+' '+zipcode +"</div>"
          );
};

function bindElemToMarker(elem, marker, object){
  var price = (object.price == '' || object.price == null) ? 0 : object.price
  var card = elem.parent().parent().parent();
  card.on('mouseover', function(){
    marker.setIcon(markerIcon(price, 'green'));
  }).on('mouseout', function(){
    marker.setIcon(markerIcon(price, 'red'));
  });
};

function createSidebar(object, marker){
  var elem = $( createSidebarElem(object) );
  elem.appendTo('#building_details'+object.id);
  bindElemToMarker(elem, marker, object);
};

function markerIcon(price, type='red'){
  var path = '';
  //console.log(price)
  if(price == 0){
    if(type == 'red'){
      path = "<%=asset_path('markers/red_pin_p0.png')%>";
    }else{
      path = "<%=asset_path('markers/green_pin_p0.png')%>";
    }
  }else if(price == 1){
    if(type == 'red'){
      path = "<%=asset_path('markers/red_pin_p1.png')%>";
    }else{
      path = "<%=asset_path('markers/green_pin_p1.png')%>";
    }
  }else if(price == 2){
    if(type == 'red'){
      path = "<%=asset_path('markers/red_pin_p2.png')%>";
    }else{
      path = "<%=asset_path('markers/green_pin_p2.png')%>";
    }
  }else if(price == 3){
    if(type == 'red'){
      path = "<%=asset_path('markers/red_pin_p3.png')%>";
    }else{
      path = "<%=asset_path('markers/green_pin_p3.png')%>";
    }
  }else if(price == 4){
    if(type == 'red'){
      path = "<%=asset_path('markers/red_pin_p4.png')%>";
    }else{
      path = "<%=asset_path('markers/green_pin_p4.png')%>";
    }
  }else{
    path = "<%=asset_path('markers/red_pin_p0.png')%>";
  }

  return path
}

// function setMcolor(price){
//   if(price == 2){
//     return '#fcae91'
//   }else if(price == 1){
//     return '#fee5d9'
//   }else if(price == 3){
//     return '#fb6a4a'
//   }else if(price == 4){
//     return '#de2d26'
//   }else{
//     return '#a50f15'
//   }
// }

// function setPrice(price){
//   if(price == 2){
//     return '$$'
//   }else if(price == 1){
//     return '$'
//   }else if(price == 3){
//     return '$$$'
//   }else if(price == 4){
//     return '$$$$'
//   }else{
//     ''
//   }
// }

// function pinSymbol(color) {
//   return {
//     path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
//     fillColor: color,
//     fillOpacity: 1,
//     strokeColor: '#000',
//     strokeWeight: 2,
//     scale: 1,
//   };
// }
