<div class="tables">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="media">
        <div class="media-left">
          <div class="media-body">
            <% if @building.present? %>
              <h1 class="pageTitle"><%= "#{@building.building_name} #" if @building.building_name.present? %>
              <%= link_to @unit.name, unit_path(@unit) %> </h1>
              <div class="text-muted address">
                <%= link_to building_path(@building) do %>
                  <%= building_street_address @building %> <br />
                  <%= @building.neighborhood %>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <%= form_for @unit do |f| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <div class="col-sm-6">
            <h3>Unit Information</h3>
            <%= hidden_field_tag 'amenities', 'amenities' %>
            <div class="checkbox custom-checkbox"><label><%= f.check_box :balcony %> <span class="fa fa-check"></span> Balcony</label></div>
            <%= hidden_field_tag 'contribution', params[:contribution_for] %>
            <div class="checkbox custom-checkbox"><label><%= f.check_box :board_approval_required %> <span class="fa fa-check"></span> Board Approval Required</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :converted_unit %> <span class="fa fa-check"></span> Converted unit </label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :courtyard %> <span class="fa fa-check"></span> Courtyard</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :dishwasher %> <span class="fa fa-check"></span> Dishwasher</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :fireplace %> <span class="fa fa-check"></span> Fireplace</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :furnished %> <span class="fa fa-check"></span> Furnished</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :guarantors_accepted %> <span class="fa fa-check"></span> Guarantors Accepted</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :loft %> <span class="fa fa-check"></span> Loft</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :management_company_run %> <span class="fa fa-check"></span> Management Company Run</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :rent_controlled %> <span class="fa fa-check"></span> Rent Controlled</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :private_landlord %> <span class="fa fa-check"></span> Private Landlord</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :storage_available %> <span class="fa fa-check"></span> Storage Available</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :sublet %> <span class="fa fa-check"></span> Sublet</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :terrace %> <span class="fa fa-check"></span> Terrace</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :can_be_converted %> <span class="fa fa-check"></span> Unit Can Be Converted</label></div>

            <div class="checkbox custom-checkbox"><label><%= f.check_box :dryer_in_unit %> <span class="fa fa-check"></span> Washer/Dryer In-Unit</label></div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to 'Cancel', unit_path(@unit), class: 'btn btn-default'%>
              <%= f.submit 'Submit', class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>    
    <% end %>
  </div>
</div>