<div class="tables">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="media">
        <div class="media-left">
          <div class="media-body">
            <% if @unit.building.present? %>
              <h1 class="pageTitle"><%= "#{@unit.building.building_name} #" if @unit.building.building_name.present? %>
              <%= link_to @unit.name, unit_path(@unit), 'data-no-turbolink' => false %> </h1>
              <div class="text-muted address">
                <%= link_to building_path(@unit.building) do %>
                  <%= building_street_address @unit.building %> <br />
                  <%= @unit.building.neighborhood %>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <%= form_for @unit do |f| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <div class="col-sm-6">
            <h3>Unit Information</h3>
            <%= hidden_field_tag 'amenities', 'amenities' %>
            <%= hidden_field_tag 'contribution', params[:contribution_for] %>
            <% unit_amenities.each do |key, value| %>
              <div class="checkbox custom-checkbox"><label><%= f.check_box key %> <span class="fa fa-check"></span> <%=value%></label></div>
            <%end%>
          </div>
        </div>
        <br />
        <div class="form-group">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to 'Cancel', unit_path(@unit), class: 'btn btn-default'%>
              <%= f.submit 'Submit', class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>    
    <% end %>
  </div>
</div>