<p> <%= @unit.balcony ? 'Balcony' : '' %></p>
<p> <%= @unit.board_approval_required ? 'Board Approval Required' : '' %></p>
<p> <%= @unit.converted_unit ? 'Converted Unit' : '' %></p>
<p> <%= @unit.courtyard ? 'Courtyard' : '' %></p>
<p> <%= @unit.dishwasher ? 'Dishwasher' : '' %></p>
<p> <%= @unit.fireplace ? 'Fireplace' : '' %></p>
<p> <%= @unit.furnished ? 'Furnished' : '' %></p>
<p> <%= @unit.guarantors_accepted ? 'Gurantors Accepted' : '' %></p>
<p> <%= @unit.loft ? 'Loft' : '' %></p>
<p> <%= @unit.management_company_run ? 'Management Company Run' : '' %></p>
<p> <%= @unit.rent_controlled ? 'Rent Controlled' : '' %></p>
<p> <%= @unit.private_landlord ? 'Private Landlord' : '' %></p>
<p> <%= @unit.storage_available ? 'Storage Available' : '' %></p>
<p> <%= @unit.sublet ? 'Sublet' : '' %></p>
<p> <%= @unit.terrace ? 'Terrace' : '' %></p>
<p> <%= @unit.can_be_converted ? 'Can be converted' : '' %></p>
<p> <%= @unit.dryer_in_unit ? 'Dryer in unit' : '' %></p>