<% unit.reviews.each do |review| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <% if review.user.avatar.present? %>
          <%= image_tag review.user.avatar %>
        <% elsif review.user.image_url.present? %>
          <%= image_tag review.user.image_url %>
        <%else%>
          <span class="fa fa-user fa-2x"></span>
        <%end%>
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading"><%= review.user.name %></h4>
      <p class="text-muted"><%= review.created_at.strftime("%b %d, %Y") %> by <%= review.user.name %></p>
      <p> <%= simple_format(review.review_title) %></p>
    </div>
    <div>
      <b>Pros:</b><span> <%= review.pros %></span> <br />
      <b>Cons:</b><span> <%= review.cons %></span> <br />
      <b>Other TranspaRENTcy and Advice to Share:</b><span> <%= review.other_advice %></span>
    </div>
    <span class="pull-left margin-top-10"><%= rating_for_user unit, review.user, "unit", star: 5 %></span> - Doesn't recommended - Current Tenant(2 years)
  </div>
  <hr />
<% end %>
