<div class="summary">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="summaryItem">
          <h1 class="pageTitle">
            <%= "#{@unit.name}" %>
            <% if user_signed_in? %>
                <%= link_to 'Edit', edit_unit_path(@unit), class: 'btn btn-o btn-default btn-xs float-end' %>
            <%end%>
          </h1>
          <div class="property_information">
            <div class="address"><%=map_marker_icon_helper%></span> 
              <%= link_to building_path(@unit.building), 'data-no-turbolink' => false do %>  
                <%= @unit.building.street_address %>, <%= @unit.building.zipcode %> <br />  
              <%end%>
            </div>
            <div class="address"><span class="fa fa-building"></span> 
              <%= link_to @unit.building.building_name_or_address, building_path(@unit.building), 'data-no-turbolink' => false %></div>
            
            <div style="margin-left: -3px;">
              <ul class="rating star-sm">
                <%= rating_for @unit, 'unit', disable_after_rate: true, readonly: true %>
              </ul>

              <% if @unit.votes.present? %>
                <div class="favLink">
                  <!-- reviews_count + votes -->
                  <%= recommended_percent(@unit).html_safe %>
                </div>
              <%end%>
            </div>
          </div>
          
          <div class="clearfix"></div>
          
          <div class="property_information">
            <span><%= @unit.number_of_bedrooms %> Bedrooms</span> -
            <span><%= @unit.number_of_bathrooms %> Bathrooms</span> -
            <span><%= @unit.square_feet.to_i %> Ft<sup>2</sup></span>
          </div>
          
          <div class="clearfix"></div>

          <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>