<%= form_tag '/buildings', method: :post, id: 'new_unit_building', class: 'hide' do %>
  <%= hidden_field_tag 'selection_type' %>
	<div id="new_unit_fields">
		<div class="col-sm-12">
			<label class='new_unit_lbl'><b>New unit</b></label><br/>
      <%= hidden_field_tag 'building[building_name]', nil, class: "form-control", placeholder: 'Building name'%>
      <%= hidden_field_tag 'unit_id', nil %>
      <%= hidden_field_tag 'building[building_street_address]', @building.present? ? @building.building_street_address : nil, class: "form-control" %>
      <%= hidden_field_tag 'building[zipcode]', @building.present? ? @building.zipcode : nil, class: "form-control" %>
		</div>

    <div class="col-sm-6 hide">
      <div class="form-group">
        <label>Unit name*</label>
        <%= text_field_tag 'unit_name', nil, name: 'building[units_attributes][0][name]', class: 'form-control validate' %>
        <!-- <p class="help-block">This field is required</p> -->
        <%= hidden_field_tag :unit_contribution, params[:contribution_for].present? ? params[:contribution_for] : 'unit_contribution' %>
        <%= hidden_field_tag :page, page %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Square feet* </label>
        <div class="input-group">
          <%= text_field_tag 'unit_square_feet', nil, name: 'building[units_attributes][0][square_feet]', class: 'form-control validate' %>
          <span class="input-group-addon" data-bs-toggle="tooltip" data-placement="left" aria-hidden="true" title="Provide best estimate if unsure
          studio range: 350-600, 
          1 bdrm range: 500-800,
          2 bdrm range: 800-1200">
            <i class="fa fa-question-circle" ></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Bedrooms* </label>
        <div class="input-group">
          <%= text_field_tag 'unit_number_of_bedrooms',nil, name: "building[units_attributes][0][number_of_bedrooms]", class: "form-control validate" %>
          <span class="input-group-addon" data-bs-toggle="tooltip" data-placement="left" aria-hidden="true" title="Use 0 for a studio.">
            <i class="fa fa-question-circle" ></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Bathrooms* </label>
        <%= text_field_tag 'unit_number_of_bathrooms',nil, name: "building[units_attributes][0][number_of_bathrooms]", class: "form-control validate" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
      	<%# if user_signed_in? %>
          <%= submit_tag 'Next', class: 'btn btn-primary' %>
        <%#else%>
          <%#= link_to 'Next','#signin', 'data-bs-toggle' => 'modal', class: 'btn btn-primary'%>
        <%#end%>
      </div>
    </div>
  </div>
<%end%>