%tr
  %td= link_to unit.name, unit_path(unit), 'data-no-turbolink' => false
  %td= link_to unit.building.building_name_or_address, building_path(unit.building) if unit.building.present?
  %td= link_to building_street_address(unit.building), building_path(unit.building) if unit.building.present?
  %td.text-center
    = link_to '<span class="fa fa-info-circle fa-2x" />'.html_safe, rental_price_histories_path(unit_id: unit.id)
  %td= link_to "Reviews(#{unit.reviews.count})", unit_reviews_path(unit_id: unit.id)
  - if current_user
    %td= link_to "edit", edit_unit_path(unit)
    - if current_user.has_role?(:admin)
      %td= link_to "delete", unit_path(unit), method: :delete, data: { confirm: "Are you sure you want to delete this building?"}, class: 'text-danger'