<div class="row">  
  <div class="col-lg-6 col-md-6">
    <div class="address-area">
      <h1>
        <%= @unit.name %> - <%= @unit.building.building_street_address %>
      </h1>

      <ul class="total-reviews list-inline">
        <li><%= rating_for @unit, "unit"%></li> |
        <li>20% recommended</li> |
        <li><%= link_to "#{@unit.reviews.count} reviews", "#" %> </li>
        <% if current_user %>
          | <li><%= link_to "Edit", edit_unit_path(@unit)%></li>
        <%end%>
      </ul>
      
      <div class="address">
        <%= link_to building_path(@unit.building) do %>
          <b>
            <%= @unit.building.building_street_address %> <br />
            <%= @unit.building.city %>, <%= @unit.building.state %>, <%= @unit.building.zipcode %> <br />
            <%= @unit.building.building_name %>
          </b>
        <%end%>
      </div>
      <br />
      <ul class="list-inline">
        <li><%= @unit.number_of_bedrooms %> Bedrooms</li> |
        <li><%= @unit.number_of_bathrooms %> Bathrooms </li> |
        <li><%= @unit.square_feet.to_i %> ft<sup>2</sup></li>
      </ul>

      <div style='width: 550px;'>
        <div id="map" style='width: 550px; height: 250px;'></div>
      </div>
     
    </div>
    <div id="unit-info">
      <%= render partial: 'units/amenities' %>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div style="padding:1px 0;margin-top:71px;">
      <%= link_to "<i class='fa fa-star'></i> Write a review".html_safe, new_unit_review_path(unit_id: @unit), class: "btn btn-warning" %>
      <div class="btn-group" role="group">
        <%= link_to '<span class="fa fa-camera"><span> Add photo'.html_safe, new_unit_upload_path(unit_id: @unit), class: "btn btn-info"  %>
        <%= render partial: "buildings/image_slider", locals: { object: @unit } %>
        <div class="pull-right">
          <% if @unit.uploads.count > 0 %>
            <span class="fa fa-th-large"></span> <%= link_to "See all(#{@unit.uploads.count})", unit_uploads_path(unit_id: @unit.id) %>
          <%end%>
        </div>
    <br />
    <br />
    <br />
    <div class="well pre-scrollable">
      <%= render partial: 'individual_unit_reviews', locals: { unit: @unit } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pull-right">
      <%= link_to 'New rental price', new_rental_price_history_path(unit_id: @unit), class: 'btn btn-info btn-sm' %>
    </div>
    <%= render partial: 'rental_price_histories/price_history' %>
  </div>
</div>
<br />

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>