<div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
<div id="content" class="mob-max">
  <div class="singleTop">
    <%= render partial: 'unit_summary' %>
    <% if @unit_uploads.present? %>
      <!-- for small and xtra small devices -->
      <%= render partial: 'uploads/image_slider_mobile', locals: { uploads: @unit_uploads, path: unit_uploads_path(unit_id: @unit.id), new_upload_path: new_unit_upload_path(unit_id: @unit) } %>
      <!-- for Lasrge devices -->
      <%= render partial: 'uploads/show_page_slider', locals: { object: @unit, path: new_unit_upload_path(unit_id: @unit) } %>
    <%end%>
    <%= render partial: 'unit_amenities' %>
    <%= render partial: 'buildings/building_amenities', locals: { building: @unit.building } %>
  </div>
  <div class="clearfix"></div>
  <!-- <div class="description">
      <h3>Description</h3>
      <p><%#= @unit.description ? simple_format(@unit.description) : 'No description available' %></p>
  </div> -->
  <!-- <div class="share">
      <h3>Share on Social Networks</h3>
      <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
              <a href="#" class="btn btn-sm btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
              <a href="#" class="btn btn-sm btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span> Twitter</a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
              <a href="#" class="btn btn-sm btn-round btn-o btn-google"><span class="fa fa-google-plus"></span> Google+</a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 shareItem">
              <a href="#" class="btn btn-sm btn-round btn-o btn-pinterest"><span class="fa fa-pinterest"></span> Pinterest</a>
          </div>
      </div>
  </div> -->
  
  <%#= render partial: 'similiar_units' %>
  
  <div class="tabsContainer" style="margin-top: 8px;">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#ur" role="tab" data-toggle="tab"><span class="icon-hash">#</span> Unit Reviews</a></li>
        <li class=""><a href="#br" role="tab" data-toggle="tab"><span class="icon-home"></span> Building Reviews</a></li>
        <li><a href="#ph" role="tab" data-toggle="tab"><span class="fa fa-money"></span> Unit Rent Details</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="ur">
          <%= link_to "<i class='fa fa-star'></i> Write a review".html_safe, new_unit_review_path(unit_id: @unit), class: "btn btn-o btn-yellow contactBtn reviewBtnMobile pull-right", "data-no-turbolink" => false %>
          <div class="comments">
            <% @unit.reviews.order('created_at desc').each do |review| %>
              <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: @unit } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="br">
          <div class="comments">
            <% @unit.building.reviews.order('created_at desc').each do |review| %>
              <%= render partial: 'reviews/reviews', locals: { review: review, reviewable: @unit.building } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="ph" style="padding: 2px;">
          <% if @unit.rental_price_histories.present? %>
            <%= link_to 'New rental price', new_rental_price_history_path(unit_id: @unit), class: 'btn btn-info btn-xs pull-right', style: 'margin-bottom: 4px;', 'data-no-turbolink' => false %>
            <%= render partial: 'rental_price_histories/price_history', locals: { unit: @unit } %>
          <%end%>
        </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8">
  handler = Gmaps.build('Google');
  marker_hash = <%=raw @hash.to_json %>;
  
  handler.buildMap({ provider: {}, internal: {id: 'mapView'}}, function(){
      markers = handler.addMarkers(marker_hash);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
  });
  
</script>