<div id="street_view_btn" class="hidden-xs">
  <input type="button" id="toggleStreetView" value="Street View" class="btn btn-info"></input>
</div>
<div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
<div id="pano"></div>
<div id="content" class="mob-max">
  <div class="singleTop">
    <%= render partial: 'unit_summary' %>
    <% if @unit_uploads.present? %>
      <!-- for small and xtra small devices -->
      <%=render partial: 'uploads/mobile_touch_slider', locals: { object: @unit }%>
      <%#= render partial: 'uploads/image_slider_mobile', locals: { uploads: @unit_uploads, path: unit_uploads_path(unit_id: @unit.id), new_upload_path: new_unit_upload_path(unit_id: @unit) } %>
      <!-- for Lasrge devices -->
      <%= render partial: 'uploads/show_page_slider', locals: { object: @unit, path: new_unit_upload_path(unit_id: @unit) } %>
    <%else%>
      <div class="sliderLink visible-xs visible-sm">
        <span class="text-danger">No photos available</span>
      </div>
    <%end%>
   
  </div>
   <%= render partial: 'unit_amenities' %>
    <%= render partial: 'buildings/building_amenities', locals: { building: @unit.building } %>
  <div class="clearfix"></div>
  
  <div class="tabsContainer" style="margin-top: 8px;" id="reviewsContainer">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#ur" role="tab" data-toggle="tab"><%='Unit Reviews'.upcase %> (<%= @unit.reviews.count %>)</a></li>
        <li class=""><a href="#br" role="tab" data-toggle="tab"><%='Building Reviews'.upcase %> (<%= @unit.building.reviews_count %>)</a></li>
        <li><a href="#ph" role="tab" data-toggle="tab"><%='Rent Information'.upcase %> (<%= @unit.rental_price_histories.count %>)</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="ur">
          <div class="comments">
            <% if @unit.reviews.present? %>
              <%@reviews = @unit.reviews %>
              <%= render partial: @reviews %>
            <%else%>
              <p>There are no reviews for this property. Be the first to add a review on this property.</p>
              <%= link_to 'Write a Review', new_unit_review_path(unit_id: @unit, contribution: 'unit_review'), "data-no-turbolink" => false, class: 'btn btn-warning' %>
            <%end%>
          </div>
        </div>
        <div class="tab-pane fade" id="br">
          <div class="comments">
            <% if @unit.building.reviews.present? %>
              <%@reviews = @unit.building.reviews %>
              <%= render partial: @reviews %>
            <%else%>
              <p>There are no reviews for this property. Be the first to add a review on this property.</p>
              <%= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), "data-no-turbolink" => false, class: 'btn btn-warning' %>
            <%end%>
          </div>
        </div>
        <div class="tab-pane fade" id="ph" style="padding: 2px;">
          <% if @unit.rental_price_histories.present? %>
            <%#= link_to 'New rental price', new_rental_price_history_path(unit_id: @unit), class: 'btn btn-info btn-xs pull-right', style: 'margin-bottom: 4px;', 'data-no-turbolink' => false %>
            <%= render partial: 'rental_price_histories/price_history' %>
          <%end%>
        </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div data-map="<%= @gmaphash.to_json %>" data-lat="<%= @lat.to_json %>" data-lng="<%= @lng.to_json %>" id="mapHash"></div>

<% if session[:after_contribute].present? %>
  <%= render partial: 'contribute_more_popup' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#contribute_more").modal('show');
    })
  </script>
  <% session[:after_contribute] = nil %>
<%end%>