- if show_summary
	.singleTop{ style: 'position: relative;' }
		= render 'buildings/show/summary'

#listings.show-section
	%div.divider
	%br
	- if @active_listings.present?
		%h3= "#{@active_listings.count} Active Rental Listings"
		= render 'buildings/show/listings', listings: @active_listings, type: 'current'
	.clearfix
	- if @inactive_listings.present?
		%h3= "#{@all_inactive_listings.count} Past Rental Listings"
		= render 'buildings/show/listings', listings: @inactive_listings, type: 'past'

.clearfix
= render 'building_amenities'

.clearfix
- if @building_tours.present?
	.amenities.show-section#video-tours
		%h3 3D / Video Tour
		- @vd_height = '190'
		- cache [@building_tours.length, '3DTours'] do
			= render 'video_tours/show', cat_color: '333'

.clearfix
- if @building.price.present? or @building.bedroom_types?
	= render 'buildings/show/price_ranges'
	= render 'buildings/show/broker_fee_savings'

- if @documents.present?
	#building-documents.documents.show-section
		%h3
			Documents (#{@documents.count})
		= render 'uploads/documents'

.clearfix
- if @distance_results.present?
	#subways.show-section
		%h3 Subway
		= render 'buildings/show/subways'

.clearfix
- if @similar_properties.present?
	#similiar-buildings.show-section
		%h3= "Similar Buildings (#{@similar_properties.count})"
		= render 'buildings/show/similar_properties', step: 2, col: 6

.clearfix
- if @building.rating_cache?
	.aggregate-ratings.show-section
		%h3 Aggregate Ratings
		%ul.star-sm
			%li.hidden
				%h3
			%li
				Cleanliness - Pests/Smell/Trash #{rating_for @building, 'cleanliness', disable_after_rate: true, readonly: true}
			%li
				Is it Noisy? #{rating_for @building, 'noise', disable_after_rate: true, readonly: true}
			%li
				Do you feel safe in your building? #{rating_for @building, 'safe', disable_after_rate: true, readonly: true}
			%li
				Utilities - AC/Electric/Heat/Water #{rating_for @building, 'health', disable_after_rate: true, readonly: true}
			%li
				Super Responsiveness #{rating_for @building, 'responsiveness', disable_after_rate: true, readonly: true}
			%li
				Dealings with Management #{rating_for @building, 'management', disable_after_rate: true, readonly: true}
.clearfix
.comments.font-14.show-section
	%h3= "Building Reviews (#{ @reviews_count })"
	- if @reviews_count > 0
		.text-right{style: 'text-align: right; padding-bottom: 15px;'}
			= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), 'data-no-turbolink' => false, class: 'btn btn-warning btn-round'
    
		= render :partial => 'reviews/review', :collection => @reviews, :as => :review
	- else
		%p.no-review.font-14 There are no reviews for this building. Be the first to add your review for this building.
		= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), 'data-no-turbolink' => false, class: 'btn btn-warning no-review btn-round'