.section-container
	- if show_summary
		%div{ style: 'position: relative;margin-bottom: 20px;' }= render 'buildings/show/summary'
	
	- if @active_listings_count > 0 || @past_listings_count > 0
		#listings.show-section
			- if @active_listings_count > 0
				%h3= "#{@active_listings_count} Active Rental Listings"
				= render 'buildings/show/listings', listings: @active_listings, type: 'current'
			.clearfix
			
			- if @past_listings_count > 0
				%h3= "#{@past_listings_count} Past Rental Listings"
				= hidden_field_tag 'past_listings_count', @past_listings_count
				= render 'buildings/show/listings', listings: @last5_past_listings, type: 'past'

	.clearfix
	= render 'building_amenities'

	.clearfix
	- if @building_tours_count > 0
		.amenities.show-section#video-tours
			%h3="3D / Video Tour (#{@building_tours_count})"
			= launch_tour_link(@building)

	- unless screen_class == 'screen-lg'
		.show-section.show-map-handler{style: 'height: 200px; width: 100%; margin-bottom: 20px;margin-top: 20px;'}
			%br
			#mob-map{style: 'height: 100%; width: 100%;'}
				.mapPlaceholder
					%span.fa.fa-spin.fa-spinner 
					Loading map...
		
	.clearfix
		%br
		#price_ranges
			= render 'buildings/show/price_ranges' 
		#broker_fee_savings
			= render 'buildings/show/broker_fee_savings'

	#building-documents
		= render 'uploads/documents'

	.clearfix
	
	#subways.show-section
		= render 'buildings/show/subways'

	.clearfix
	- if @similar_properties_count > 0
		#similiar-buildings.show-section
			%h3= "Similar Buildings (#{@similar_properties_count})"
			= render 'buildings/show/similar_properties', step: 2, col: 6

	.clearfix
	- if @building.rating_cache?
		.aggregate-ratings.show-section
			%h3 Aggregate Ratings
			%ul.star-sm#ratings
				= render 'buildings/show/rating_list'
				
	.clearfix
	.comments.font-14.show-section
		%h3= "Building Reviews (#{ @reviews_count })"
		- if @reviews_count > 0
			.text-right{style: 'text-align: right; padding-bottom: 15px;'}
				= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), 'data-no-turbolink' => false, class: 'btn btn-warning btn-round'
			#building-reviews
				= render partial: 'reviews/review', :collection => @reviews, :as => :review, cache: false
		- else
			%p.no-review.font-14 There are no reviews for this building. Be the first to add your review for this building.
			= link_to 'Write a Review', new_building_review_path(building_id: @building, contribution: 'building_review'), 'data-no-turbolink' => false, class: 'btn btn-warning no-review btn-round'

	.clearfix
	= render 'layouts/shared/nearby_neighborhoods', nearby_nbs: @nearby_nbs
	