- if @uploaded_images_count > 0
  .item
    .clearfix{ style: 'width:100%;' }
      %h4.lightslider-slides-counts.round
        %span.current 1
        %span.total="/ #{images_count = @uploaded_images_count}"

      %ul.gallery.list-unstyled{style: 'height: 265px;', data: slider_data_attribute(property) }
        - thumb_hidden_class = @property.present? ? '' : 'd-none'
        - @uploads.each do |upload|
          - img_url = upload.image.url(:original)
          %li{ data: { thumb: upload.slider_thumb_image(:medium), alttext: "#{property.name} #{property.street_address}" } }
            %a{ href: img_url, 'data-role' => 'slider', 'data-caption' => date_uploaded(upload), style: 'display: block;height: 450px;width: 100%;' } 
              = image_tag img_url, alt: 'Image', class: "img-thumbnail #{thumb_hidden_class}", width: '750', height: '460'
- else
  .item
    .clearfix{ style: 'width:100%;' }
      %ul.gallery.list-unstyled{style: 'height: 265px;', data: slider_data_attribute(property) }
        %li
          - img_url = image_url('no-photo.jpg')
          %a{ href: img_url, 'data-fancybox' => 'gallery' }
            .bg-size-cover.bg-pos-center{style: "background-image: url(#{img_url})"}
                   