- if @uploaded_images_count > 0
  .item
    .clearfix{ style: 'width:100%;' }
      %h4.lightslider-slides-counts
        %span.current 1
        %span.total="/ #{images_count = @uploaded_images_count}"

      %ul.gallery.list-unstyled{style: 'height: 265px;', data: { buildingid: "#{building.id}", view_type: 'show', path:  building_path(building) } }
        - @uploads.each do |upload|
          %li{ data: { thumb: img_url = upload.image.url(:original) } }
            %a{ href: img_url, 'data-role' => 'slider', 'data-caption' => date_uploaded(upload), 'data-fancybox' => 'gallery' }
              .bg-size-cover{ style: "background-image: url(#{img_url});", data: { imageid: "#{upload.id}" } }
              = image_tag img_url, alt: 'Image', class: 'img-thumbnail hidden'


- else
  .bg-size-cover{style: "background-image: url(#{image_url('no-photo.png') })"}
                   