%li.d-none
	%h3
%li
	Cleanliness - Pests/Smell/Trash #{rating_for @building, 'cleanliness', disable_after_rate: true, readonly: true}
%li
	Is it Noisy? #{rating_for @building, 'noise', disable_after_rate: true, readonly: true}
%li
	Do you feel safe in your building? #{rating_for @building, 'safe', disable_after_rate: true, readonly: true}
%li
	Utilities - AC/Electric/Heat/Water #{rating_for @building, 'health', disable_after_rate: true, readonly: true}
%li
	Super Responsiveness #{rating_for @building, 'responsiveness', disable_after_rate: true, readonly: true}
%li
	Dealings with Management #{rating_for @building, 'management', disable_after_rate: true, readonly: true}