.similar{style: "#{@featured_buildings.present? ? 'padding: 0px;' : ''}"}
  / carousel for medium & large devices
  - unless browser.device.mobile?
    - unless home_page?
      #carouselSimilar-1.carousel.slide.carousel-col
        .carousel-inner
          - item_ids = []
          - (1..@similar_properties.count).step(step).each_with_index do |val, index|
            %div{class: "item #{index == 0 ? 'active' : ''}"}
              .row
                - @similar_properties.where.not(id: item_ids).limit(step).each do |building|
                  - @last_uploads = building.image_uploads.first
                  %div{class: "col-lg-#{col} col-md-4"}= render 'buildings/detail_card', building: building
                  - item_ids << building.id
        
        - if @similar_properties.count > step
          %a.left.carousel-control{'data-slide' => 'prev', href: '#carouselSimilar-1', role: 'button'}
            %span.fa.fa-chevron-left
          %a.right.carousel-control{'data-slide' => 'next', href: '#carouselSimilar-1', role: 'button'}
            %span.fa.fa-chevron-right
    - else
      #carouselSimilar-1.carousel.slide.carousel-col
        .carousel-inner
          .row
            - @border_class = 'bordered'
            - @featured_buildings.each do |building|
              .col-lg-3.col-md-4= render 'buildings/detail_card', building: building
  - else
    .center.slider
      - @border_class = 'bordered'
      - properties = @similar_properties || @featured_buildings
      - properties.each do |building|
        %div= render 'buildings/detail_card', building: building

:css
  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .6;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .modal-full.past-listing-modal{
    padding-bottom: 10px;
  }
