- @distance_results.values.map do |st|
	.row
		- distance = st[:distance].to_f
		- dt = st[:results][0]
		- if distance.present?
			.col-lg-6
				.transport-lines.pull-left
					- if st[:lines].present?
						- st[:lines].map do |line|
							.st-transport-line.circled{style: "background-color: #{line['color']}"}=line['line']

			.col-lg-6
				.distance-and-time
					%b= st[:dest_station]
					%p.text-muted
						= "#{dt['duration']['text'].singularize} walk," if st[:results].present?
						= "#{distance.round(2)} miles"