%h3 Subway
- @distance_results.values.map do |st|
	.row
		- distance = st[:distance].to_f
		- if distance.present?
			.col-lg-6
				.transport-lines.float-start
					- if st[:lines].present?
						- st[:lines].map do |line|
							.st-transport-line.circled{style: "background-color: #{line['color']}"}=line['line']

			.col-lg-6
				.distance-and-time
					%b= st[:dest_station]
					%p.text-muted
						= "#{st[:duration].singularize} walk," if st[:duration].present?
						= "#{distance.round(2)} miles"