- @distance_results.flatten.each do |result|
	- result['steps'].map do |st|
		- if st['travel_mode'] == 'TRANSIT' || st['travel_mode'] == 'WALKING' 
			.row
				.col-lg-6
					.pull-left
						- if st['transit_details'].present?
							- if st['transit_details']['line']['icon'].present?
								=image_tag "http:#{st['transit_details']['line']['icon']}", size: '22x22'
							- elsif st['transit_details']['line']['vehicle']['icon'].present?
								=image_tag "http:#{st['transit_details']['line']['vehicle']['icon']}", size: '22x22'

				.col-lg-6
					.text-left
						/ result['end_address'] => "Grand Central Terminal, 89 E 42nd St, New York, NY 10017, USA"
						%b= result['end_address'].split(',')[0]
						%p.font-sm.text-muted
							= "#{st['duration']['text']} walk, #{st['distance']['text']} away"