- end_adress_arr = []
- @distance_results.flatten.each do |result|
	- result['steps'].map do |st|
		- if st['travel_mode'] == 'TRANSIT' || st['travel_mode'] == 'WALKING' 
			.row
				- if st['transit_details'].present?
					.col-lg-6
						.pull-left
							- if st['transit_details']['line']['icon'].present?
								=image_tag "http:#{st['transit_details']['line']['icon']}", size: '22x22'
							- elsif st['transit_details']['line']['vehicle']['icon'].present?
								=image_tag "http:#{st['transit_details']['line']['vehicle']['icon']}", size: '22x22'

					.col-lg-6
						.text-left
							/ result['end_address'] => "Grand Central Terminal, 89 E 42nd St, New York, NY 10017, USA"
							- end_adress_arr << result['end_address'].split(',')[0]
							%b= result['end_address'].split(',')[0]
							%p.font-sm.text-muted
								= "#{st['duration']['text']} walk, #{st['distance']['text']} away"

- @distance_results.flatten.each do |result|
	- result['steps'].map do |st|
		- if st['travel_mode'] == 'TRANSIT' || st['travel_mode'] == 'WALKING' 
			.row
				- if !end_adress_arr.include?(result['end_address'].split(',')[0])
					.col-lg-6
						.pull-left

					.col-lg-6
						.text-left
							%b= result['end_address'].split(',')[0]
							%p.font-sm.text-muted
								= "#{st['duration']['text']} walk, #{st['distance']['text']} away"