.summary
	.row
		.col-lg-12
			.add--assets{class: current_user&.admin? ? 'admin' : ''}= render 'uploads/add_photos', object: @building
	
	.row
		.col-11.col-md-8.col-lg-9
			%p.pageTitle{style: 'width: 100%;'}= @building.building_name_or_address
			= render 'property_info', object: @building 
		
		.col-1.col-md-4.col-lg-3
			- if current_user&.admin?
				= link_to 'Edit', edit_building_path(@building), class: 'btn btn-o btn-default btn-xs float-end btn-round', style: 'padding: 7px 16px;'
				= link_to 'Disconnect', disconnect_building_building_path(@building), class: 'float-end btn btn-danger btn-o btn-xs btn-round', data: {confirm: 'Are you sure you want to discconect this building?'}, remote: true if @manage_buildings.present?

			= render 'buildings/favourite', building: @building
	
	.row
		.col-12.col-lg-12= render 'buildings/show/contact_buttons'
  
	- unless @uploaded_images_count > 0
		.sliderLink
			%p.text-danger No photos are available.
			- if false && @video_tours.present?
				%a.btn.btn-o.btn-info.btn-sm.btn-round{href: '#video-tours'}
					%span.fa.fa-cube
					3D/Video Tour
				
			- if current_user&.admin?
				= add_tour_link(@building)
				= add_photos_link(@building, klass: 'btn-round')