.building-detail-card.ps-2.clickable{'data-href' => @show_path, id: "building_details#{building.id}"}
	%h2.mb-1= building.building_name_or_address
	.cardAddress.mb-1
		= map_marker_icon_helper
		= building.full_street_address

= render 'buildings/favourite', building: building

.clickable.ps-2{'data-href' => @show_path, 'area-label' => building.property_name_or_address }
	.text-nowrap.font-14= render 'home/building_detail', building: building
	.font-14= set_bed_ranges(building, @filter_params)

.cta_buttons.mt-2{id: "cta-links#{building.id}"}