- unless current_user
  .row
    .col-lg-3.col-5.col-md-5
    .col-lg-9.col-7.col-md-7
      .text-end= seel_all_link(@building, @uploaded_images_count, 'see-all')
- else
  .row
    - if current_user.admin?
      .col-lg-3.col-4= add_tour_link(@building, klass: 'd-block btn-round')
      .col-lg-3.col-4= add_photos_link(@building, klass: 'd-block')
      .col-lg-6.col-4
        .text-end= seel_all_link(@building, @uploaded_images_count)
    - else
      .col-lg-3.col-5.col-md-5
      .col-lg-9.col-7.col-md-7
        .text-end= seel_all_link(@building, @uploaded_images_count, 'see-all')