<div class="modal fade" id="updateDoc<%=upload.id%>" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-left">Edit</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for upload do |f| %>
          <div class="form-group">
            <%= image_tag upload.image, style: 'height: 100px; width: auto;' if upload.image.present? %>
          </div>
          <div class="form-group">
            <% if params[:upload_type] == 'image' %>
              <%= f.file_field :image %>
            <%else%>
              <%= f.file_field :document %>
              <%= f.text_field :document_file_name, value: upload.document_file_name, class: 'form-control' %>
            <%end%>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-blue "%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>