<div class="tables">
	<div class="row">
		<div class="col-lg-12">
			<div class="media">
		    <div class="media-left">
		      <div class="media-body">
		      	<% if @imageable.kind_of? Unit %>
		      		<h1 class="pageTitle">
		      			<%= "#{@imageable.building.building_name} #" if @imageable.building.building_name.present? %><%= link_to @imageable.name, unit_path(@imageable)%>
		      		</h1>
		      		<div class=" address text-muted">
		        		<%= link_to building_path(@imageable.building) do %>
		        			<!-- method on reviews helper -->
			        		<%= building_street_address @imageable %> <br />
			        		<%= @imageable.building.neighborhood %>
		        		<%end%>
		        	</div>
		      	<%else%>
		      		<h1 class="pageTitle"><%= link_to @imageable.building_name_or_address, building_path(@imageable) %></h1> 
		      		<div class="address text-muted">
		        		<%= link_to building_path(@imageable) do %>
		        			<!-- method on reviews helper -->
			        		<%= building_street_address @imageable %> <br />
			        		<%= @imageable.neighborhood %>
		        		<%end%> 
		        	</div>
		      	<%end%>
		      </div>
		    </div>
		  </div>
		</div>	
	</div>
	<h2></h2>
	<div class="row">
		<div class="col-lg-12">
			<%= form_for([@imageable, Upload.new], html: { multipart: true, class: "dropzone form-horizontal", id: "new_upload_#{params[:upload_type]}" }) do |f|  %>
			  <div class="fallback">
			  	<% unless params[:upload_type] == 'documents' %>
			    	<%= f.file_field :image %>
			    <%else%>
			    	<%= f.file_field :document %>
			    <%end%><br />
			    <% if current_user.present? %>
			    	<%= f.hidden_field :user_id, value: current_user.id %> <br />
			    <%end%>
			    <%= f.submit 'Upload' %>
			  </div>
			<% end %>
			<br />
			<div class="from-group">
				<div class="pull-right">
					<% if @imageable.kind_of? Unit %>
						<%= link_to 'Done', unit_path(@imageable, :from_uploaded => 'yes'), class: 'btn btn-primary btn-done', "data-no-turbolink" => false %>
					<%else%>
						<%= link_to 'Done', building_path(@imageable, :from_uploaded => 'yes'), class: 'btn btn-primary btn-done disabled', "data-no-turbolink" => false %>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>