<div class="tables">
	<div class="row">
		<div class="col-lg-12">
			<div class="media">
		    <div class="media-left">
		      <div class="media-body">
		      	<% if @imageable.kind_of? Unit %>
		      		<h3 class="media-heading"><%= link_to @imageable.name, unit_path(@imageable)%></h3>
		      		<!-- <br /> -->
		      		<small class="text-muted">
		        		<%= link_to building_path(@imageable.building) do %>
			        		<%= @imageable.building.building_street_address %> <br />
			        		<%= "#{@imageable.building.city}, #{@imageable.building.state} #{@imageable.building.zipcode}" %> 
		        		<%end%> <br />
		        		<b><%= link_to @imageable.building.building_name_or_address, building_path(@imageable.building) %></b>
		        	</small>
		      	<%else%>
		      		<h3 class="media-heading"><%= link_to @imageable.building_name_or_address, building_path(@imageable) %></h3> 
		      		<small class="text-muted">
		        		<%= link_to building_path(@imageable) do %>
			        		<%= @imageable.building_street_address %> <br />
			        		<%= "#{@imageable.city}, #{@imageable.state} #{@imageable.zipcode}" %> 
		        		<%end%> 
		        	</small>
		      	<%end%>
		      </div>
		    </div>
		  </div>
		</div>	
	</div>
	<h2></h2>
	<div class="row">
		<div class="col-lg-12">
			<%= form_for([@imageable, Upload.new], html: { multipart: true, class: "dropzone form-horizontal" }) do |f|  %>
			  <div class="fallback">
			    <%= f.file_field :image %> <br />
			    <% if current_user.present? %>
			    	<%= f.hidden_field :user_id, value: current_user.id %> <br />
			    <%end%>
			    <%= f.submit "Upload" %>
			  </div>
			<% end %>
			<br />
			<div class="from-group">
				<div class="pull-right">
					<% if @imageable.kind_of? Unit %>
						<%= link_to 'Done', unit_path(@imageable), class: 'btn btn-primary', "data-no-turbolink" => false %>
					<%else%>
						<%= link_to 'Done', building_path(@imageable), class: 'btn btn-primary', "data-no-turbolink" => false %>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>