<div class="row">
	<div class="col-lg-6">
		<%= form_for([@imageable, Upload.new], html: { multipart: true, class: 'dropzone form-horizontal', id: "new_upload_#{params[:upload_type]}", style: 'margin: 0px;' }) do |f|  %>
		  <div class="fallback">
		  	<% unless params[:upload_type] == 'documents' %>
		    	<%= f.file_field :image %>
		    <%else%>
		    	<%= f.file_field :document %>
		    <%end%><br />
		    
		    <%= f.hidden_field :user_id, value: current_user.id if current_user.present?%> <br />

		    <div class="dz-message" data-dz-message><span>Your Custom Message</span></div>
		    
		    <%= f.submit 'Upload' %>
		  </div>
		<% end %>
		
		<% if show_done %>
			<div class="form-group">
				<div class="pull-right" style="padding: 8px 0px;">
					<% if @imageable.kind_of? Unit %>
						<%= link_to 'Done', unit_path(@imageable, :from_uploaded => 'yes'), class: 'btn btn-primary btn-done' %>
					<%else%>
						<%= link_to 'Done', building_path(@imageable, :from_uploaded => 'yes'), class: 'btn btn-primary btn-done disabled' %>
					<%end%>
				</div>
			</div>
		<%end%>
	</div>
</div>

<%= javascript_include_tag 'upload' %>

<% unless browser.device.mobile? %>
	<style type="text/css">
		.dropzone .dz-message {
			margin-top: -20.5px;
			height: 75px;
		}
	</style>
<%end%>