<div class="row">
	<div class="col-lg-6">
		<%= form_for([@imageable, Upload.new], html: { multipart: true, class: 'dropzone form-horizontal', id: "new_upload_#{params[:upload_type]}", style: "margin: 10px;" }) do |f|  %>
		  <div class="fallback">
		  	<% unless params[:upload_type] == 'documents' %>
		    	<%= f.file_field :image %>
		    <%else%>
		    	<%= f.file_field :document %>
		    <%end%><br />
		    
		    <%= f.hidden_field :user_id, value: current_user.id if current_user.present?%> <br />
		    
		    <%= f.submit 'Upload' %>
		  </div>
		<% end %>
		
		<%if @imageable.kind_of? FeaturedAgent %>
			<p class="font-14"> Upload a profile image of yourself here. You can edit images on the next step.</p>
		<%end%>
		<div class="form-group">
			<div class="pull-right" style="padding: 8px 0px;">
				<% if @imageable.kind_of? Unit %>
					<%= link_to 'Done', unit_path(@imageable, :from_uploaded => 'yes'), class: 'btn btn-primary btn-done' %>
				<%elsif @imageable.kind_of? FeaturedAgent %>
					<br/>
					<br/>
					<%= link_to 'Cancel', @featured_agent.featured_by_manager? ? agenttools_user_path(current_user, type: 'featured') : featured_agents_path, class: 'font-18 pl-28 pr-28' %>
					<%= link_to 'Back', edit_featured_agent_path(@imageable), class: 'btn btn-default font-18 pl-28 pr-28' %>
					<%= link_to 'Next', wizard_path(:edit_photos, agent_id: @imageable.id), class: 'btn btn-primary btn-done font-18 pl-28 pr-28' %>
				<%else%>
					<%= link_to 'Done', building_path(@imageable, :from_uploaded => 'yes'), class: 'btn btn-primary btn-done disabled' %>
				<%end%>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'upload' %>