<div class="col-lg-12">
	<div>
		<%= form_for([@imageable, Upload.new], html: { multipart: true, class: "dropzone" }) do |f|  %>
		  <div class="fallback">
		    <%= f.file_field :image %> <br />
		    <% if current_user.present? %>
		    	<%= f.hidden_field :user_id, value: current_user.id %> <br />
		    <%end%>
		    <%= f.submit "Upload" %>
		  </div>
		<% end %>
	</div>

	<div class="pull-right margin-top-10">
		<% if @imageable.kind_of? Unit %>
			<%= link_to 'Done', unit_path(@imageable), class: 'btn btn-primary' %>
		<%else%>
			<%= link_to 'Done', building_path(@imageable), class: 'btn btn-primary' %>
		<%end%>
	</div>
</div>
