%li.ui-state-default.featured-gallery{class: featurable_class(upload.sort, featured_image: true), 'data-index' => upload.sort, 'data-id' => upload.id}
	%a{'data-caption' => "#{date_uploaded(upload)}", 'data-fancybox' => 'gallery', 'data-imageable' => "#{imageable(upload)}", href: "#{upload.image.url}", 'data-role' => 'slider'}
		= image_tag upload.image.url
	
	- if current_user
		- if type_featured_listing?(upload)
			.pull-left.fl-featured-badge
				= featured_badge_helper if upload.sort.to_i == 0
		
		- if user_can_take_action?(upload)
			.actions-links
				= edit_upload_link(upload)
				= delete_upload_link(upload)