<div class="similar">
  <div class="swiper-container visible-xs visible-sm">
    <div class="swiper-wrapper">
      <% uploads.each_with_index do |upload, index| %>
        <div class="swiper-slide">
          <a href="<%= upload.image.url %>" class="card fancybox" rel='gallery', title="<%=date_uploaded(upload)%>" data-role='slider'>
            <div class="figure">
              <%= image_tag upload.image, alt: 'Image' %>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
      <%end%>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="sliderLink visible-xs visible-sm">
    <%= link_to "See all(#{uploads.count})", path, 'data-no-turbolink' => false %> |
    <%= link_to '<span class="fa fa-camera"><span> Upload photos'.html_safe, new_upload_path, class: 'btn btn-o btn-default', 'data-no-turbolink' => false  %>
  </div>
</div>