<% if object.image_uploads.present? %>
  <% if object.image_uploads.count >= 3 %>
    <div class="rotateslider-container hidden-xs hidden-sm hidden-md" id="slider">
      <% object.image_uploads.each do |upload| %>
        <div class="rotateslider-item">
          <a rel='gallery' href="<%= upload.image.url %>" data-imageable = "<%= imageable(upload) %>" class="fancybox" title="<%=date_uploaded(upload)%>">
            <%= image_tag upload.uploaded_img_url, size: '211x311' %>
          </a> 
        </div>
      <%end%>
      <span class="arrow right js-rotateslider-arrow" data-action="next"><i class="fa fa-angle-right fa-3x"></i></span>
      <span class="arrow left js-rotateslider-arrow" data-action="prev"><i class="fa fa-angle-left fa-3x"></i></span>
    </div>
  <%else%>
    <% img_width = object.image_uploads.count == 2 ? 48 : 98 %>
    <% object.image_uploads.each_with_index do |upload, index| %>
      <a href="<%=upload.image.url%>" title="<%=date_uploaded(upload)%>" class="fancybox" rel='gallery'>
        <div class="bg-size-cover" style='background-image: url("<%=upload.uploaded_img_url%>"); width: <%=img_width%>%; float: left; cursor: pointer; margin: 0px 0px 0px 6px;' ></div>
      </a>
    <%end%>

    <%# object.image_uploads.each_with_index do |upload, index| %>
     <!--  <a href="<%#=upload.image.url%>" title="<%#=date_uploaded(upload)%>" class="fancybox" rel='gallery'>
        <div class="bg-size-cover" style='background-image: url("<%#=upload.image.url%>"); width: <%#=img_width%>%; float: left; cursor: pointer; margin: 0px 0px 0px 6px;' ></div>
      </a> -->
    <%#end%>

    <!-- <div class="hidden" style="width: 100%; margin: 0 auto;">
      <div id="propWidget-3" class="carousel slide propWidget-3" data-ride="carousel">
        <div class="carousel-inner">
          <%# object.image_uploads.each_with_index do |upload, index| %>
            <div class="item <%#= index == 0 ? 'active' : ''%>">
              <a rel='gallery' href="<%#= upload.image.url %>" class="fancybox" title="<%#=#date_uploaded(upload)%>">
                <%#=# image_tag upload.image.url, alt: "" %>
              </a>
              <div class="container">
                <div class="carousel-caption">
                    
                </div>
              </div>
            </div>
          <%#end%>
        </div>
        <%# if object.image_uploads.count > 1 %>
          <a class="left carousel-control" href="#propWidget-3" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#propWidget-3" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        <%#end%>
      </div>
    </div> -->
    <div class="clearfix"></div>
  <%end%>
  <% unless @management_company.present? %>
    <div style="margin-top: 8px;">
      <div class="pull-left padding-left-20">
        <% if user_signed_in? %>
          <%= link_to 'Add Photo', new_building_upload_path(building_id: object, upload_type: 'photos'), class: 'btn btn-o btn-primary btn-sm' %>
        <%else%>
          <%= link_to 'Add Photo', '#signin', 'data-toggle' => 'modal', class: 'btn btn-o btn-primary btn-sm'  %>
        <%end%>  
      </div>

      <div class="see_all" style="">
        <span class="fa fa-th-large"></span> 
        <% if object.kind_of? Building %>
          <%= link_to "See all(#{Upload.image_uploads_count(object)})", building_uploads_path(building_id: object.id), "data-no-turbolink" => false %>
        <%else%>
          <%= link_to "See all(#{Upload.image_uploads_count(object)})", unit_uploads_path(unit_id: object.id), "data-no-turbolink" => false %>
        <%end%>
      </div>
    </div>
  <%end%>
<%else%>
  <%#= image_tag 'no-photo-available.jpg', size: '311x211', class: 'pull-left' %>
  <!-- <div class="pull-right">No image Found! Please <%#= link_to 'Upload', path, "data-no-turbolink" => false %> images.</div> -->
<%end%>
