<% if @uploads.present? %>
  <% if @uploads.count >= 3 %>
    <div class="rotateslider-container hidden-xs hidden-sm hidden-md" id="slider">
      <% @uploads.each do |upload| %>
        <div class="rotateslider-item">
          <a rel='gallery' href="<%= upload.image.url %>" data-imageable = "<%= imageable(upload) %>" class="fancybox" title="<%=date_uploaded(upload)%>" data-role='slider'>
            <%= image_tag upload.uploaded_img_url, size: '211x311' %>
          </a> 
        </div>
      <%end%>
      <span class="arrow right js-rotateslider-arrow" data-action="next"><i class="fa fa-angle-right fa-3x"></i></span>
      <span class="arrow left js-rotateslider-arrow" data-action="prev"><i class="fa fa-angle-left fa-3x"></i></span>
    </div>
  <%else%>
    <% img_width = @uploads.count == 2 ? 48 : 98 %>
    <% @uploads.each_with_index do |upload, index| %>
      <a href="<%=upload.image.url%>" title="<%=date_uploaded(upload)%>" class="fancybox" rel='gallery' data-role='slider'>
        <div class="bg-size-cover" style='background-image: url("<%=upload.uploaded_img_url%>"); width: <%=img_width%>%; float: left; cursor: pointer; margin: 0px 0px 0px 6px;' ></div>
      </a>
    <%end%>
    <div class="clearfix"></div>
  <%end%>
  <% unless @management_company.present? %>
    <%=render partial: 'uploads/add_photos', locals: { object: object }%>
  <%end%>
<%end%>
