.row
  .col-lg-12
    - if @imageable.present?
      %div{ style: 'padding: 8px;'}
        %h1.pageTitle{style: 'font-size: 30px;'}
          = link_to @imageable.property_name_or_address, object_show_path(@imageable), 'data-no-turbolink' => false
        .address.text-muted
          = link_to object_show_path(@imageable), 'data-no-turbolink' => false do
            =  @imageable.full_street_address
            %br/
            = @imageable.neighborhood
%hr/
%div{class: "row #{current_user && current_user.has_role?(:admin) ? 'photo-grid-container' : ''}"}
  = render 'uploads/image_gallery', uploads: @uploads, featured_image: false