<div class="tables" style="padding: 30px 20px;">
	<div class="row">
		<div class="col-lg-12">
			<%if @building.present? %>
				<%= link_to building_path(@building), class: 'text-col-black' do %>
					<h3><%= @building.building_name %></h3>
					<p> <b><%= @building.building_street_address %> </b></p>
				  <p> <b><%= @building.city %>, <%= @building.state %>, <%= @building.zipcode %> </b></p>
				<%end%>
			<%else%>
				<%= link_to unit_path(@unit), class: 'text-col-black' do %>
					<h4><%= @unit.building.building_name %></h4>
					<p> <b><%= @unit.building.building_street_address %> </b></p>
				  <p> <b><%= @unit.building.city %>, <%= @unit.building.state %>, <%= @unit.building.zipcode %> </b></p>
				  <p> <b><%= @unit.name %></b> </p>
				<%end%>
			<%end%>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-12 col-md-6 col-xs-12">
			<% @uploads.each do |upload| %>
				<div class="col-sm-3">
                    <a href="<%=upload.image.url%>" data-imageable="<%= imageable(upload) %>" class="propWidget-1 fancybox" rel="gallery">
                        <div class="fig">
                            <%= image_tag upload.image.url, alt: 'Image'%>
                        </div>
                    </a>
                    <% if current_user && current_user.has_role?(:admin) %>
                    	<%= link_to 'Remove', upload_path(upload), method: :delete, remote: true, class: 'btn btn-danger btn-xs pull-right delete_image' %>
                    <%end%>
                </div>
			<%end %>
		</div>
	</div>
</div>