.row
  .col-lg-12
    - if @imageable.present?
      %h1.pageTitle= link_to @imageable.building_name_or_address, building_path(@imageable), 'data-no-turbolink' => false
      .address.text-muted
        = link_to building_path(@imageable), 'data-no-turbolink' => false do
          / method on reviews helper
          = building_street_address @imageable
          %br/
          = @imageable.neighborhood
    - elsif @imageable.kind_of?(Unit)
      = link_to unit_path(@imageable), class: 'text-col-black', 'data-no-turbolink' => false do
        %h4= @imageable.building.building_name
        %p
          %b
            = @imageable.building.building_street_address
        %p
          %b
            = @imageable.building.city
            , #{@imageable.building.state}, #{@imageable.building.zipcode}
        %p
          %b= @imageable.name
%hr/
%div{class: "row #{current_user && current_user.has_role?(:admin) ? 'photo-grid-container' : ''}"}
  - @uploads.each_with_index do |upload, index|
    - url = upload.image.url
    - if current_user && current_user.has_role?(:admin)
      .photo-grid-item.image-gallery{"data-object-id" => "#{upload.id}", "data-sort-id" => index}
        %a.propWidget-1{caption: "#{date_uploaded(upload)}", "data-fancybox" => "gallery", 'data-role' => 'slider', href: "#{url}"}
          = image_tag url, alt: 'Image', class: 'img-thumbnail'
        = link_to '<span class="fa fa-trash" />'.html_safe, upload_path(upload), method: :delete, remote: true, class: 'btn btn-danger btn-xs pull-right1 delete_image'
        = link_to '<span class="fa fa-edit" />'.html_safe, edit_upload_path(upload, upload_type: 'image'), remote: true, class: 'btn btn-primary btn-xs pull-right1 edit_image'
        = link_to '<span class="fa fa-repeat" />'.html_safe, rotate_upload_path(upload), class: 'btn btn-warning btn-xs rotate'
    - else
      .col-sm-3.image-gallery
        %a.propWidget-1{"data-caption" => "#{date_uploaded(upload)}", "data-fancybox" => "gallery", "data-imageable" => "#{imageable(upload)}", href: "#{url}", 'data-role' => 'slider'}
          .image-rotator{style: "height: 236px;"}
            = image_tag url, alt: 'Image', class: 'img-thumbnail'
/ jquery click function in zapp.js
.loading.hidden Loading…
:javascript
  $('.photo-grid-container').sortablePhotos({
      selector: '> .photo-grid-item',
      sortable: true,
    });