<%= form_for [@reviewable, Review.new], validate: true do |f| %>
	<%= f.validate :pros, :cons %>
	<% unless @reviewable.kind_of? Unit %>
  		<div class="col-sm-12">
		  	<div class="form-group">
				<label>Building Address</label>
				<%= text_field_tag 'building_street_address', building_street_address(@reviewable),  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
	<%else%>
		<div class="col-sm-8">
			<div class="form-group">
				<label>Building Address</label>
				<%= text_field_tag 'building_street_address', building_street_address(@reviewable),  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label>Unit</label>
				<%= text_field_tag 'unit', @reviewable.name,  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
	<%end%>
  <div class="col-sm-12">
	  <div class="form-group">
	    <label>Rating*</label>
	    	<% rating_user = current_user.present? ? current_user : nil %>
	    	<%= rating_for_user @reviewable, rating_user, @reviewable.class.name.downcase, star: 5 %>
			<span class='message hide rating-not-selected text-red'>Please select a rating.</span>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group">
			<label>Reviewer Type* </label>
			<br />
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-default reviewer_type">
			  	<%= f.radio_button :tenant_status,'current', id: 'current_tenant', class: 'reviewer_status' %> Current Tenant
			  </label>
			  <label class="btn btn-default reviewer_type">
			  	<%= f.radio_button :tenant_status,'former', id: 'former_tenant', class: 'reviewer_status' %> Former Tenant
			  </label>
			   <label class="btn btn-default reviewer_type">
			  	<%= f.radio_button :tenant_status,'visitor', id: 'visitor', class: 'reviewer_status' %> Visitor
			  </label> <br/>
			  <span class='message hide status-not-selected text-red'>Please select a reviewer type.</span>
			</div>
		</div>
	</div>
	<div class="col-sm-12 years_in_residence">
		<div class="form-group">
			<label>Number of Years in Residence*</label>
			<%= f.select :stay_time, options_for_select(number_of_years), { prompt: '' },  { class: 'form-control' } %>
			 <span class='message hide years-not-selected text-red'>Please select number of years in residence.</span>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group">
			<label>Review Title*</label>
			<%= f.text_field :review_title,  class: 'form-control' %>
			<span class='message hide title_blank text-red'>Please add review title.</span>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group">
			<label>Pros*</label>
			<small class="pull-right">10 words minimum</small>
			<%= f.text_area :pros,  class: 'form-control', placeholder: "Enter 10 words minimum", validate: true %>
			<span class='message hide pros_blank text-red'>Please add pros.</span>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group">
			<label>Cons*</label>
			<small class="pull-right">10 words minimum</small>
			<%= f.text_area :cons,  class: 'form-control', placeholder: "Enter 10 words minimum", validate: true %>
			<span class='message hide cons_blank text-red'>Please add cons.</span>
		</div>
	</div>
	
	<div class="col-sm-12">
	  <div class="form-group">
			<label>Other comments</label>
			<%= f.text_area :other_advice,  class: 'form-control' %>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group">
			<label>Would you recommend this building? *</label>
			<br />
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-default">
			  	<%= radio_button_tag 'vote', true %> <span class='icon-like'></span>
			  </label>
			  <label class="btn btn-default">
			  	<%= radio_button_tag 'vote', false %> <span class='icon-dislike'></span>
			  </label>
			</div>
		</div>
		<span class='message hide recommend-not-selected text-red'>Please select recommendation.</span>
  </div>
  <div class="col-sm-12">
  	<div class="pull-right">
		  <% if current_user %>
		  	<%= f.hidden_field :user_id, value: current_user.id %>
		  <%end%>
		  <br />
		  <% if params[:unit_id].present? %>
		  	<%= link_to 'Cancel', unit_path(@reviewable), class: "btn btn-default" %>
		  <%else%>
		  	<%= link_to 'Cancel', building_path(@reviewable), class: "btn btn-default" %>
		  <%end%>
		  <%= f.submit 'Submit Review', class: "btn btn-primary", id: 'submit_review' %>
	  </div>
	</div>
<% end %>
  