<%= form_for [@reviewable, Review.new] do |f| %>
  <div class="media">
    <div class="media-left">
      <a href="#" class="pull-left">
        <% if @reviewable.uploads.present? %>
          <%= image_tag @reviewable.uploads.first.image, size: '60x60', class: 'img-rounded' %>
        <%else%>
          <span class="fa fa-building fa-3x"></span>
        <%end%>
      </a>
      <div class="media-body">
        <b class="media-heading"><%= link_to @reviewable.building_name,building_path(@reviewable) %></b> <br />
        <small class="text-muted">
        	<%= @reviewable.building_street_address %> <br />
        	<%= "#{@reviewable.city}, #{@reviewable.state} #{@reviewable.zipcode}" %> 
        </small>
      </div>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <label>Rating</label>
    <% if current_user %>
    	<%= rating_for_user @reviewable, current_user, @reviewable.class.name.downcase, star: 5 %>
    <%else%>
			<%= rating_for_user @reviewable, nil, @reviewable.class.name.downcase, star: 5 %>
		<%end%>
	</div>

	<div class="form-group">
		<label>Current or Formar Tenant ?</label>
		<br />
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		  	<%= f.radio_button :tenant_status,'current', id: 'current_tenant' %> Current
		  </label>
		  <label class="btn btn-default">
		  	<%= f.radio_button :tenant_status,'former', id: 'former_tenant' %> Former
		  </label>
		</div>
	</div>
	
	<div class="form-group">
		<label></label>
		<%= f.select :stay_time, options_for_select([['1 Month', '1_month'], ['2 Month','2_month'], ['2 Month','2_month'], ['6 Month','6_month'], ['8 Month','8_month'], ['10 Month','10_month']]),{prompt: 'Number of Months in Residence	'},  {class: 'form-control'} %>
	</div>

	<div class="form-group">
		<label>Review Title</label>
		<%= f.text_field :review_title,  class: 'form-control' %>
	</div>

	<div class="form-group">
		<label>Pros</label>
		<%= f.text_area :pros,  class: 'form-control' %>
	</div>

	<div class="form-group">
		<label>Cons</label>
		<%= f.text_area :cons,  class: 'form-control' %>
	</div>
	
  <div class="form-group">
		<label>Other TranspaRENTcy and advice to share</label>
		<%= f.text_area :other_advice,  class: 'form-control' %>
	</div>

	<div class="form-group">
		<label>Would you recommended this building?</label>
		<br />
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		  	<%= radio_button_tag 'vote', true, id: 'current_tenant' %> <span class='fa fa-thumbs-o-up fa-2x'></span>
		  </label>
		  <label class="btn btn-default">
		  	<%= radio_button_tag 'vote', false, id: 'current_tenant' %> <span class='fa fa-thumbs-o-down fa-2x'></span>
		  </label>
		</div>
	</div>
  
  <% if current_user %>
  	<%= f.hidden_field :user_id, value: current_user.id %>
  <%end%>
  <br />
  <%= link_to 'Cancel', building_path(@reviewable), class: "btn btn-default" %>
  <%= f.submit 'Submit Review', class: "btn btn-primary" %>
<% end %>
  