<%= form_for [@reviewable, Review.new], html: { multipart: true } do |f| %>
	<%= hidden_field_tag 'contribution', params[:contribution] %>
	<% unless @reviewable.kind_of? Unit %>
  		<div class="col-sm-12 mb-3">
		  	<div class="form-group">
				<label>Building Address</label>
				<%= text_field_tag 'building_street_address', building_street_address(@reviewable),  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
	<%else%>
		<div class="col-sm-8 mb-3">
			<div class="form-group">
				<label>Building Address</label>
				<%= text_field_tag 'building_street_address', building_street_address(@reviewable),  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
		<div class="col-sm-4 mb-3">
			<div class="form-group">
				<label>Unit</label>
				<%= text_field_tag 'unit', @reviewable.name,  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
	<%end%>
	
	<div class="col-sm-12 mb-3">
		<div class="form-group">
			<label>Reviewer Type* </label>
			<br />
			<div class="btn-group" role="group" data-bs-toggle="buttons">
			  <label class="btn btn-default btn-round btn-outline-secondary reviewer_type">
			  	<%= f.radio_button :tenant_status,'current', id: 'current_tenant', class: 'reviewer_status' %> Current Tenant
			  </label>
			  <label class="btn btn-default btn-round btn-outline-secondary reviewer_type">
			  	<%= f.radio_button :tenant_status,'former', id: 'former_tenant', class: 'reviewer_status' %> Former Tenant
			  </label>
			  <label class="btn btn-default btn-round btn-outline-secondary reviewer_type">
			  	<%= f.radio_button :tenant_status,'visitor', id: 'visitor', class: 'reviewer_status' %> Visitor
			  </label>
			</div>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="form-group start_year_at_residence">
				<label>Resident From*</label>
				<%= f.select :resident_from, options_for_select(years), { prompt: '' },  { class: 'form-control resident_from_year' } %>
				 <span class="text-red d-none start_validation_error_message">Year must be earlier</span>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-6 end_year_in_residence">
			<div class="form-group">
				<label>Resident To*</label>
				<%= f.select :resident_to, options_for_select(years), { prompt: '' },  { class: 'form-control resident_to_year' } %>
				 <span class="text-red d-none validation_error_message">Year must be later</span>
			</div>
		</div>
	</div>
	
	<div class="col-sm-12 mb-3">
		<div class="form-group">
			<label>Pros* &nbsp;&nbsp;&nbsp;<small>(10 words minimum)</small></label>
			<div class="checkbox custom-checkbox float-end" style="margin: 0px;"><label><%= check_box_tag :no_pros %> <span class="fa fa-check"></span> No Pros</label></div>
			<%= f.text_area :pros,  class: 'form-control', placeholder: 'Example: The building is great for families, newly grads, students, singles, couples, dog lovers, people on a tight budget
 
Great for finance bros, fashionistas, musicians, writers, retirees, software geeks, aspiring models and actresses
 
Only building that allows my 100lb Rottweiler', rows: 8 %>
		</div>
	</div>

	<div class="col-sm-12 mb-3">
		<div class="form-group">
			<label>Cons* &nbsp;&nbsp;&nbsp;<small>(10 words minimum)</small></label>
			<!-- removing adding validation rules in zapp.js -->
			<div class="checkbox custom-checkbox float-end" style="margin: 0px;"><label><%= check_box_tag :no_cons %> <span class="fa fa-check"></span> No Cons</label></div>
			<%= f.text_area :cons,  class: 'form-control', placeholder: "Example: There are too many tourists, frat bros, loud bars, and cockroaches EVERYWHERE!!!
Not close enough to a Trader Joe's, Whole Foods
The rent increases are kiling my seamless and alcohol budget
Water Pressure never works, Elevators are too slow, Walls are too thin and I hear things no one should hear", rows: 8 %>
		</div>
	</div>

	<%= render partial: 'reviews/ratings' , locals: { f: f } %>
	
	<div class="col-sm-12 mb-3">
		<div class="form-group">
			<label>Would you recommend this building?* </label>
			<br />
			<div class="btn-group" data-bs-toggle="buttons">
			  <label class="btn btn-default btn-round btn-outline-secondary">
			  	<%= radio_button_tag 'vote', true %> <span class='fa fa-thumbs-o-up'></span>
			  </label>
			  <label class="btn btn-default btn-round btn-outline-secondary">
			  	<%= radio_button_tag 'vote', false %> <span class='fa fa-thumbs-o-down'></span>
			  </label>
			</div>
		</div>
  </div>

  <div class="col-sm-12 mb-3">
  	<label>Upload photos</label>
  	<br />
		<div class="form-group images-container">
			<div class="float-start attachment-icon">
        <a href="javascript:void(0)" onclick="$('#upload_images').trigger('click'); return false;" >  
          <%= image_tag 'camera_grey_64.png', alt: 'Add images' %>
        </a>
      </div>
      <%= hidden_field_tag :upload_uid, @uid %>
		</div>
  </div>
  
  <div class="col-sm-12 mb-3" style="margin-top: 15px;">
	  <div class="form-group">
	    <div class="checkbox custom-checkbox"><label><%= f.check_box :anonymous, {}, true, false %> <span class="fa fa-check"></span> Post Anonymously</label></div>
		</div>
	</div>
	<div class="col-sm-12 tos-agreement" style="margin-top: 15px;">
	  <div class="form-group">
	    <div class="checkbox custom-checkbox">
	    	<label>
	    		<%= f.check_box :tos_agreement, {}, true, false %> <span class="fa fa-check"></span>I agree to the transparentcity <a href='https://www.transparentcity.co/terms_of_service' target='_blank' class="tos-link">Terms of Service. </a> This review is truthful.*
	    	</label>
	    </div>
		</div>
	</div>
	<div class="footer">
	  <div class="col-sm-12">
	  	<div class="btn-block-container">
			  <% if current_user %>
			  	<%= f.hidden_field :user_id, value: current_user.id %>
			  <%end%>
			  <br />
			   <%= f.submit 'Submit Review', class: "btn btn-primary btn-xlg btn-xs-block", id: 'submit_review' %>
		  </div>
		</div>
	</div>
<% end %>

<%= form_for Upload.new, html: { :multipart => true } do |f| %>
	<%= f.hidden_field :file_uid, value: @uid %>
	<%= f.file_field :image, multiple: true, id: 'upload_images', class: 'd-none', name: 'upload[image]' %>
	<%= f.hidden_field :imageable_type, value: @reviewable.class.name %>
	<%= f.hidden_field :imageable_id, 	value: @reviewable.id %>
	<%#= f.submit 'Submit', class: "btn btn-primary d-none", id: 'upload_review_images' %>
<%end%>

<%= stylesheet_link_tag 'reviews' %>

<script>
  $(document).ready(function() {
  	var xhr;
    $('#new_upload').fileupload({
    	dataType: 'script',
    	add: function (e, data) {
    		var file = data.files[0];
    		showImagePreview(file, file.size);
        xhr = data.submit();
      },
      progressall: function (e, data) {
        //var progress = parseInt(data.loaded / data.total * 100, 10);
        //$('.prog_per').html(progress+'%')
        //$('.progress .bar').css('width', progress + '%');
      },
    	done: function (e, data) {
        var file = data.files[0];
        $('.image_file'+file.size).parent().hide();
      } 
    });
  });

  $('a.abort').click(function (e) {
    xhr.abort();
  });
</script>
  