<%= form_for [@reviewable, Review.new], html: { multipart: true } do |f| %>
	<%= hidden_field_tag 'contribution', params[:contribution] %>
	<% unless @reviewable.kind_of? Unit %>
  		<div class="col-sm-12">
		  	<div class="form-group">
				<label>Building Address</label>
				<%= text_field_tag 'building_street_address', building_street_address(@reviewable),  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
	<%else%>
		<div class="col-sm-8">
			<div class="form-group">
				<label>Building Address</label>
				<%= text_field_tag 'building_street_address', building_street_address(@reviewable),  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label>Unit</label>
				<%= text_field_tag 'unit', @reviewable.name,  class: 'form-control', disabled: 'disabled' %>
			</div>
		</div>
	<%end%>
  <!-- <div class="col-sm-12"> -->
	  <!-- <div class="form-group"> -->
	    <!-- <label>Rating*</label> -->
	    	<%# rating_user = current_user.present? ? current_user : nil %>
	    	<%#= rating_for_user @reviewable, rating_user, @reviewable.class.name.downcase, star: 5 %>
	    	<!-- jqurty error code to show error is in jquery.validation.js -->
				<!-- <span class='message hide rating-not-selected text-red'>Please select a rating.</span> -->
		<!-- </div> -->
	<!-- </div> -->
	
	<div class="col-sm-12">
		<div class="form-group">
			<label>Reviewer Type* </label>
			<br />
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-default reviewer_type">
			  	<%= f.radio_button :tenant_status,'current', id: 'current_tenant', class: 'reviewer_status' %> Current Tenant
			  </label>
			  <label class="btn btn-default reviewer_type">
			  	<%= f.radio_button :tenant_status,'former', id: 'former_tenant', class: 'reviewer_status' %> Former Tenant
			  </label>
			  <label class="btn btn-default reviewer_type">
			  	<%= f.radio_button :tenant_status,'visitor', id: 'visitor', class: 'reviewer_status' %> Visitor
			  </label>
			</div>
		</div>

		<!-- <label class='message status-not-selected text-red'>Please select a reviewer type.</label> -->
	</div>
	
	<div class="col-sm-12 col-lg-6">
		<div class="form-group start_year_at_residence">
			<label>Resident From*</label>
			<%= f.select :resident_from, options_for_select(years), { prompt: '' },  { class: 'form-control resident_from_year' } %>
			 <span class="text-red hidden start_validation_error_message">Year must be earlier</span>
		</div>
	</div>
	
	<div class="col-sm-12 end_year_in_residence col-lg-6">
		<div class="form-group">
			<label>Resident To*</label>
			<%= f.select :resident_to, options_for_select(years), { prompt: '' },  { class: 'form-control resident_to_year' } %>
			 <span class="text-red hidden validation_error_message">Year must be later</span>
		</div>
	</div>
	
	<!-- <div class="col-sm-12">
		<div class="form-group">
			<label>Review Title*</label> -->
			<%#= f.text_field :review_title,  class: 'form-control' %>
			<!-- <span class='message hide title_blank text-red'>Please add review title.</span> -->
		<!-- </div> -->
	<!-- </div> -->

	<div class="col-sm-12">
		<div class="form-group">
			<label>Pros* &nbsp;&nbsp;&nbsp;<small>(10 words minimum)</small></label>
			<div class="checkbox custom-checkbox pull-right" style="margin: 0px;"><label><%= check_box_tag :no_pros %> <span class="fa fa-check"></span> No Pros</label></div>
			<%= f.text_area :pros,  class: 'form-control', placeholder: 'Example: The building is great for families, newly grads, students, singles, couples, dog lovers, people on a tight budget
 
Great for finance bros, fashionistas, musicians, writers, retirees, software geeks, aspiring models and actresses
 
Only building that allows my 100lb Rottweiler', rows: 8 %>
			<!-- <span class='message hide pros_blank text-red'>Please add pros.</span> -->
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group">
			<label>Cons* &nbsp;&nbsp;&nbsp;<small>(10 words minimum)</small></label>
			<!-- removing adding validation rules in zapp.js -->
			<div class="checkbox custom-checkbox pull-right" style="margin: 0px;"><label><%= check_box_tag :no_cons %> <span class="fa fa-check"></span> No Cons</label></div>
			<!-- <div class="pull-right no_check"><%#= check_box_tag :no_cons %> No Cons</div> -->
			<%= f.text_area :cons,  class: 'form-control', placeholder: "Example: There are too many tourists, frat bros, loud bars, and cockroaches EVERYWHERE!!!
Not close enough to a Trader Joe's, Whole Foods
The rent increases are kiling my seamless and alcohol budget
Water Pressure never works, Elevators are too slow, Walls are too thin and I hear things no one should hear", rows: 8 %>
			<!-- <span class='message hide cons_blank text-red'>Please add cons.</span> -->
		</div>
	</div>

	<%=render partial: 'reviews/ratings' , locals: { f: f } %>
	
	<!-- <div class="col-sm-12">
	  <div class="form-group">
			<label>Other comments</label>
			<%#= f.text_area :other_advice,  class: 'form-control' %>
		</div>
	</div> -->
	
	<div class="col-sm-12">
		<div class="form-group">
			<label>Would you recommend this building?*</label>
			<br />
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-default">
			  	<%= radio_button_tag 'vote', true %> Yes
			  </label>
			  <label class="btn btn-default">
			  	<%= radio_button_tag 'vote', false %> No
			  </label>
			</div>
			<!-- <span class='message hide recommend-not-selected text-red'>Please select recommendation.</span> -->
		</div>
  </div>

  <div class="col-sm-12">
  	<label>Upload photos</label>
  	<br />
		<div class="form-group images-container">
			<div class="pull-left attachment-icon">
        <a href="javascript:void(0)" onclick="$('#upload_images').trigger('click'); return false;" >  
          <!-- <i class="fa fa-image fa-3x"></i> -->
          <%= image_tag 'camera_grey_64.png', alt: 'Add images' %>
        </a>
      </div>
      <%#= file_field_tag 'review_attachments[image][]', class: 'hidden', id: 'review_photo_attachments', multiple: true %>
      <%= hidden_field_tag :upload_uid, Time.now.to_i %>
		</div>
  </div>
  
  <div class="col-sm-12" style="margin-top: 15px;">
	  <div class="form-group">
	    <div class="checkbox custom-checkbox"><label><%= f.check_box :anonymous, {}, true, false %> <span class="fa fa-check"></span> Post Anonymously</label></div>
		</div>
	</div>
	<div class="col-sm-12 tos-agreement" style="margin-top: 15px;">
	  <div class="form-group">
	    <div class="checkbox custom-checkbox">
	    	<label>
	    		<%= f.check_box :tos_agreement, {}, true, false %> <span class="fa fa-check"></span>I agree to the transparentcity <a href='http://www.transparentcity.co/terms_of_service' target='_blank' class="tos-link">Terms of Service. </a> This review is truthful.*
	    	</label>
	    </div>
	    <!-- <span class='message hide tos-not-accepted text-red'>Must be accepted.</span> -->
		</div>
	</div>

  <div class="col-sm-12">
  	<div class="btn-block-container">
		  <% if current_user %>
		  	<%= f.hidden_field :user_id, value: current_user.id %>
		  <%end%>
		  <br />
		  <%# if params[:unit_id].present? %>
		  	<%#= link_to 'Cancel', unit_path(@reviewable), class: "btn btn-default btn-xlg btn-xs-block margin-top-xs-10 hidden-xs" %>
		  <%#else%>
		  	<%#= link_to 'Cancel', building_path(@reviewable), class: "btn btn-default btn-xlg btn-xs-block margin-top-xs-10 hidden-xs" %>
		  <%#end%>
		   <%= f.submit 'Submit Review', class: "btn btn-primary btn-xlg btn-xs-block", id: 'submit_review' %>
	  </div>
	</div>
<% end %>

<%= form_for Upload.new, html: { :multipart => true } do |f| %>
	<%= f.hidden_field :file_uid, value: Time.now.to_i %>
	<%= f.file_field :image, multiple: true, id: 'upload_images', class: 'hidden', name: 'upload[image]' %>
	<%= f.hidden_field :imageable_type, value: nil %>
	<%= f.hidden_field :imageable_id, value: nil %>
	<%#= f.submit 'Submit', class: "btn btn-primary hidden", id: 'upload_review_images' %>
<%end%>

<style type="text/css">
	.form-group {
    margin-bottom: 6px;
	}
	label.error{
		color: #ea3d36;
	}
</style>

<script>
  $(document).ready(function() {
    $('#new_upload').fileupload({
    	dataType: 'script',
    	done: function (e, data) {
        showImagePreview(data.files[0]);
      } 
    });
  });
</script>
  