.row
  .col-12.col-sm-12.col-md-12.col-lg-12
    #filterrific_results{style: 'margin-top: 10px;'}
      .overflow-auto
        %table.table
          %thead
            %tr
              %th{width: '16%'} Email
              %th Address
              %th{width: '16%'} Title
              %th Pros
              %th Cons
              %th{width: '10%'} Rating
              %th{width: '10%'} Review date
              %th{width: '4%'}
          
          %tbody.table
            - cache reviews do
              - reviews.each do |review|
                - cache review do
                  %tr
                    %td= review&.user&.email
                    %td
                      %a{href: "#{reviewable_path(review)}"}
                        = "#{review.property_name} #{review.property_address}"
                    %td= simple_format(review.review_title)
                    %td= simple_format(review.pros)
                    %td= simple_format(review.cons)
                    %td.text-center.star-sm
                      = rating_for_user review.reviewable, review.user, review.reviewable.class.name.downcase, disable_after_rate: true, review_id: review.id if review.reviewable.present?
                    %td= review.created_at.strftime("%Y-%m-%d")
                    %td.text-center
                      - if current_user&.has_role?(:admin)
                        = link_to '<span class="fa fa-trash"></span>'.html_safe, review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete this review?" }, class: 'text-danger'