<div class="col-sm-12">
  <div class="form-group">
    <label>Overall Rating*</label>
    	<% rating_user = current_user.present? ? current_user : nil %>
    	<%= rating_for_user @reviewable, rating_user, @reviewable.class.name.downcase, star: 5 %>
    	<!-- jqurty error code to show error is in jquery.validation.js -->
			<!-- <span class='message hide rating-not-selected text-red'>Please select a rating.</span> -->
	</div>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <label>Cleanliness*</label>
    <%= rating_for_user @reviewable, rating_user, 'cleanliness', star: 5, target: '#hintDiv', targetType: "score" %> <div id="hintDiv"></div>
	</div>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <label>Noise*</label>
    	<%= rating_for_user @reviewable, rating_user, 'noise', star: 5 , target: '#hintNoise', targetType: "score" %>
    	<div id="hintNoise"></div>
	</div>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <label>How Safe Do You Feel In Your Building*</label>
    	<%= rating_for_user @reviewable, rating_user, 'safe', star: 5 %>
	</div>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <label>Heat/Air/Water/Electric*</label>
    	<%= rating_for_user @reviewable, rating_user, 'health', star: 5 %>
	</div>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <label>Super Responsiveness*</label>
    	<%= rating_for_user @reviewable, rating_user, 'responsiveness', star: 5 %>
	</div>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <label>Dealings with Management*</label>
    	<%= rating_for_user @reviewable, rating_user, 'management', star: 5 %>
	</div>
</div>