<div class="comment">
    <div class="commentAvatar">
      <% if review.user.avatar.present? %>
        <%= image_tag review.user.avatar, class: 'avatar' %>
      <% elsif review.user.image_url.present? %>
        <%= image_tag review.user.image_url, class: 'avatar' %>
      <%else%>
        <span class="fa fa-user fa-2x"></span>
      <%end%>
      <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
    </div>
    <div class="commentContent">
        <div class="commentName">
          <%= review.user_name.capitalize %>
        </div>

        <div class="commentBody">
          <div class="commentTime" style="float: none;"><span class="icon-clock"></span> <%= review.created_at.strftime("%b %d, %Y") %></div>
          <p class="user-rating"><%= rating_for_user reviewable, review.user, reviewable.class.name.downcase, disable_after_rate: true, review_id: review.id %></p>
          <%= simple_format(review.review_title) %>
          <div class="prosCons">
            <% if review.pros.present? %>
              <b>Pros:</b><span> <%= simple_format(review.pros) %></span>
            <%end%>
            <% if review.cons.present? %>
              <b>Cons:</b><span> <%= simple_format(review.cons) %></span>
            <%end%>
            <% if review.other_advice.present? %>
              <b>Other TranspaRENTcy and Advice to Share:</b><span> <%= simple_format(review.other_advice) %></span>
            <%end%>
          </div>
        </div>
        <div class="commentActions">
            <!-- <div class="commentTime"><span class="icon-clock"></span> <%#= review.created_at.strftime("%b %d, %Y") %></div> -->
            <ul>
              <%if review.user.votes.where(vote: true, review_id: review.id).present? %>
                <li><a href="#"><span class="fa fa-thumbs-up recommended"></span></a></li>
              <%else%>
                <li><a href="#"><span class="fa fa-thumbs-down"></span></a></li>                 
              <%end%>
              <li><a href="#">
                Tenant: <%= review.tenant_status.present? ? review.tenant_status.capitalize : '' %> 
                <% if review.tenant_status != 'visitor' %>
                  (<%= review.stay_time %>)
                <%end%>
              </a></li> 
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>