<div class="media">
  <div class="media-left">
    <a href="#" class="pull-left">
      <% if @reviewable.image_uploads.present? %>
        <%= image_tag @reviewable.image_uploads.first.image, size: '60x60', class: 'img-rounded' %>
      <%else%>
        <span class="fa fa-building fa-3x"></span>
      <%end%>
    </a>
    <div class="media-body">
      <b class="media-heading"><%= link_to_building_show @reviewable %></b> <br />
      <small class="text-muted">
      	<%= building_street_address @reviewable %> <br />
      	<%= city_state_zip @reviewable %> <br />
        <% if @reviewable.kind_of? Unit %>
      	 <%= link_to_unit_show @reviewable  %> 
        <%end%>
      </small>
    </div>
  </div>
</div>