<div class="comment" id="comment<%=review.id%>">
  <% if current_user and current_user.has_role?(:admin) %>
    <%= link_to '<span class="fa fa-times"></span>'.html_safe, review_path(review), method: :delete, remote: true, class: 'pull-right text-danger daleteReview', title: 'Delete' %>
  <%end%>
  
  <div class="commentAvatar">
    <% unless review.anonymous %>
      <% if review.user.avatar.present? %>
        <%= image_tag review.user.avatar, class: 'avatar' %>
      <% elsif review.user.image_url.present? %>
        <%= image_tag review.user.image_url, class: 'avatar' %>
      <%else%>
        <div class="firstLetter"><%= review.user.user_name.split('')[0].capitalize %></div>
      <%end%>
    <%else%>
      <%= image_tag 'anonymous1.png', class: 'avatar' %>
    <%end%>
    <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
  </div>
  
  <div class="commentContent">
    <div class="commentName">
      <% if @management_company.present? %>
        <%= link_to building_path(reviewable), class: 'hyper-link' do %>
          <p class='hyper-link'><%= reviewable.building_name_or_address %></p>
        <%end%>
        <p class="text-muted"><%= reviewable.street_address %>, <%= reviewable.zipcode %></p>
      <%end%>
      <p class="review-header-item"><%= review.anonymous ? 'Anonymous' : review.user_name.capitalize %></p>
    </div>

    <div class="commentBody">
      <div class="commentTime" style="float: none;"><p class="review-header-item"><span class="icon-clock"></span> <%= review.created_at.strftime("%b %d, %Y") %></p></div>
      <div class="tenantStatus" style="float: none;">
        <p class="review-header-item">
          <% if review.tenant_status != 'visitor' %>
            <%= review.tenant_status.present? ? review.tenant_status.capitalize : '' %> <%= 'Tenant:' %>
          
            <%= "#{review.resident_from} - " if review.resident_from.present? %><%= review.resident_to.to_i == Date.today.year ? 'Present' : review.resident_to if review.resident_to.present? %>
          <%else%>
            <%= 'Visitor' %>
          <%end%>
        </p>
      </div>

      <div style="display: inline-block;">
        <p class="review-header-item">
          <ul class="rating pull-left star-sm" style="margin: 0px;padding: 0px;">
            <%= rating_for_user reviewable, review.user, reviewable.class.name.downcase, disable_after_rate: true, review_id: review.id %>
          </ul>

          <div class="favLink">
            <span class="icon-pipe">|</span>
            <%if review.user.votes.where(vote: true, review_id: review.id).present? %>
              <span class="fa fa-thumbs-up recommended"></span>
            <%else%>
              <span class="fa fa-thumbs-down"></span>
            <%end%>
          </div>
        </p>
      </div>
      
      <p><%#= review.review_title %> </p>
      
      <div class="prosCons">
        <% if review.pros.present? %>
          <b>Pros:</b><span> <%= simple_format(review.pros) %></span>
        <%end%>
        <% if review.cons.present? %>
          <b>Cons:</b><span> <%= simple_format(review.cons) %></span>
        <%end%>
        <% if review.other_advice.present? %>
          <b>Other comments:</b><span> <%= simple_format(review.other_advice) %></span>
        <%end%>
      </div>
      
      <div class="commentActions" style="padding: 0px 0px 8px;">
        <div class="show-review-images">
          <h4></h4>
          <% if review.uploads.present? %>
            <% review.uploads.each do |asset| %>
              <div class="pull-left">
                <a href="<%=asset.image.url%>" class="fancybox">
                  <%= image_tag asset.image, alt: 'Image' %>
                </a>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>

    <div class="commentActions">
      <ul class="list-inline ricons pull-left">
        <li><%= social_share_button_tag(review.review_title, :url => "http://www.transparentcity.co/buildings/#{params[:id]}#comment#{review.id}") %></li>
      </ul>
      
      <ul class="list-inline ricons pull-right">
        <li>
          <% if current_user.present? %>
            <%=link_to '<i class="glyphicon glyphicon-flag"></i>'.html_safe, "#flagDescription#{review.id}", 'data-toggle' => 'modal', class: "#{current_user.marked_flag?(review.id) ? 'no-pointer flagged' : ''}", title: 'Flag as inappropriate' %>
          <%else%>
            <%= link_to '<i class="glyphicon glyphicon-flag"></i>'.html_safe,'#signin', 'data-toggle' => 'modal' , title: 'Flag as inappropriate' %>
          <%end%>
        </li>
        
        <li class="helpful">
          <% if current_user.present? %>
            <%= link_to "Useful (<span class='ur-count'>#{review.useful_reviews.count}</span>)".html_safe,'javascript:;', class: "btn btn-o btn-blue btn-xs usefulButton #{current_user.marked_useful?(review.id) ? 'disabled' : ''}", 'data-reviewid' => "#{review.id}", 'data-userid' => current_user.present? ? current_user.id : nil %>
          <%else%>
            <%= link_to "Useful (<span class='ur-count'>#{review.useful_reviews.count}</span>)".html_safe,'#signin', class: 'btn btn-o btn-blue btn-xs', 'data-toggle' => 'modal' %>
          <%end%>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<%= render partial: 'review_flags/form', locals: { review: review } if current_user.present? %>