.tables
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .pull-left
        %h2
          Total reviews: #{@reviews.count}
      .pull-right
        - if current_user and current_user.has_role?(:admin)
          = link_to 'Import excel', '#importReviews', class: 'btn btn-blue pull-right', 'data-toggle' => 'modal'
          = render partial: 'reviews/import_reviews_form'
        = link_to 'Destroy scraped reviews', destroy_scraped_reviews_reviews_path, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
         
  .row
    .pull-right
      = form_for_filterrific @filterrific do |f|
        .form-field
          = f.text_field :search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Search'
  %h2
  = render partial: 'reviews/property_reviews', locals: { reviews: @reviews }
  .text-center
    = will_paginate @reviews, renderer: BootstrapPagination::Rails