<div class="tables">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-overflow">
        <table class="table table-bordered table-striped fixed-layout">
          <tr>
            <th width="16%">Email</th>
            <th>Address</th>
            <th>Title</th>
            <th>Pros</th>
            <th>Cons</th>
            <th>Rating</th>
            <th width="8%">Review date</th>
            <th width="8%"></th>
          </tr>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td class="break"><%= review.user.email if review.user_id.present? %></td>
                <td class="break"><%= @reviewable.street_address %> <%= @reviewable.zipcode%></td>
                <td class="break"><%= review.review_title %></td>
                <td class="break"><%= simple_format(review.pros) %></td>
                <td class="break"><%= simple_format(review.cons) %></td>
                <td class="text-center"><%= rating_for_user @reviewable, review.user, @reviewable.class.name.downcase, disable_after_rate: true, review_id: review.id %></td>
                <td><%= review.created_at.strftime("%Y-%m-%d") %></td>
                <td class="text-center">
                  <% if current_user && current_user.has_role?(:admin) %>
                    <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete this review?" }, class: 'text-danger' %></td>
                  <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
