%h2
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #filterrific_results{style: "margin-top: 10px;"}
      .table-overflow
        %table.table.table-striped#sortable
          %thead
            %tr
              %th Feature ID(#{@featured_buildings.count})
              %th Building
              %th{width: "8%"} Management
              %th{width: "12%"} Website
              %th Start Date
              %th End Date
              %th Email
              %th
              %th
              %th Active
          
          %tbody.table
            - @featured_buildings.each do |featured_building|
              - building = featured_building.building
              %tr
                %td=link_to featured_building.id, edit_featured_building_path(featured_building)
                %td=link_to building.building_name_or_address, building_path(building)
                %td=link_to featured_building.building.management_company.try(:name), '#'
                %td= link_to '<span class="fa fa-globe"></span>'.html_safe, building.web_url, target: '_blank' if building.web_url.present?
                %td= featured_building.start_date
                %td= featured_building.end_date
                %td
                  - if featured_building.featured_by_manager?
                    = featured_building&.billing&.email
                
                - unless params[:type] == 'featured'
                  %td
                    - unless featured_building.featured_by_manager?
                      = link_to 'edit', edit_featured_building_path(featured_building) 
                  %td
                    - unless featured_building.featured_by_manager?
                      = link_to 'Delete', featured_building_path(featured_building), method: :delete, data: {confirm: "Are you sure you want to delete this featured building?"}, class: 'text-danger' 
                  %td
                    %input.apple-switch.sb-sm.feature-building{type: 'checkbox', checked: featured_building.active, style: 'margin: 0px;', data: { fbid: featured_building.id } }
                -else
                  %td
                    - if featured_building.has_start_and_end_date?
                      = link_to 'edit', edit_featured_building_path(featured_building)
                  %td
                    - unless featured_building.has_start_and_end_date?
                      = link_to 'Delete', featured_building_path(featured_building), method: :delete, data: {confirm: "Are you sure you want to delete this featured building?"}, class: 'text-danger'
                  %td
                    %input.apple-switch.sb-sm.feature-building{type: 'checkbox', checked: featured_building.active, style: 'margin: 0px;', data: { fbid: featured_building.id } }
