.form-container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-7.col-lg-offset-2
      .panel.panel-default
        .panel-heading
          %b= @featured_building.new_record? ? 'New Featured Building' : 'Edit Featured Building'
        .panel-body
          = form_for @featured_building, html: {class: 'featured_building_form'} do |f|
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .form-group
                  %label Feature This Building
                  = text_field_tag 'featured_building_field', @featured_building.building.present? ? @featured_building.building.building_name_or_address : nil, class: 'form-control buildings-search-txt', placeholder: 'Search building by name or address', data: { src: '/buildings/contribute?featured_as=true' }, :autocomplete => :off
                  #as-comp-buildings-search-results.results{style: "position: relative;"}
                  
              = f.hidden_field :building_id
              = f.hidden_field :featured_by, value: params[:type].present? ? 'manager' : 'admin' if @featured_building.new_record?
              = f.hidden_field :user_id, value: current_user.id if current_user.present?
            
            - if @featured_building.draft_edit? || @featured_by == 'admin'
              =render 'featured_buildings/admin_form_fields', f: f, object: f.object
            -else
              - @submit_text = 'Next'
              %p The building selected for Featuring can be changed at any time while the Featuring is still active. For example, if a selected Featured building no longer has vacancies, you have the ability to choose a different building that has vacancies using the same Feature entry.
              %br
            
            .form-group
              .col-md-7.col-sm-7.col-xs-7
                .pull-right
                  -if @featured_building.new_record?
                    = link_to 'Cancel', params[:type].blank? ? featured_buildings_path : managertools_user_path(current_user, type: 'featured'), class: 'btn btn-default'
                  -else
                    = link_to 'Cancel', !@featured_building.featured_by_manager? ? featured_buildings_path : managertools_user_path(current_user, type: 'featured'), class: 'btn btn-default'
              .col-md-5.col-sm-5.col-xs-5
                = f.submit @submit_text, class: 'btn btn-primary btn-block', disabled: true
    
=javascript_include_tag 'featured_as_building'

:javascript
  $(function() {
    new capp.asCompBuildings;
  });
  var time_zone = "#{current_user.time_zone}";
  $(document).on('keyup', function(e){
    if(e.keyCode == 40 || e.keyCode == 38){
      if(!$("ul.ui-autocomplete").is(":visible")) {
        //#ui-id-1: becasue there are two 1. global search 2. for buildings search
        $("#ui-id-1").show();
      }
    }
  })