- if current_user.has_role? :admin
  - if current_user.present?
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .pull-right
          = link_to 'Add New Featured Building', new_featured_building_path(featured_by: 'admin'), class: 'btn btn-blue'
    %h2
  .pull-right
    = form_for_filterrific @filterrific do |f|
      .form-field
        = f.text_field :search_query, class: 'filterrific-periodically-observed form-control', placeholder: 'Search'
      .form-field
  = render 'featured_buildings/buildings'
  
  .text-center
    = will_paginate @featured_building, renderer: BootstrapPagination::Rails


:css
  #sortable_filter{
    display: none;
  }