<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
            <% if @categories.present? %>
                <h2 class="osLight h-r">Categories</h2>
                <ul class="blog-r-nav">
            		<% @categories.each do |category| %>
    				    <li>
                            <%= link_to category.name, buttercms_category_path(category.slug), :title => category.name, style: "#{params[:slug] == category.slug ? 'font-weight:bolder;': ''}" %>
                            <%#= "(#{category.recent_posts.length})" if category.recent_posts.present? %>
                        </li>
                            
    				<% end %>
                </ul>
            <%end%>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
            <h2 class="osLight h-r">Archive</h2>
            <ul class="blog-r-nav">
                <li><a href="#">October 2014</a></li>
                <li><a href="#">September 2014</a></li>
                <li><a href="#">August 2014</a></li>
                <li><a href="#">July 2014</a></li>
                <li><a href="#">June 2014</a></li>
                <li><a href="#">May 2014</a></li>
                <li><a href="#">April 2014</a></li>
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
            </ul>
        </div> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="osLight h-r">Popular Tags</h2>
            <div class="blog-tags">
                <% if @tags.present? %>
                    <% @tags.each do |tag| %>
                        <a href="<%=buttercms_tag_path(tag.slug)%>" title="<%=tag.name%>" class="label label-<%= params[:slug] == tag.slug ? 'success' : 'default' %>"><%=tag.name%></a>
                    <%end%>
                <%end%>
            </div>
        </div>
    </div>
</div>