- if @count % 2 == 0
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    .article
      %a.image{href: "#{buttercms_post_path(post.slug)}"}
        .bg-size-cover{style: "background-image: url('#{post.featured_image}')"}
      .article-category
        - post.categories.each do |category|
          %a.text-green{href: "#"}= category.name if params[:slug] != category.slug
           
      %h3.osLight= link_to truncate(post.title, length: 60), buttercms_post_path(post.slug), :title => post.title, target: 'new'
      %p
      .footer
        %span.text-muted
          = "#{post.author.first_name} #{post.author.last_name}, " if post.author.present? and post.author.first_name.present?
          = Time.parse(post.published).strftime('%B %d, %Y')
- elsif @count % 2 == 1
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    .article
      %a.image{href: buttercms_post_path(post.slug) }= image_tag(post.featured_image) if post.featured_image
      .article-category
        - post.categories.each do |category|
          %a.text-green{href: "#"}= category.name if params[:slug] != category.slug
           
      %h3.osLight= link_to truncate(post.title, length: 60), buttercms_post_path(post.slug), :title => post.title, target: 'new'
      %p
      .footer
        %span.text-muted
          = "#{post.author.first_name} #{post.author.last_name}, " if post.author.present? and post.author.first_name.present?
          = Time.parse(post.published).strftime('%B %d, %Y')