
	<% if @count % 2 == 0 %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="article">
        <a href="<%=buttercms_post_path(post.slug)%>" class="image"><%= image_tag(post.featured_image) if post.featured_image %></a>
        
        <div class="article-category">
        	<% post.categories.each do |category| %>
        		<a href="#" class="text-green"><%= category.name if params[:slug] != category.slug %></a> &nbsp;
        	<%end%>
        </div>
        
        <h3 class="osLight"><%= link_to truncate(post.title, length: 60), buttercms_post_path(post.slug), :title => post.title %></h3>
        
        <p><%#= post.summary %></p>
        <div class="footer"><span class="text-muted"><%="#{post.author.first_name} #{post.author.last_name}, " if post.author.present? and post.author.first_name.present? %> <%= Time.parse(post.published).strftime('%B %d, %Y') %></span></div>
    </div>
  </div>
  <% elsif @count % 2 == 1 %>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	    <div class="article">
	        <a href="<%=buttercms_post_path(post.slug)%>" class="image"><%= image_tag(post.featured_image) if post.featured_image %></a>
	        <div class="article-category">
	        	<% post.categories.each do |category| %>
	        		<a href="#" class="text-green"><%= category.name if params[:slug] != category.slug %></a> &nbsp;
	        	<%end%>
	        </div>
	        
	        <h3 class="osLight"><%= link_to truncate(post.title, length: 60), buttercms_post_path(post.slug), :title => post.title %></h3>
	        
	        <p><%#= post.summary %></p>
	        <div class="footer"><span class="text-muted"><%="#{post.author.first_name} #{post.author.last_name}, " if post.author.present? and post.author.first_name.present? %> <%= Time.parse(post.published).strftime('%B %d, %Y') %></span></div>
	    </div>
	  </div>
	<%end%>

