<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0">
<title>
  <% if content_for? :page_title %>
    <%= yield :page_title %> <%= seo_title_helper %>
  <% else %>
    <%= @tab_title_text = 'Apartments For Rent in NYC | All No Fee Apartments' %>
  <% end %>
</title>
<meta name="description" content="<%=@meta_desc%>">
<meta property="og:image" content="<%=asset_url('transparentcity-logo-black-blue-preview.png')%>" />
<meta property="og:url" content="<%=ENV['SERVER_ROOT']%>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%=@tab_title_text%>" />
<meta property="og:site_name" content="<%=ENV['DOMAIN_NAME']%>" />
<meta property="og:description" content="<%=@meta_desc%>" />
<%= javascript_include_tag js_path, defer: defer_flag %>
<%= favicon_link_tag 'favicon.png' %>
<%= csrf_meta_tags %>
<link rel="preload" as='font' type="font/woff2" crossorigin="anonymous" href="<%=font_path('OpenSans-SemiBold-Latin600.woff2')%>">
<link rel="preload" as='font' type="font/woff2" crossorigin="anonymous" href="<%=font_path('OpenSans-Regular-Latin400.woff2')%>">
<link rel="preload" as='font' type="font/woff2" crossorigin="anonymous" href="<%=asset_path('fontawesome-webfont.woff2')%>">
<link rel="alternate" href="<%=ENV['SERVER_ROOT']%>" hreflang="en-US"/>