<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
      <% if content_for? :page_title %>
        <%= yield :page_title %> | Transparentcity
      <% else %>
        <%= @tab_title_text = 'No Fee Apartments NYC, No Fee Rentals NYC, No Broker Fee Apartments For Rent In NYC | Transparentcity' %>
      <% end %>
    </title>
    <meta name="description"        content="<%=@meta_desc%>">
    <meta property="og:url"         content="https://www.transparentcity.co" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%=@tab_title_text%>" />
    <meta property="og:site_name"   content="transparentcity.co" />
    <meta property="og:description" content="<%=@meta_desc%>" />
    <% if action_name == 'managertools' %>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <%end%>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
    <!-- preloading assets not working in firefox -->
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="notransition no-hidden" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render partial: 'layouts/shared/left_side' %>
    <% unless hide_search_bar? %>
      <%= render partial: 'layouts/shared/header' %>
      <%= render partial: 'layouts/shared/filters' %>
      <div id="apt-ajax-loader" style='display: none;'><div><span class="fa fa-spin fa-4x fa-spinner"></span></div></div>
      <div class="closeLeftSide"></div>
      <div id="wrapper" class="<%=contribute_wrapper(params)%> <%=browser.device.mobile? ? 'screen-sm' : 'screen-lg'%> <%= @search_bar_hidden == :hidden ? 'mt0' : ''%>">
        <%= render partial: 'layouts/shared/filter_buttons' %>
        <div class="content <%= controller_name + action_name %>">
          <%= render 'layouts/shared/pop_neighborhoods_list' %>
          <%= yield %>
        </div>
        <%= render 'layouts/home/footer' if show_full_width_footer? && contribute_page? %>
      </div>
    <%else%>
      <%= render partial: 'layouts/home/header' if hide_search_bar? %>
      <%= yield %>
      <%= render 'layouts/home/footer' if show_full_width_footer? && about_page? %>
    <%end%>
    <div id="remote-container"></div>
    <%= render partial: 'neighborhood_links/guides_modal' if browser.device.mobile? && params[:searched_by].present? %>
    <%if current_user.blank? %>
      <%= render 'layouts/shared/signin' if controller_name != 'sessions' %>
      <%= render 'layouts/shared/signup' if controller_name != 'registrations' %>
    <%end%>

    <%= javascript_include_tag 'home' %>
    <%= javascript_include_tag 'zapp' %>

    <script type="text/javascript">
      $(function(){ new app.apartments; })
      // hiding autocomplete search results when no input given
      if($('#buildings-search-txt').length > 0){
        $(document).on('keyup', '#buildings-search-txt', function(e) {
          q = $(this).val();
          if (q == '') {
            $(".ui-autocomplete").hide();
            $(".no-match-link").addClass('hidden');
          }
        })
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
