<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
      <% tab_title = 'No Fee Apartments NYC and Apartment Reviews New York City' %>
      <% if content_for? :page_title %>
        <%= yield :page_title %> <%=tab_title%>
      <% else %>
        <%=tab_title%>
      <% end %>
    </title>
    
    <meta name="description" content="<%=@meta_desc%>">

    <meta property="og:url" content="https://www.transparentcity.co" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="No Fee Apartments NYC and Apartment Reviews NYC | Transparentcity" />
    <meta property="og:site_name" content="transparentcity.co" />
    <meta property="og:description" content="<%=@meta_desc%>" />
    <!-- <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /> -->

    <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => 'reload', defer: true, async: true  %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

    <%= csrf_meta_tags %>
  </head>
  <body class="notransition no-hidden" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render partial: 'layouts/shared/left_side' %>
    <% unless params[:controller] == 'home' and params[:action] == 'index'%>
      <%= render partial: 'layouts/shared/header' %>
      <%= render partial: 'layouts/shared/filters' %>
      <div class="closeLeftSide"></div>
      <div id="wrapper" class="<%=contribute_wrapper(params)%>">
        <%= render partial: 'layouts/shared/filter_buttons' %>
        <div class="content">
          <% if @show_nb_counts %>
            <div class="popular-neighborhoods" style="display: none;">
              <div class="pull-right" style="padding: 4px; cursor: pointer;">
                <%= link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeHoods' %>
              </div>
              <%= render partial: 'layouts/home/popular_neighborhoods' %>
            </div>
          <%end%>
          <%= yield %>
        </div>
        <%= render 'layouts/home/footer' if show_full_width_footer? and params[:action] != 'about' and params[:action] != 'contribute' %>
      </div>
    <%else%>
      <%= yield %>
      <%= render 'layouts/home/footer' if show_full_width_footer? and params[:action] != 'about' %>
    <%end%>
    <div id="remote-container"></div>
    <%= render partial: 'neighborhood_links/guides_modal' if browser.device.mobile? and params[:searched_by].present? %>
    <%= javascript_include_tag 'infobubble', async: true, defer: true %>
    <%= javascript_include_tag 'home', async: true, defer: true %>
    <%= javascript_include_tag 'zapp', async: true, defer: true %>
    
    <%if current_user.blank? %>
      <%= render 'layouts/shared/signin'%>
      <%= render 'layouts/shared/signup'%>
    <%end%>
    
    <script type="text/javascript">
      // if($('#slider').length > 0){
      //   $('#slider').rotateSlider({});
      // }
      
      $(function() {
        new app.apartments;
      });

      //hiding autocomplete search results when no input given
      if($('#buildings-search-txt').length > 0){
        $(document).on('keyup', '#buildings-search-txt', function(e) {
          q = $(this).val();

          if (q == '') {
            $(".ui-autocomplete").hide();
            $(".no-match-link").addClass('hidden');
          }
        })
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
    <% if params[:action] == 'search' or @gmaphash.present? %>
      <script async defer src="//maps.google.com/maps/api/js?v=3.32&key=<%=ENV['GEOCODER_API_KEY']%>&libraries=places&callback=initialize"></script>
      <script async defer src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%end%>
  </body>
</html>
