<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0">
    <title>
      <% if content_for? :page_title %>
        <%= yield :page_title %> <%= seo_title_helper %>
      <% else %>
        <%= @tab_title_text = 'Apartments For Rent | All No Fee Apartments' %>
      <% end %>
    </title>
    <meta name="description" content="<%=@meta_desc%>">

    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%if action_name == 'search' %>
      <script async src="https://maps.google.com/maps/api/js?v=3.44&key=<%=ENV['GEOCODER_API_KEY']%>&libraries=places"></script>
    <%end%>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/header'%>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
