<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
      <% tab_title = 'No Fee Apartments NYC and Apartment Reviews New York City' %>
      <% if content_for? :page_title %>
        <%= yield :page_title %> <%=tab_title%>
      <% else %>
        <%=tab_title%>
      <% end %>
      <%#= content_for?(:title) ? yield(:title) : '' %>
    </title>
    
    <meta name="description" content="<%=@meta_desc%> <%= yield :page_title %> <%=tab_title%>">

    <meta property="og:url" content="https://www.transparentcity.co" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="No Fee Apartments NYC and Apartment Reviews NYC | Transparentcity" />
    <meta property="og:site_name" content="transparentcity.co" />
    <meta property="og:description" content="<%=@meta_desc%> <%= yield :page_title %> <%=tab_title%>" />
    <!-- <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /> -->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    
    <script async src="//maps.google.com/maps/api/js?v=3.32&key=<%=ENV['GEOCODER_API_KEY']%>"></script>
    <script async src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body class="notransition no-hidden" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <% unless params[:controller] == 'home' and params[:action] == 'index'%>
      <%= render partial: 'layouts/shared/header' %>
      <%= render partial: 'layouts/shared/left_side' %>
      <%= render partial: 'layouts/shared/filters' %>
      <div class="closeLeftSide"></div>
      <div id="wrapper" class="<%=contribute_wrapper(params)%>">
        <%= render partial: 'layouts/shared/filter_buttons' %>
        <div class="content">
          <div class="popular-neighborhoods" style="display: none;">
            <div class="pull-right" style="padding: 4px; cursor: pointer;">
              <%= link_to '<span class="fa fa-times fa-3x"></span>'.html_safe, '#', class: 'closeHoods' %>
            </div>
            <%= render partial: 'layouts/home/popular_neighborhoods' %>
          </div>
          <%= yield %>
        </div>
      </div>
    <%else%>
      <%= yield %>
    <%end%>
    <%#= javascript_include_tag 'infobox' %>
    <%= javascript_include_tag 'infobubble' %>
    <%= javascript_include_tag 'home' %>
    <%= javascript_include_tag 'zapp' %>

    <%= render 'layouts/shared/signin' if current_user.blank? %>
    <%= render 'layouts/shared/signup' if current_user.blank? %>
    
    <script type="text/javascript">
      if($('#slider').length > 0){
        $('#slider').rotateSlider({});
      }
      
      // $(function() {
      //   new app.apartments;
      // });
   
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
