<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/layout_head', js_path: 'application', defer_flag: false %>
    
    <% if action_name == 'managertools' %>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <%end%>
    
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  
  <body class="notransition no-hidden">
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/left_side' if mobile? %>
    <% unless hide_search_bar? %>
      <%= render 'layouts/shared/search_modal'%>
      <%= render 'layouts/shared/wrapper' %>
    <%else%>
      <%= render 'layouts/home/header' if hide_search_bar? %>
      <div class="content-wrapper <%= controller_name + action_name %>">
        <%= render 'layouts/shared/pop_neighborhoods_list' %>
        <%= yield %>
      </div>
      <%= render 'layouts/home/footer' if show_full_width_footer? && !contribute_page? %>
    <%end%>
    
    <div id="remote-container"></div>
    <div id="auth-form"></div>
    
    <%= javascript_include_tag 'zapp' %>
    
    <%if @lat.present? && @lng.present? %>
      <script defer src='<%=gmap_url_helper%>'></script>
    <%end%>

    <script type="text/javascript">
      // hiding autocomplete search results when no input given
      if($('#buildings-search-txt').length > 0){
        $(document).on('keyup', '#buildings-search-txt', function(e) {
          q = $(this).val();
          if (q == '') {
            $(".ui-autocomplete").hide();
            $(".no-match-link").addClass('d-none');
          }
        })
      }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render 'layouts/shared/gtag_script' %>
  </body>
</html>
