<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>TransparentCity</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDZtWN-GlVsIjuQMP8xN5dit3PmlMb-qjA"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag %>
  </head>
  <body class="notransition no-hidden">
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= yield %>
    <%= render 'layouts/shared/signin' %>
    <%= render 'layouts/shared/signup' %>
    <%= javascript_include_tag 'infobox' %>
    <%= javascript_include_tag 'home' %>
    <%= javascript_include_tag 'zapp' %>
    
    <script type="text/javascript">
      //$('#slider').rotateSlider({});
      $(function() {
        new app.apartments;
      });
   
    </script>

    <script type="text/javascript">
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
      _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>
