<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>TransparentCity</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.png' %>
    <script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDZtWN-GlVsIjuQMP8xN5dit3PmlMb-qjA"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body class="notransition no-hidden" <%= "data-no-turbolinks='true'".html_safe %> >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <% unless params[:controller] == 'home' and params[:action] == 'index'%>
      <%= render partial: 'layouts/shared/header' %>
      <%= render partial: 'layouts/shared/left_side' %>
      <div class="closeLeftSide"></div>
      <div id="wrapper" class="<%=contribute_wrapper(params)%>">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    <%else%>
      <%= yield %>
    <%end%>

    <%= javascript_include_tag 'home' %>
    <%= javascript_include_tag 'zapp' %>

    <%= render 'layouts/shared/signin' %>
    <%= render 'layouts/shared/signup' %>
    
    <script type="text/javascript">
      $(function() {
        new app.apartments;
      });

    //touch siwpe for mobiles
    var swiper = new Swiper('.swiper-container', {
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      slidesPerView: 3,
      spaceBetween: 0,
      loop: true
    });
   
    </script>

    <script>
      // window.fbAsyncInit = function() {
      //   FB.init({
      //     appId      : '175999162913385',
      //     cookie     : true,
      //     xfbml      : true,
      //     version    : 'v2.8'
      //   });
      //   FB.AppEvents.logPageView();   
      // };

      // (function(d, s, id){
      //    var js, fjs = d.getElementsByTagName(s)[0];
      //    if (d.getElementById(id)) {return;}
      //    js = d.createElement(s); js.id = id;
      //    js.src = "//connect.facebook.net/en_US/sdk.js";
      //    fjs.parentNode.insertBefore(js, fjs);
      //  }(document, 'script', 'facebook-jssdk'));

      
      // FB.getLoginStatus(function(response) {
      //     statusChangeCallback(response);
      // });
    </script>
    
  </body>
</html>
