<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/layout_head', locals: { js_path: 'application' } %>
    <% if action_name == 'managertools' %>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <%end%>
    
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
    <%= web_fonts 'fonts' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  
  <body class="notransition no-hidden" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render partial: 'layouts/shared/left_side' %>
    <div id="apt-ajax-loader" style='display: none;'><div><span class="fa fa-spin fa-4x fa-spinner"></span></div></div>
    <% unless hide_search_bar? %>
      <%= render 'layouts/shared/wrapper' %>
    <%else%>
      <%= render partial: 'layouts/home/header' if hide_search_bar? %>
      <div class="content-wrapper <%= controller_name + action_name %>">
        <%= yield %>
      </div>
      <%= render 'layouts/home/footer' if show_full_width_footer? && !contribute_page? %>
    <%end%>
    
    <div id="remote-container"></div>
    <div id="auth-form"></div>

    <%= render 'buildings/favourite_script' %>
    <%= javascript_include_tag 'zapp' %>

    <script type="text/javascript">
      $(function(){ new app.apartments; })
      // hiding autocomplete search results when no input given
      if($('#buildings-search-txt').length > 0){
        $(document).on('keyup', '#buildings-search-txt', function(e) {
          q = $(this).val();
          if (q == '') {
            $(".ui-autocomplete").hide();
            $(".no-match-link").addClass('hidden');
          }
        })
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
