<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/layout_head', locals: { js_path: 'home/jquery.init' } %>
    <%if browser.chrome?%>
      <%= stylesheet_link_tag 'building/main', media: 'all', rel: 'preload', as: 'style', onload: "this.rel='stylesheet'" %>
    <%else%>
      <%= stylesheet_link_tag 'building/main', media: 'all' %>
    <%end%>
    
  </head>
  
  <body class="notransition no-hidden touch-scroll" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render partial: 'layouts/shared/left_side' %>
    <div id="apt-ajax-loader" style='display: none;'><div><span class="fa fa-spin fa-4x fa-spinner"></span></div></div>
    <% unless hide_search_bar? %>
      <%= render 'layouts/shared/wrapper' %>
    <%else%>
      <%= render partial: 'layouts/home/header' if hide_search_bar? %>
      <div class="content-wrapper <%= controller_name + action_name %>">
        <%= yield %>
      </div>
      <%= render 'layouts/home/footer' if show_full_width_footer? && !contribute_page? %>
    <%end%>
    
    <div id="remote-container"></div>

    <%= javascript_include_tag 'home/main'%>
    <%= javascript_include_tag 'building/main'%>
    <%= render 'buildings/favourite_script' %>
    <%= render 'buildings/show/map_script' %>
    <%= javascript_include_tag 'zapp'%>
    <%= javascript_include_tag 'home'%>


    <script type="text/javascript">
      $(function(){ new app.apartments; })
      // hiding autocomplete search results when no input given
      if($('#buildings-search-txt').length > 0){
        $(document).on('keyup', '#buildings-search-txt', function(e) {
          q = $(this).val();
          if (q == '') {
            $(".ui-autocomplete").hide();
            $(".no-match-link").addClass('hidden');
          }
        })
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
