<!DOCTYPE html>
<html lang="en">
  <head>
    <%= layout_stylesheet_link 'building-show' %>
    <%= render 'layouts/layout_head', js_path: 'home/jquery.init', defer_flag: Rails.env.production? %>
    <%= javascript_include_tag 'building/main', defer: true %>
    <%= javascript_include_tag 'home', defer: true%>
    <%= javascript_include_tag 'home/main', defer: true %>
    <script defer src="<%=gmap_url_helper%>"></script>
  </head>
  
  <body class="notransition no-hidden touch-scroll">
    <%= render 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/left_side' if mobile? %>
    <%= render 'layouts/shared/search_modal' %>
    <%= render 'layouts/shared/wrapper' %>

    <%= render 'layouts/shared/signin' %>
    
    <div id="remote-container"></div>
    <div id="auth-form"></div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        new app.apartments;
        // hiding autocomplete search results when no input given
        if($('#buildings-search-txt').length > 0){
          $(document).on('keyup', '#buildings-search-txt', function(e) {
            q = $(this).val();
            if (q == '') {
              $(".ui-autocomplete").hide();
              $(".no-match-link").addClass('d-none');
            }
          })
        }
        var slides_to_show = 1;
        if(!Device.type.mobile){
          slides_to_show = 2;
        }
        Card.initSlick(slides_to_show);
      }, false);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render 'layouts/shared/gtag_script' %>
  </body>
</html>
