<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/layout_head', locals: { js_path: 'home/jquery.init' } %>
    <%= layout_stylesheet_link 'home/main' %>
  </head>
  
  <body class="notransition no-hidden home">
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/left_side' if browser.device.mobile? %>
    <%= render 'layouts/shared/search_modal' %>
    <%= render 'layouts/home/header' %>
    <div class="content-wrapper <%= controller_name + action_name %>">
      <%= yield %>
      <%= render 'layouts/home/footer' if browser.device.mobile? %>
    </div>

    <%= render 'layouts/home/footer' unless browser.device.mobile? %>
    
    <div id="remote-container"></div>
    <div id="auth-form"></div>
    
    <%= javascript_include_tag 'home/main', defer: true %>
    <%= render 'buildings/favourite_script' %>
    <%= javascript_include_tag 'home' %>

    <script type="text/javascript">
      $(function(){ new app.apartments; });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
