<!DOCTYPE html>
<html lang="en">
  <head>
    <%= layout_stylesheet_link 'home/main' %>
    <%= render 'layouts/layout_head', js_path: 'home/jquery.init', defer_flag: Rails.env.production? %>
    <%= javascript_include_tag 'home/main', defer: true %>
    <!-- lazyloading home page featured and popular secitions -->
    <%= javascript_include_tag 'home/sections', defer: true %>
    <%= javascript_include_tag 'home', defer: true  %>
  </head>
  
  <body class="notransition no-hidden home">
    <%= render 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/left_side' if mobile? %>
    <%= render 'layouts/shared/search_modal' %>
    <%= render 'layouts/home/header' %>
    <div class="content-wrapper <%= controller_name + action_name %>">
      <%= yield %>
      <%= render 'layouts/home/footer' if mobile? %>
    </div>

    <%= render 'layouts/home/footer' unless mobile? %>
    
    <div id="remote-container"></div>
    <div id="auth-form"></div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        new app.apartments; 
      }, false);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>

    <%= render 'layouts/shared/gtag_script' %>
  </body>
</html>
