<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/layout_head', js_path: 'home/jquery.init', defer_flag: Rails.env.production? %>
    <%= layout_stylesheet_link 'home/main' %>
    <%= javascript_include_tag 'home/main', defer: true %>
    <!-- lazyloading home page featured and popular secitions -->
    <%= javascript_include_tag 'home/sections', defer: true %>
    <%= javascript_include_tag 'home', defer: true  %>
  </head>
  
  <body class="notransition no-hidden home">
    <%= render 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/left_side' if mobile? %>
    <%= render 'layouts/shared/search_modal' %>
    <%= render 'layouts/home/header' %>
    <div class="content-wrapper <%= controller_name + action_name %>">
      <%= yield %>
      <%= render 'layouts/home/footer' if mobile? %>
    </div>

    <%= render 'layouts/home/footer' unless mobile? %>
    
    <div id="remote-container"></div>
    <div id="auth-form"></div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        new app.apartments; 
      }, false);
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
