<!DOCTYPE html>
<html lang="en">
  <head>
    <%= layout_stylesheet_link 'split_view/main' %>
    <%= render 'layouts/layout_head', js_path: 'home/jquery.init', defer_flag: Rails.env.production? %>
    <%= javascript_include_tag 'home/main', defer: true %>
    <%= javascript_include_tag 'search/main', defer: true %>
    <%= javascript_include_tag 'zapp', defer: true %>
    <script defer src='<%=gmap_url_helper%>'></script>
  </head>
  
  <body class="notransition no-hidden" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render 'layouts/shared/left_side' if mobile? %>
    <%= render 'layouts/shared/search_modal' %>

    <%= render 'layouts/shared/wrapper' %>

    <div id="remote-container"></div>
    <div id="auth-form"></div>
    
    <% if listings_filters.present? %>
      <%= hidden_field_tag :list_amenities, listings_filters[:amenities] %>
      <%= hidden_field_tag :list_bedrooms,  listings_filters[:listing_bedrooms] %>
      <% if listings_filters[:min_price].present? %>
        <%= hidden_field_tag :list_min_price, listings_filters[:min_price] %>
        <%= hidden_field_tag :list_max_price, listings_filters[:max_price] %>
      <%end%>
    <%end%>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        new app.apartments; 
      }, false);
    </script>

    <script defer type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render 'layouts/shared/gtag_script' %>
  </body>
</html>
