<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/layout_head', locals: { js_path: 'home/jquery.init' } %>
    <%= layout_stylesheet_link 'split_view/main' %>
  </head>
  
  <body class="notransition no-hidden" >
    <%= render partial: 'layouts/shared/flash_messages', flash: flash  %>
    <%= render partial: 'layouts/shared/left_side' %>
    
    <%= render partial: 'layouts/shared/search_modal'%>

    <%= render 'layouts/shared/wrapper' %>

    <div id="remote-container"></div>
    <div id="auth-form"></div>

    <!-- <div id="apt-ajax-loader" style='display: none;'><div><span class="fa fa-spin fa-4x fa-spinner"></span></div></div> -->

    <%= javascript_include_tag 'home/main'%>
    <%= javascript_include_tag 'search/main'%>
    <%= render 'buildings/favourite_script' %>
    <%= javascript_include_tag 'zapp'%>
    
    <script defer src='<%=gmap_url_helper%>'></script>

    <%= javascript_include_tag 'search/map', defer: true %>

    <script type="text/javascript">
      $(function(){ new app.apartments; })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%=ENV['GOOGLE_TRACKING_ID']%>");
    </script>
  </body>
</html>
